
/* Banner 01 */
.banner-01 .slide-container{position:relative;}
.banner-01 .slide .wrapper{position:relative; width:100%; padding:37% 0 0 0; overflow:hidden;}
.banner-01 .slide .wrapper > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-01 .dot-wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    pointer-events:none;
}
.banner-01 .dot-container{pointer-events:auto;}
.banner-01 .slick-dots{list-style:none; padding:0; margin:0; width:.75rem;}
.banner-01 .slick-dots li{padding:0; margin:0;}
.banner-01 .slick-dots button{
    position:relative; display:block; width:.3125rem; height:.3125rem;
    padding:0; margin:.5625rem auto; border:0; border-radius:50%; outline:none;
    font-size:0; opacity:1; cursor:pointer; box-shadow:none;
    transition:background .25s, width .25s, height .25s, margin .25s;
}
.banner-01 .slick-dots li.slick-active button{
    width:.5625rem; height:.5625rem; margin:.75rem auto;
}
.banner-01 .slick-dots button::before{
    content:''; position:absolute; top:50%; left:50%; width:.9375rem; height:.9375rem;
    border-radius:50%; border:1px solid transparent; transform:translate(-50%,-50%);
    opacity:0; transition:opacity .25s;
}
.banner-01 .slick-dots li.slick-active button::before{opacity:1;}
.banner-01 .arrow-container{
    position:absolute; top:0; bottom:0; left:0; right:0; pointer-events:none;
    display:flex; align-items:center; justify-content:space-between;
}
.banner-01 .arrow{display:block; pointer-events:auto; cursor:pointer; transition:opacity .25s;}
.banner-01 .arrow:hover{opacity:.75;}
.banner-01 .arrow img{display:block; height:3rem; width:auto;}
@media screen and (max-width:992.98px){
    .banner-01 .slide .wrapper{padding:50% 0 0 0;}
}
@media screen and (max-width:767.98px){
    .banner-01 .slide .wrapper{padding:56% 0 0 0;}
    .banner-01 .dot-container{display:none;}
    .banner-01 .arrow-container{display:none;}
}
@media screen and (max-width:575.98px){
    .banner-01 .slide .wrapper{padding:66% 0 0 0;}
}

.banner-01 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-01 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-01 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Banner 02 */
.banner-02 .slide-container{position:relative;}
.banner-02 .slide .wrapper{position:relative; width:100%; padding:37% 0 0 0; overflow:hidden;}
.banner-02 .slide .wrapper > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-02 .dot-wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    pointer-events:none;
}
.banner-02 .dot-container{pointer-events:auto;}
.banner-02 .slick-dots{list-style:none; padding:0; margin:0; width:.75rem;}
.banner-02 .slick-dots li{padding:0; margin:0;}
.banner-02 .slick-dots button{
    position:relative; display:block; width:.3125rem; height:.3125rem;
    padding:0; margin:.5625rem auto; border:0; border-radius:50%; outline:none;
    font-size:0; opacity:1; cursor:pointer; box-shadow:none;
    transition:background .25s, width .25s, height .25s, margin .25s;
}
.banner-02 .slick-dots li.slick-active button{
    width:.5625rem; height:.5625rem; margin:.75rem auto;
}
.banner-02 .slick-dots button::before{
    content:''; position:absolute; top:50%; left:50%; width:.9375rem; height:.9375rem;
    border-radius:50%; border:1px solid transparent; transform:translate(-50%,-50%);
    opacity:0; transition:opacity .25s;
}
.banner-02 .slick-dots li.slick-active button::before{opacity:1;}
.banner-02 .arrow-container{
    position:absolute; top:0; bottom:0; left:0; right:0; pointer-events:none;
    display:flex; align-items:center; justify-content:space-between; padding:0 1rem;
}
.banner-02 .arrow{display:block; pointer-events:auto; cursor:pointer; transition:opacity .25s;}
.banner-02 .arrow:hover{opacity:.75;}
.banner-02 .arrow img{display:block; height:2.5rem; width:auto;}
@media screen and (max-width:992.98px){
    .banner-02 .slide .wrapper{padding:50% 0 0 0;}
    .banner-02 .arrow img{height:2.25rem;}
}
@media screen and (max-width:767.98px){
    .banner-02 .slide .wrapper{padding:56% 0 0 0;}
    .banner-02 .dot-container{display:none;}
    .banner-02 .arrow img{height:2rem;}
}
@media screen and (max-width:575.98px){
    .banner-02 .slide .wrapper{padding:66% 0 0 0;}
}

.banner-02 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-02 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-02 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Banner 03 */
.banner-03{position:relative; width:100%;}
.banner-03 .slide-container{display:block; position:relative; width:100%;}
.banner-03 .slide{
    position:relative; min-height:100vh; padding:3rem 0; overflow:hidden !important;
    display:flex; align-items:center; 
}
.banner-03 .slide > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-03 .slide .text-wrapper{padding:0 0 3rem 0;}
.banner-03 .dot-container{position:absolute; bottom:6rem; left:0; right:0;}
.banner-03 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.banner-03 .slick-dots li{display:block; margin:0 .3125rem;}
.banner-03 .slick-dots button{
    display:block; font-size:0; width:.625rem; height:.625rem; border-radius:.3125rem;
    padding:0; box-shadow:none; border:0; margin:0; outline:none; cursor:pointer;
    transition:width .25s;
}
.banner-03 .slick-dots li.slick-active button{width:1.5rem;}
@media screen and (max-width:767.98px){
    .banner-03 .slide .text-wrapper{padding:0 0 2.5rem 0;}
    .banner-03 .dot-container{bottom:5.5rem;}
}

.banner-03 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:all ease-in-out .75s;
}
.banner-03 .slide.slick-active .animate{opacity:1; transform:none; transition-delay:var(--delay);}
.loading .banner-03 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}
.banner-03 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-03 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-03 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Banner 04 */
.banner-04{position:relative; width:100%;}
.banner-04 .pattern{
    display:block; height:37rem; width:auto; position:absolute; 
    bottom:2rem; left:-5.5rem; z-index:2;
}
.banner-04 .slide-container{display:block; position:relative; width:100%;}
.banner-04 .slide{
    position:relative; min-height:100vh; padding:3rem 0; overflow:hidden !important;
    display:flex; align-items:center; 
}
.banner-04 .slide > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-04 .slide .text-wrapper{padding:0 0 3rem 0;}
.banner-04 .dot-container{position:absolute; bottom:2.5rem; left:0; right:0;}
.banner-04 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.banner-04 .slick-dots li{display:block; margin:0 .3125rem;}
.banner-04 .slick-dots button{
    display:block; font-size:0; width:1.5625rem; height:.625rem; border-radius:.3125rem;
    padding:0; box-shadow:none; border:0; margin:0; outline:none; cursor:pointer;
    transition:width .25s;
}
.banner-04 .slick-dots li.slick-active button{width:3rem;}
@media screen and (max-width:767.98px){
    .banner-04 .slide .text-wrapper{padding:0 0 2.5rem 0;}
    .banner-04 .dot-container{bottom:5.5rem;}
}

.banner-04 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:all ease-in-out .75s;
}
.banner-04 .slide.slick-active .animate{opacity:1; transform:none; transition-delay:var(--delay);}
.loading .banner-04 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}
.banner-04 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-04 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-04 .slide.slick-current .img-bg{transform:scale(1.2);}



/* Info 01 */
.info-01{position:relative; padding-bottom:12rem; overflow:hidden;}
.info-01 > .img-bg{
    position:absolute; top:0; bottom:-2px; left:0; right:0; background-repeat:no-repeat;
    background-size:100% auto; background-position:bottom center;
}
.info-01 .slide-container{position:relative; padding:0 0 .375rem 0;}
.info-01 .slides{width:calc(100% + 2px); margin:0 -1px;}
.info-01 .slide{padding:0 1px;}
.info-01 .dot-container{display:flex; justify-content:center; width:100%; margin:.5rem 0 0 0;}
.info-01 .slick-dots{
    display:flex; align-items:center; justify-content:center; flex-wrap:wrap;
    list-style:none; padding:0; margin:0;
}
.info-01 .slick-dots li{display:block; margin:.125rem;}
.info-01 .slick-dots button{
    position:relative; display:block; font-size:0; width:3rem; height:.5rem; cursor:pointer;
    border-radius:0; padding:0; box-shadow:none; border:0; margin:0; outline:none;
    background:transparent; border:1.6px solid transparent; transition:background .25s;
}
.info-01 .slide-container .btns{position:absolute; bottom:0; right:0; width:auto;}
.info-01 .quote-container{
    width:100%; display:flex; justify-content:center; margin:4rem 0 0 0;
}
.info-01 .quote-container > .wrapper{position:relative;}
.info-01 .quote-container .quote{display:block; height:1.5rem; width:auto; position:absolute;}
.info-01 .quote-container .quote.quote-left{top:0; right:calc(100% + .75rem);}
.info-01 .quote-container .quote.quote-right{bottom:1.75rem; left:calc(100% + .5rem);}
@media screen and (max-width:1199.98px){
    .info-01 .quote-container .quote{height:1.375rem;}
}
@media screen and (max-width:991.98px){
    .info-01{background-size:1200px auto; padding-bottom:10rem;}
    .info-01 .slide-container .btns{
        position:relative; bottom:unset; right:unset; width:100%; justify-content:center;
        margin:1.25rem 0 0 0;
    }
    .info-01 .quote-container{margin:3rem 0 0 0;}
    .info-01 .quote-container .quote{height:1.25rem;}
    .info-01 .quote-container .quote.quote-left{top:0;}
    .info-01 .quote-container .quote.quote-right{bottom:1.625rem;}
}
@media screen and (max-width:767.98px){
    .info-01{background-size:900px auto; padding-bottom:9rem;}
    .info-01 .quote-container{margin:2.5rem 0 0 0;}
    .info-01 .quote-container .quote{height:1.125rem;}
    .info-01 .quote-container .quote.quote-left{top:0; right:calc(100% + .5rem);}
    .info-01 .quote-container .quote.quote-right{bottom:1.5rem; left:calc(100% + .125rem);}
}


/* Info 02 */
.info-02{position:relative; overflow:hidden;}
.info-02 .grids{--gs:1.5rem}
.info-02 > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.info-02 > .container{position:relative;}
.info-02 .section-tab{
    position:relative; width:100%; height:100%; display:flex; align-items:center;
    padding:1rem 0; transition:background .25s, color .25s;
}
.info-02 .section-tab::before, .info-02 .section-tab.main::after{
    display:none; content:''; position:absolute; top:0; bottom:0; width:50vw;
    transition:background .25s;
}
.info-02 .section-tab::before{right:99%;}
.info-02 .section-tab::after{left:99%;}
.info-02 .section-tab.main::before{display:block;}
.info-02 .section-tab .icon{
    display:flex; align-items:center; justify-content:center;
    width:3.5rem; height:4.5rem; margin:0 1rem 0 0;
}
.info-02 .section-tab .icon img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
.info-02 .section-tab .arrow{
    display:flex; align-items:center; justify-content:center; width:1.75rem; height:1.75rem;
    border-radius:50%; font-size:.875rem; margin:.1875rem 0 0 0;
}
@media screen and (max-width:991.98px){
    .info-02 .section-tab .icon{width:3rem; height:3.5rem;}
}
@media screen and (max-width:575.98px){
    .info-02 .section-tab.main::after{display:block;}
}


/* Paginate */
.paginate{display:flex; align-items:center; justify-content:center; flex-wrap:wrap;}
.paginate > .pages{display:flex; justify-content:center; align-items:center;}
.paginate .page{
    display:flex; align-items:center; justify-content:center;
    border-radius:.25rem; cursor:pointer; font-size:1.3125rem; font-weight:300;
    padding:.125rem 0 0 0; margin:.0625rem .0625rem; width:1.875rem; height:1.875rem;
    transition:background .25s, color .25s, box-shadow .25s;
}
.paginate .page.page-prev, .paginate .page.page-next{font-size:.875rem;}
.paginate .page.page-prev{margin-right:.75rem;}
.paginate .page.page-next{margin-left:.75rem;}
.paginate .btn.btn-action{margin:0 0 0 .5rem;}
@media screen and (max-width:575.98px){
    .paginate > .pages{width:100%;}
    .paginate .btn.btn-action{margin:.75rem 0 0 0;}
}


/* Section 01 */
.section-01 .info-cards{
    display:flex; justify-content:center; flex-wrap:wrap; padding:.25rem;
    position:relative; z-index:1;
}
.section-01 .info-card{width:calc(100% / 6); padding:.25rem;}
.section-01 .info-card .text-wrapper{padding:1rem 0;}
@media screen and (max-width:1199.98px){
    .section-01 .info-card{width:calc(100% / 4);}
}
@media screen and (max-width:991.98px){
    .section-01 .info-card{width:calc(100% / 3);}
}
@media screen and (max-width:575.98px){
    .section-01 .info-card{width:calc(100% / 2);}
}


/* Section 02 */
.section-02 .slide-container{position:relative; width:100%; overflow:hidden;}
.section-02 .slide .wrapper{position:relative; width:100%; padding:40% 0 0 0; overflow:hidden}
.section-02 .slide .wrapper > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.section-02 .dot-container{
    position:absolute; top:0; bottom:0; right:1rem; display:flex; align-items:center;
}
.section-02 .slick-dots{list-style:none; padding:0; margin:0; width:.75rem;}
.section-02 .slick-dots li{padding:0; margin:0;}
.section-02 .slick-dots button{
    position:relative; display:block; width:.3125rem; height:.3125rem;
    padding:0; margin:.5625rem auto; border:0; border-radius:50%; outline:none;
    font-size:0; opacity:1; cursor:pointer; box-shadow:none;
    transition:background .25s, width .25s, height .25s, margin .25s;
}
.section-02 .slick-dots li.slick-active button{
    width:.5625rem; height:.5625rem; margin:.75rem auto;
}
.section-02 .slick-dots button::before{
    content:''; position:absolute; top:50%; left:50%; width:.9375rem; height:.9375rem;
    border-radius:50%; border:1px solid transparent; transform:translate(-50%,-50%);
    opacity:0; transition:opacity .25s;
}
.section-02 .slick-dots li.slick-active button::before{opacity:1;}

.section-02 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.section-02 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .section-02 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Section 03 */
.section-03{position:relative;}
.section-03 > .hero{
    position:absolute; top:2rem; bottom:2rem; left:0; right:0; overflow:hidden;
    display:flex; align-items:flex-end; justify-content:center;
}
.section-03 > .hero > img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
.section-03 .grids{justify-content:flex-end;}
.section-03 .info-container{
    display:block; width:100%; max-width:31rem; padding:4rem 0 13rem 11rem;
}
@media screen and (max-width:991.98px){
    .section-03 .info-container{max-width:20rem; padding:3rem 0 12rem 0;}
    .section-03 > .hero > img{transform:translateX(-10rem);}
}
@media screen and (max-width:767.98px){
    .section-03 .info-container{padding:2rem 0 10rem 0;}
    .section-03 > .hero > img{transform:translateX(-8rem);}
}
@media screen and (max-width:575.98px){
    .section-03 .info-container{padding:0 0 75% 0; margin:0 auto;}
    .section-03 > .hero > img{transform:translateX(0);}
}


/* Section 04 */
.section-04{overflow:hidden;}
.section-04 .section-tabs{display:flex; width:100%;}
.section-04 .section-tab{
    position:relative; width:calc(70% / 3); display:flex; align-items:center;
    padding:1rem 1.5rem; transition:background .25s, color .25s;
}
.section-04 .section-tab.main{width:30%; padding-left:0;}
.section-04 .section-tab::before, .section-04 .section-tab::after{
    display:none; content:''; position:absolute; top:0; bottom:0; width:50vw;
    transition:background .25s;
}
.section-04 .section-tab::before{right:99%;}
.section-04 .section-tab::after{left:99%;}
.section-04 .section-tab:nth-child(1)::before{display:block;}
.section-04 .section-tab:nth-child(4)::after{display:block;}
.section-04 .section-tab .icon{
    display:flex; align-items:center; justify-content:center; width:2.5rem;
    margin:0 1rem 0 0; font-size:2rem;
}
.section-04 .section-tab.main .icon{
    width:5rem; height:100%; padding:0 1rem 0 0; border-right:1px solid transparent;
}
.section-04 .section-tab.main .icon img{
    display:block; width:auto; max-width:4rem; height:auto; max-height:4rem;
}
@media screen and (max-width:991.98px){
    .section-04 .section-tabs{flex-wrap:wrap;}
    .section-04 .section-tab{width:calc(100% / 3); padding:1rem!important;}
    .section-04 .section-tab.main{width:100%;}
    .section-04 .section-tab:nth-child(1)::after{display:block;}
    .section-04 .section-tab:nth-child(2)::before{display:block;}
    .section-04 .section-tab .icon{width:2rem; margin:0 .75rem 0 0; font-size:1.875rem;}
    .section-04 .section-tab.main .icon{width:4.5rem;}
    .section-04 .section-tab.main .icon img{max-width:3.5rem; max-height:3.5rem;}
}
@media screen and (max-width:767.98px){
    .section-04 .section-tab.main .icon{width:4rem;}
    .section-04 .section-tab.main .icon img{max-width:3rem; max-height:3rem;}
}
@media screen and (max-width:575.98px){
    .section-04 .section-tab{width:100%;}
    .section-04 .section-tab::before, .section-04 .section-tab::after{display:block!important;}
}


/* Section 05 */
.section-05 .slide-container{position:relative; width:100%; margin:-4.25rem 0 0 0;}
.section-05 .slides{width:100%;}
.section-05 .slide{padding:0;}
.section-05 .section-card{
    display:block; position:relative; width:100%; white-space:nowrap; text-align:right;
    border-radius:0 1rem 0 1rem; margin:.75rem 0 1rem 0; padding:1rem 0 1.5rem 0;
    overflow:hidden; transition:margin .25s, padding .25s, border-radius .25s;
}
.section-05 .section-card:hover{margin:0; padding:.5rem 0 3.75rem 0;}
.section-05 .section-card .filter{
    position:absolute; top:0; bottom:0; left:0; right:0; opacity:0; transition:opacity .25s;
}
.section-05 .section-card:hover .filter{opacity:1;}
.section-05 .section-card .text-wrapper{
    position:relative; width:100%; padding:0 .5rem; height:2.1875rem;
}
.section-05 .section-card .icon{
    position:absolute; bottom:.5rem; left:.5rem; width:1rem; height:1rem; border-radius:50%;
    display:flex; align-items:center; justify-content:center; font-size:.625rem;
    transition:left .25s, background .25s, color .25s;
}
.section-05 .section-card:hover .icon{left:calc(100% - 1.5rem);}
.section-05 .section-card .hero{
    position:absolute; bottom:-1.375rem; left:-2.25rem; opacity:0;
    display:block; height:8rem; width:auto; transition:opacity .25s;
}
.section-05 .section-card:hover .hero{opacity:1;}
.section-05 .slide-container{position:relative; width:100%;}
.section-05 .slide-container .arrow-container{
  position:absolute; top:0; bottom:0; left:-1.5rem; right:-1.5rem; pointer-events:none;
  display:flex; align-items:center; justify-content:space-between;
}
.section-05 .slide-container .arrow{
  cursor:pointer; pointer-events:auto; font-size:1.25rem; opacity:1;
  transition:opacity .25s, background .25s, color .25s;
}


/* Section 06 */
.section-06 .section-tabs{position:relative; width:100%; display:flex; flex-wrap:wrap;}
.section-06 .ss-card{
    position:relative; width:50%; display:flex; align-items:center; justify-content:center;
    background-size:cover; background-position:center; overflow:hidden;
}
.section-06 .ss-card .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; opacity:0; transition:opacity .25s;
}
.section-06 .ss-card:hover .img-bg{opacity:1;}
.section-06 .ss-card .text-wrapper{position:relative; text-align:center; padding:2.5rem 0;}
.section-06 .ss-card .hero{
    position:absolute; top:0; bottom:0; display:flex; align-items:center; opacity:0;
    padding:1.25rem 0 0 0; transition:opacity .25s;
}
.section-06 .ss-card:hover .hero{opacity:1;}
.section-06 .ss-card:nth-child(odd) .hero{right:-5rem;}
.section-06 .ss-card:nth-child(even) .hero{left:-5rem;}
.section-06 .ss-card .hero img{display:block; height:150%; width:auto;}
@media screen and (max-width:1199.98px){
    .section-06 .ss-card .text-wrapper{padding:2rem 0;}
    .section-06 .ss-card .hero img{height:140%;}
    .section-06 .ss-card:nth-child(odd) .hero{right:-4.5rem;}
    .section-06 .ss-card:nth-child(even) .hero{left:-4.5rem;}
}
@media screen and (max-width:991.98px){
    .section-06 .ss-card .text-wrapper{padding:1.5rem 0;}
    .section-06 .ss-card:nth-child(odd) .hero{right:-3.5rem;}
    .section-06 .ss-card:nth-child(even) .hero{left:-3.5rem;}
}
@media screen and (max-width:767.98px){
    .section-06 .ss-card .hero{display:none;}
}
@media screen and (max-width:575.98px){
    .section-06 .ss-card{width:100%;}
}


/* Section 07 */
.section-07{position:relative; margin:-.75rem 0 0 0; z-index:2;}
.section-07 .slide{padding:.75rem 0 0 0;}
.section-07 .slide > .wrapper{
    position:relative; display:block; width:100%; height:100%; padding:1rem .5rem 2.75rem .5rem;
    cursor:pointer; transition:background .25s, color .25s;
}
.section-07 .slide > .wrapper::after{
    content:''; position:absolute; bottom:calc(100% - 1px); left:calc(50% - .75rem);
    width:1.5rem; height:.75rem; clip-path:polygon(50% 0,100% 100%,0 100%);
    opacity:0; transition:opacity .25s;
}
.section-07 .slide:hover > .wrapper::after{opacity:1;}
.section-07 .slide .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; opacity:0; transition:opacity .25s;
}
.section-07 .slide:hover .img-bg{opacity:1;}
.section-07 .slide .hero{
    position:relative; display:flex; align-items:center; justify-content:center;
    width:100%; height:5rem;
}
.section-07 .slide .hero > img{
    display:block; width:auto; max-width:6.5rem; height:auto; max-height:5rem;
}
.section-07 .slide .text-wrapper{position:relative; min-height:2.1875rem; margin:.75rem 0 0 0;}
.section-07 .slide .icon{
    position:absolute; bottom:.75rem; left:calc(50% - .6875rem); width:1.375rem; height:1.375rem;
    border-radius:50%; display:flex; align-items:center; justify-content:center; font-size:.625rem;
    opacity:0; transition:opacity .25s, background .25s, color .25s;
}
.section-07 .slide:hover .icon{opacity:1;}


/* Section 08 */
.section-08{position:relative; z-index:1;}
.section-08 .grids{--gs:2px;}


/* Section 09 */
.section-09{position:relative; margin:-4rem 0 0 0;}
.section-09::before{content:''; position:absolute; top:4rem; bottom:0; left:0; right:0;}
.section-09 .section-cards{position:relative; display:flex; border-radius:.5rem; overflow:hidden;}
.section-09 .section-card{
    display:flex; align-items:center; width:25%; height:100%; padding:1.5rem;
    border-right:1px solid transparent; transition:background .25s, color .25s;
}
.section-09 .section-card .icon{
    display:flex; justify-content:center; align-items:center; 
    min-width:4.6875rem; min-height:4.6875rem; border-radius:50%; 
}
.section-09 .section-card .icon img{
    display:block; width:auto; max-width:50%; height:auto; max-height:50%;
}
.section-09 .section-card .text-wrapper{
    display:flex; align-items:center; padding-left:1rem;
}
@media screen and (max-width:1199.98px){
    .section-09 .section-card{padding:1.25rem;}
}
@media screen and (max-width:991.98px){
    .section-09 .section-cards{flex-wrap:wrap;}
    .section-09 .section-card{width:50%; border-bottom:1px solid transparent;}
    .section-09 .section-card .icon{min-width:4.375rem; min-height:4.375rem;}
}
@media screen and (max-width:767.98px){
    .section-09 .section-card{padding:1rem;}
    .section-09 .section-card .icon{min-width:4rem; min-height:4rem;}
}
@media screen and (max-width:575.98px){
    .section-09 .section-card{width:100%;}
    .section-09 .section-card .icon{min-width:3.75rem; min-height:3.75rem;}
}


/* Section 10 */
.section-10{position:relative; height:100%; min-height:400px; z-index:1;}
.section-10 .slide-container{position:relative; margin:2.5rem 0 0 0;}
.section-10 .slides{overflow:hidden; border-radius:.5rem;}
.section-10 .section-card{
    display:flex; flex-direction:column; justify-content:center;  height:100%; padding:1.5rem; 
    transition:background .25s, color .25s;
}
.section-10 .section-card .title{min-height:7rem;}
.section-10 .section-card .more{
    display:flex; align-items:center; justify-content:center; border-radius:1000em;
    padding:0rem 0 0 0; width:2.5rem; height:1.5rem;
}
.section-10 .dot-container{display:block; margin:2.5rem 0 0 0;}
.section-10 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.section-10 .slick-dots li{display:block; margin:0 .3125rem;}
.section-10 .slick-dots button{
    display:block; font-size:0; width:.625rem; height:.625rem; border-radius:.3125rem;
    cursor:pointer; padding:0; box-shadow:none; border:0; margin:0; outline:none;
    transition:width .25s;
}
.section-10 .slick-dots li.slick-active button{width:1.5rem;}
.section-10 .btns{position:absolute; bottom:-1rem; right:0; width:auto;}
@media screen and (max-width:767.98px){
    .section-10 .btns{
        position:relative; bottom:unset; right:unset; width:100%; justify-content:center;
        margin:1.5rem 0 0 0;
    }
}


/* Section 11 */
.section-11{
    position:relative; height:100%; min-height:500px; margin:-10rem 0 0 0; padding-top:15rem;
}
.section-11 > .pattern{
    display:block; height:37rem; width:auto; position:absolute; bottom:2rem; left:-5.5rem;
}


/* Section 12 */
.section-12 .btns{margin:1.5rem 0 0 0; justify-content:flex-end;}
@media screen and (max-width:991.98px){
    .section-12 .btns{justify-content:center;}
}


/* Section 13 */
.section-13{position:relative; height:100%; min-height:400px; z-index:1;}
.section-13 .slide-container{position:relative; margin:2.5rem 0 0 0;}
.section-13 .slides{overflow:hidden; border-radius:.5rem;}
.section-13 .section-card{
    display:flex; flex-direction:column; justify-content:center;  height:100%; padding:.5rem; 
    transition:background .25s, color .25s;
}
.section-13 .section-card > .card-footer{position:relative; margin-top:-2rem; margin-right:1rem;}
.section-13 .section-card > .card-footer .text-container{
    padding:.5rem 1rem; border-top-left-radius:.5rem; border-bottom-left-radius:.5rem; 
}
.section-13 .section-card > .card-footer .text-container .title{
    display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp:2;
    overflow:hidden;
}
.section-13 .section-card > .card-footer .icon{
    display:flex; align-items:center; justify-content:center; padding:.5rem 1rem;
    border-top-right-radius:.5rem; border-bottom-right-radius:.5rem;
}
.section-13 .section-card > .card-footer .icon img{width:35px; height:35px;}
.section-13 .section-card .more{
    display:flex; align-items:center; justify-content:center; border-radius:1000em;
    padding:0rem 0 0 0; width:2.5rem; height:1.5rem;
}
.section-13 .dot-container{display:block; margin:2.5rem 0 0 0;}
.section-13 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.section-13 .slick-dots li{display:block; margin:0 .3125rem;}
.section-13 .slick-dots button{
    display:block; font-size:0; width:1.5625rem; height:.625rem; border-radius:.3125rem;
    cursor:pointer; padding:0; box-shadow:none; border:0; margin:0; outline:none;
    transition:width .25s;
}
.section-13 .slick-dots li.slick-active button{width:3rem;}
.section-13 .btns{position:absolute; bottom:-1rem; right:0; width:auto;}
@media screen and (max-width:767.98px){
    .section-13 .btns{
        position:relative; bottom:unset; right:unset; width:100%; 
        justify-content:center; margin:1.5rem 0 0 0;
    }
}


/* Section 14 */
@media screen and (max-width:991.98px){
    .section-14 .btns:last-child{justify-content:center !important;}
}


/* Section 16 */
.section-16.section-padding{padding:4rem 0 12rem 0 !important;}
.section-16 .ss-card .desc{min-height:3rem;}
.section-16 .socials{display:flex; align-items:center; margin:-.375rem -.375rem 0 0;}
.section-16 .socials > .social{
  position:relative; display:flex; align-items:center; justify-content:center;
  overflow:hidden; width:2.25rem; height:2.25rem; border-radius:50%; font-size:1.125rem; margin:.375rem .375rem 0 0;
  transition:background .5s, color .5s, border-color .5s, background-image .25s;
}


/* Section 17 */
.section-17 .text-container{padding:2rem;}
.section-17 .opinion-poll{border-radius:.5rem; overflow:hidden; margin-top:-12rem;}


/* Section 18 */
.section-18{position:relative;}
.section-18 .slide-container{position:relative; margin:2.5rem 0 0 0;}
.section-18 .section-card{
    display:flex; flex-direction:column; justify-content:center; height:100%; padding:2rem .5rem 2rem .5rem; 
    transition:background .25s, color .25s;
}
.section-18 .section-card > .card-footer .text-container .title{
    display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp:2;
    overflow:hidden;
}
.section-18 .dot-container{display:block; margin:2.5rem 0 0 0;}
.section-18 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.section-18 .slick-dots li{display:block; margin:0 .3125rem;}
.section-18 .slick-dots button{
    display:block; font-size:0; width:1.5625rem; height:.625rem; border-radius:.3125rem;
    cursor:pointer; padding:0; box-shadow:none; border:0; margin:0; outline:none;
    transition:width .25s;
}
.section-18 .slick-dots li.slick-active button{width:3rem;}
.section-18 .btns{position:absolute; bottom:-1rem; right:0; width:auto;}
@media screen and (max-width:767.98px){
    .section-18 .btns{
        position:relative; bottom:unset; right:unset; width:100%; 
        justify-content:center; margin:1.5rem 0 0 0;
    }
}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{position:relative; width:100%;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{position:relative; display:none; width:100%; padding:0; margin:0;}
.tab-container .tab-content.active{display:block;}

/* Tabs 01 */
.tab-container .tabs.tabs-01{position:relative; display:flex; justify-content:center;}
.tab-container .tabs.tabs-01::before{
    content:''; position:absolute; bottom:0; left:1rem; right:0; height:3px;
}
.tab-container .tabs.tabs-01 .tab{
    position:relative; width:calc((100% - 3rem) / 5); padding:.5rem 1rem;
    min-height:5.5rem; border-radius:0 1rem 0 1rem; border-top:3px solid transparent;
    transition:width .25s, padding .25s, color .25s, background .25s;
}
.tab-container .tabs.tabs-01 .tab.active{
    width:calc((100% - 3rem) / 5 + 3rem); padding:.5rem 1rem .5rem 4rem;
}
.tab-container .tabs.tabs-01 .tab::before{
    content:''; position:absolute; top:-2px; bottom:0; right:0; width:0;
    border-radius:0 1rem 0 1rem; transition:width .25s;
}
.tab-container .tabs.tabs-01 .tab.active::before{left:0; right:unset; width:100%;}
.tab-container .tabs.tabs-01 .tab::after{
    content:''; position:absolute; top:1rem; bottom:0; right:100%; width:.8px;
    transition:opacity .25s;
}
.tab-container .tabs.tabs-01 .tab.active::after{opacity:0;}
.tab-container .tabs.tabs-01 .tab:first-child:after{display:none;}
.tab-container .tabs.tabs-01 .tab > *{position:relative;}
.tab-container .tabs.tabs-01 .tab .icon{
    position:absolute; top:1rem; left:1rem; width:2rem; opacity:0;
    transition:opacity .25s;
}
.tab-container .tabs.tabs-01 .tab.active .icon{opacity:1;}
.tab-container .tabs.tabs-01 .tab.active .icon > img{
    display:block; width:auto; max-width:1.75rem; height:auto; max-height:1.75rem; margin:0 auto;
}
.tab-container .tabs.tabs-01 .tab .tab-span{font-weight:400;}
.tab-container .tabs.tabs-01 .tab .num{
    position:absolute; top:.5rem; right:.5rem; font-size:1.0625rem;
    font-weight:400; display:block; text-align:center; line-height:1.5625rem;
    width:1.5625rem; height:1.5625rem; border-radius:50%;
}
@media screen and (max-width:1199.98px){
    .tab-container .tabs.tabs-01{flex-wrap:wrap;}
    .tab-container .tabs.tabs-01 .tab,
    .tab-container .tabs.tabs-01 .tab.active{width:calc(100% / 3);}
}
@media screen and (max-width:767.98px){
    .tab-container .tabs.tabs-01{flex-wrap:wrap;}
    .tab-container .tabs.tabs-01 .tab{width:100%; min-height:0;}
    .tab-container .tabs.tabs-01 .tab.active{width:100%;}
    .tab-container .tabs.tabs-01 .tab::after{display:none;}
}

/* Tabs 02 */
.tab-container .tabs.tabs-02{width:100%; display:flex; justify-content:space-between;}
.tab-container .tabs.tabs-02 > .tabs-title{display:flex; align-items:center;}
.tab-container .tabs.tabs-02 > .tabs-title .title{
    position:relative; -webkit-background-clip:text; -webkit-text-fill-color:transparent;
}
.tab-container .tabs.tabs-02 > .tabs-wrapper{display:flex;}
.tab-container .tabs.tabs-02 .tab{
    display:block; position:relative; text-align:center; width:7rem; overflow:hidden;
    padding:1rem .75rem 1rem .75rem; transition:background .25s, color .25s;
}
.tab-container .tabs.tabs-02 .tab > .img-bg{
    position:absolute; top:0; bottom:0; right:0; width:0; transition:width .25s;
    background-size:cover; background-position:center;
}
.tab-container .tabs.tabs-02 .tab:hover > .img-bg,
.tab-container .tabs.tabs-02 .tab.active > .img-bg{left:0; right:unset; width:100%;}
.tab-container .tabs.tabs-02 .tab > .icon{
    position:relative; display:flex; align-items:center; justify-content:center;
    width:100%; height:3rem;
}
.tab-container .tabs.tabs-02 .tab > .icon > img{
    display:block; width:auto; max-width:3.5rem; height:auto; max-height:2.75rem;
    opacity:0; transition:opacity .25s;
}
.tab-container .tabs.tabs-02 .tab > .icon > img.inactive{opacity:1;}
.tab-container .tabs.tabs-02 .tab:hover > .icon > img.inactive,
.tab-container .tabs.tabs-02 .tab.active > .icon > img.inactive{opacity:0;}
.tab-container .tabs.tabs-02 .tab > .icon > img.active{position:absolute; opacity:0;}
.tab-container .tabs.tabs-02 .tab:hover > .icon > img.active,
.tab-container .tabs.tabs-02 .tab.active > .icon > img.active{opacity:1;}
.tab-container .tabs.tabs-02 .tab > p{position:relative; margin:.75rem 0 0 0;}
.tab-container .tabs.tabs-02 .tab > .alert{
    position:absolute; top:.625rem; right:1rem; width:1.4375rem; height:1.4375rem;
    border-radius:50%; display:block; text-align:center; font-size:1.125rem; line-height:1.4375rem;
}
@media screen and (max-width:767.98px){
    .tab-container .tabs.tabs-02{flex-wrap:wrap;}
    .tab-container .tabs.tabs-02 > .tabs-title{
        width:100%; justify-content:center; padding:3rem 0 1.5rem 0; text-align:center;
    }
    .tab-container .tabs.tabs-02 > .tabs-wrapper{width:100%; justify-content:center;}
    .tab-container .tabs.tabs-02 .tab{width:25%;}
}
@media screen and (max-width:575.98px){
    .tab-container .tabs.tabs-02 > .tabs-title{padding:2.5rem 0 1.25rem 0;}
    .tab-container .tabs.tabs-02 .tab{width:calc(100% / 3);}
}

/* Tabs 03 */
.tab-container .tabs.tabs-03{display:flex; justify-content:center; width:100%;}
.tab-container .tabs.tabs-03 > .wrapper{
    display:flex; justify-content:center; flex-wrap:wrap; border-radius:1.625rem;
    padding:.375rem .5rem;
}
.tab-container .tabs.tabs-03 .tab{
    display:block; position:relative; white-space:nowrap; padding:.375rem 1.25rem;
    transition:color .25s; 
}
.tab-container .tabs.tabs-03 .tab::after{
    content:''; position:absolute; top:calc(50% - .125rem); right:-.125rem;
    width:.25rem; height:.25rem; border-radius:50%;
}
.tab-container .tabs.tabs-03 .tab:last-child:after{display:none;}
@media screen and (max-width:991.98px){
    .tab-container .tabs.tabs-03 > .wrapper{padding:.375rem 0;}
}
@media screen and (max-width:575.98px){
    .tab-container .tabs.tabs-03 .tab{width:100%; text-align:center;}
    .tab-container .tabs.tabs-03 .tab::after{display:none;}
}


/* Table Footer */
.table-footer{display:flex; align-items:center; justify-content:center; flex-wrap:wrap;}
@media screen and (min-width:768px){
    .table-footer > .paginate + .btns{margin-left:1.5rem; width:auto;}
}
@media screen and (max-width:767.98px){
    .table-footer > .paginate + .btns{margin-top:1rem; justify-content:center;}
}
