
/* Banner 01 */
.banner-01 .slide-container{position:relative;}
.banner-01 .slide .wrapper{position:relative; width:100%; padding:37% 0 0 0; overflow:hidden;}
.banner-01 .slide .wrapper > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-01 .dot-wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    pointer-events:none;
}
.banner-01 .dot-container{pointer-events:auto;}
.banner-01 .slick-dots{list-style:none; padding:0; margin:0; width:.75rem;}
.banner-01 .slick-dots li{padding:0; margin:0;}
.banner-01 .slick-dots button{
    position:relative; display:block; width:.3125rem; height:.3125rem;
    padding:0; margin:.5625rem auto; border:0; border-radius:50%; outline:none;
    font-size:0; opacity:1; cursor:pointer; box-shadow:none;
    transition:background .25s, width .25s, height .25s, margin .25s;
}
.banner-01 .slick-dots li.slick-active button{
    width:.5625rem; height:.5625rem; margin:.75rem auto;
}
.banner-01 .slick-dots button::before{
    content:''; position:absolute; top:50%; left:50%; width:.9375rem; height:.9375rem;
    border-radius:50%; border:1px solid transparent; transform:translate(-50%,-50%);
    opacity:0; transition:opacity .25s;
}
.banner-01 .slick-dots li.slick-active button::before{opacity:1;}
.banner-01 .arrow-container{
    position:absolute; top:0; bottom:0; left:0; right:0; pointer-events:none;
    display:flex; align-items:center; justify-content:space-between;
}
.banner-01 .arrow{display:block; pointer-events:auto; cursor:pointer; transition:opacity .25s;}
.banner-01 .arrow:hover{opacity:.75;}
.banner-01 .arrow img{display:block; height:3rem; width:auto;}
@media screen and (max-width:991.98px){
    .banner-01 .slide .wrapper{padding:50% 0 0 0;}
}
@media screen and (max-width:767.98px){
    .banner-01 .slide .wrapper{padding:56% 0 0 0;}
    .banner-01 .dot-container{display:none;}
    .banner-01 .arrow-container{display:none;}
}
@media screen and (max-width:575.98px){
    .banner-01 .slide .wrapper{padding:66% 0 0 0;}
}

.banner-01 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-01 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-01 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Banner 02 */
.banner-02 .slide-container{position:relative;}
.banner-02 .slide .wrapper{position:relative; width:100%; padding:37% 0 0 0; overflow:hidden;}
.banner-02 .slide .wrapper > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-02 .dot-wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    pointer-events:none;
}
.banner-02 .dot-container{pointer-events:auto;}
.banner-02 .slick-dots{list-style:none; padding:0; margin:0; width:.75rem;}
.banner-02 .slick-dots li{padding:0; margin:0;}
.banner-02 .slick-dots button{
    position:relative; display:block; width:.3125rem; height:.3125rem;
    padding:0; margin:.5625rem auto; border:0; border-radius:50%; outline:none;
    font-size:0; opacity:1; cursor:pointer; box-shadow:none;
    transition:background .25s, width .25s, height .25s, margin .25s;
}
.banner-02 .slick-dots li.slick-active button{
    width:.5625rem; height:.5625rem; margin:.75rem auto;
}
.banner-02 .slick-dots button::before{
    content:''; position:absolute; top:50%; left:50%; width:.9375rem; height:.9375rem;
    border-radius:50%; border:1px solid transparent; transform:translate(-50%,-50%);
    opacity:0; transition:opacity .25s;
}
.banner-02 .slick-dots li.slick-active button::before{opacity:1;}
.banner-02 .arrow-container{
    position:absolute; top:0; bottom:0; left:0; right:0; pointer-events:none;
    display:flex; align-items:center; justify-content:space-between; padding:0 1rem;
}
.banner-02 .arrow{display:block; pointer-events:auto; cursor:pointer; transition:opacity .25s;}
.banner-02 .arrow:hover{opacity:.75;}
.banner-02 .arrow img{display:block; height:2.5rem; width:auto;}
@media screen and (max-width:991.98px){
    .banner-02 .slide .wrapper{padding:50% 0 0 0;}
    .banner-02 .arrow img{height:2.25rem;}
}
@media screen and (max-width:767.98px){
    .banner-02 .slide .wrapper{padding:56% 0 0 0;}
    .banner-02 .dot-container{display:none;}
    .banner-02 .arrow img{height:2rem;}
}
@media screen and (max-width:575.98px){
    .banner-02 .slide .wrapper{padding:66% 0 0 0;}
}

.banner-02 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-02 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-02 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Banner 03 */
.banner-03{position:relative; width:100%;}
.banner-03 .slide-container{display:block; position:relative; width:100%;}
.banner-03 .slide{
    position:relative; min-height:100vh; padding:3rem 0; overflow:hidden !important;
    display:flex; align-items:center; 
}
.banner-03 .slide > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-03 .slide .text-wrapper{padding:0 0 3rem 0;}
.banner-03 .dot-container{position:absolute; bottom:6rem; left:0; right:0;}
.banner-03 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.banner-03 .slick-dots li{display:block; margin:0 .3125rem;}
.banner-03 .slick-dots button{
    display:block; font-size:0; width:.625rem; height:.625rem; border-radius:.3125rem;
    padding:0; box-shadow:none; border:0; margin:0; outline:none; cursor:pointer;
    transition:width .25s;
}
.banner-03 .slick-dots li.slick-active button{width:1.5rem;}
@media screen and (max-width:767.98px){
    .banner-03 .slide .text-wrapper{padding:0 0 2.5rem 0;}
    .banner-03 .dot-container{bottom:5.5rem;}
}

.banner-03 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:all ease-in-out .75s;
}
.banner-03 .slide.slick-active .animate{opacity:1; transform:none; transition-delay:var(--delay);}
.loading .banner-03 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}
.banner-03 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-03 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-03 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Banner 04 */
.banner-04{position:relative; width:100%;}
.banner-04 .slide-container{display:block; position:relative; width:100%;}
.banner-04 .slide{
    position:relative; min-height:620px; padding:0; overflow:hidden;
    display:flex; align-items:center; 
}
.banner-04 .slide > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-04 .slide .text-wrapper{padding:4rem 0 1rem 0;}
.banner-04 .dot-container{position:absolute; bottom:1.5rem; left:0; right:0;}
.banner-04 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.banner-04 .slick-dots li{display:block; margin:0 .3125rem;}
.banner-04 .slick-dots button{
    display:block; font-size:0; width:1.5rem; height:.5rem; border-radius:.25rem;
    padding:0; box-shadow:none; border:0; margin:0; outline:none; cursor:pointer;
    transition:width .25s;
}
.banner-04 .slick-dots li.slick-active button{width:3rem;}
@media screen and (max-width:1199.98px){
    .banner-04 .slide{min-height:580px;}
}
@media screen and (max-width:991.98px){
    .banner-04 .slide{min-height:560px;}
}
@media screen and (max-width:767.98px){
    .banner-04 .slide{min-height:520px;}
}

.banner-04 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:all ease-in-out .75s;
}
.banner-04 .slide.slick-active .animate{opacity:1; transform:none; transition-delay:var(--delay);}
.loading .banner-04 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}
.banner-04 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-04 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-04 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Banner 05 */
.banner-05{position:relative; width:100%;}
.banner-05 .pattern{
    display:block; height:37rem; width:auto; position:absolute; 
    bottom:2rem; left:-5.5rem; z-index:2;
}
.banner-05 .slide-container{display:block; position:relative; width:100%;}
.banner-05 .slide{
    position:relative; min-height:640px; padding:0; overflow:hidden;
    display:flex; align-items:center; 
}
.banner-05 .slide > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-05 .slide .text-wrapper{padding:4rem 0 1rem 0;}
.banner-05 .dot-container{position:absolute; bottom:1.5rem; left:0; right:0;}
.banner-05 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.banner-05 .slick-dots li{display:block; margin:0 .3125rem;}
.banner-05 .slick-dots button{
    display:block; font-size:0; width:.6875rem; height:.6875rem; border-radius:50%;
    padding:0; box-shadow:none; border:0; margin:0; outline:none; cursor:pointer;
    transition:width .25s;
}
.banner-05 .arrow-container{
    position:absolute; top:0; bottom:0; left:0; right:0; pointer-events:none;
    display:flex; align-items:center; justify-content:space-between;
}
.banner-05 .arrow{display:block; pointer-events:auto; cursor:pointer; transition:opacity .25s;}
.banner-05 .arrow:hover{opacity:.75;}
.banner-05 .arrow img{display:block; height:3rem; width:auto;}
@media screen and (max-width:767.98px){
    .banner-05 .slide{min-height:500px;}
    .banner-05 .text-wrapper h3{font-size:2.375rem;}
    .banner-05 .arrow-container{display:none;}
}

.banner-05 .slide .animate{
    opacity:0; transform:translateY(4rem); transition:all ease-in-out .75s;
}
.banner-05 .slide.slick-active .animate{opacity:1; transform:none; transition-delay:var(--delay);}
.loading .banner-05 .slide .animate{opacity:0!important; transform:translateY(4rem)!important;}
.banner-05 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-05 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-05 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Banner 06 */
.banner-06 .slide-container{position:relative;}
.banner-06 .slide .wrapper{position:relative; width:100%; padding:28% 0 0 0; overflow:hidden;}
.banner-06 .slide .wrapper > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.banner-06 .dot-wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    pointer-events:none;
}
.banner-06 .dot-container{pointer-events:auto;}
.banner-06 .slick-dots{list-style:none; padding:0; margin:0; width:.75rem;}
.banner-06 .slick-dots li{padding:0; margin:0;}
.banner-06 .slick-dots button{
    position:relative; display:block; width:.3125rem; height:.3125rem;
    padding:0; margin:.5625rem auto; border:0; border-radius:50%; outline:none;
    font-size:0; opacity:1; cursor:pointer; box-shadow:none;
    transition:background .25s, width .25s, height .25s, margin .25s;
}
.banner-06 .slick-dots li.slick-active button{
    width:.5625rem; height:.5625rem; margin:.75rem auto;
}
.banner-06 .slick-dots button::before{
    content:''; position:absolute; top:50%; left:50%; width:.9375rem; height:.9375rem;
    border-radius:50%; border:1px solid transparent; transform:translate(-50%,-50%);
    opacity:0; transition:opacity .25s;
}
.banner-06 .slick-dots li.slick-active button::before{opacity:1;}
.banner-06 .arrow-container{
    position:absolute; top:0; bottom:0; left:0; right:0; pointer-events:none;
    display:flex; align-items:center; justify-content:space-between; padding:0 1rem;
}
.banner-06 .arrow{
    display:flex; align-items:center; justify-content:center; width:2rem; height:2.5rem;
    pointer-events:auto; cursor:pointer; transition:opacity .25s;
}
.banner-06 .arrow:hover{opacity:.75;}
.banner-06 .arrow img{display:block; width:auto; max-width:100%; height:auto; max-height:100%;}
@media screen and (max-width:991.98px){
    .banner-06 .slide .wrapper{padding:32% 0 0 0;}
    .banner-06 .arrow-container{padding:0 .5rem;}
    .banner-06 .arrow{width:1.75rem; height:2.25rem;}
}
@media screen and (max-width:767.98px){
    .banner-06 .slide .wrapper{padding:36% 0 0 0;}
    .banner-06 .dot-container{display:none;}
    .banner-06 .arrow-container{padding:0;}
    .banner-06 .arrow{width:1.5rem; height:2rem;}
}
@media screen and (max-width:575.98px){
    .banner-06 .slide .wrapper{padding:40% 0 0 0;}
}

.banner-06 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.banner-06 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .banner-06 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Info 01 */
.info-01{position:relative; padding-bottom:12rem; overflow:hidden;}
.info-01 > .img-bg{
    position:absolute; top:0; bottom:-2px; left:0; right:0; background-repeat:no-repeat;
    background-size:100% auto; background-position:bottom center;
}
.info-01 .slide-container{position:relative; padding:0 0 .375rem 0;}
.info-01 .slides{width:calc(100% + 2px); margin:0 -1px;}
.info-01 .slide{padding:0 1px;}
.info-01 .dot-container{display:flex; justify-content:center; width:100%; margin:.5rem 0 0 0;}
.info-01 .slick-dots{
    display:flex; align-items:center; justify-content:center; flex-wrap:wrap;
    list-style:none; padding:0; margin:0;
}
.info-01 .slick-dots li{display:block; margin:.125rem;}
.info-01 .slick-dots button{
    position:relative; display:block; font-size:0; width:3rem; height:.5rem; cursor:pointer;
    border-radius:0; padding:0; box-shadow:none; border:0; margin:0; outline:none;
    background:transparent; border:1.6px solid transparent; transition:background .25s;
}
.info-01 .slide-container .btns{position:absolute; bottom:0; right:0; width:auto;}
.info-01 .quote-container{
    width:100%; display:flex; justify-content:center; margin:4rem 0 0 0;
}
.info-01 .quote-container > .wrapper{position:relative;}
.info-01 .quote-container .quote{display:block; height:1.5rem; width:auto; position:absolute;}
.info-01 .quote-container .quote.quote-left{top:0; right:calc(100% + .75rem);}
.info-01 .quote-container .quote.quote-right{bottom:1.75rem; left:calc(100% + .5rem);}
@media screen and (max-width:1199.98px){
    .info-01 .quote-container .quote{height:1.375rem;}
}
@media screen and (max-width:991.98px){
    .info-01{background-size:1200px auto; padding-bottom:10rem;}
    .info-01 .slide-container .btns{
        position:relative; bottom:unset; right:unset; width:100%; justify-content:center;
        margin:1.25rem 0 0 0;
    }
    .info-01 .quote-container{margin:3rem 0 0 0;}
    .info-01 .quote-container .quote{height:1.25rem;}
    .info-01 .quote-container .quote.quote-left{top:0;}
    .info-01 .quote-container .quote.quote-right{bottom:1.625rem;}
}
@media screen and (max-width:767.98px){
    .info-01{background-size:900px auto; padding-bottom:9rem;}
    .info-01 .quote-container{margin:2.5rem 0 0 0;}
    .info-01 .quote-container .quote{height:1.125rem;}
    .info-01 .quote-container .quote.quote-left{top:0; right:calc(100% + .5rem);}
    .info-01 .quote-container .quote.quote-right{bottom:1.5rem; left:calc(100% + .125rem);}
}

/* Info 02 */
.info-02{position:relative; overflow:hidden;}
.info-02 .grids{--gs:1.5rem}
.info-02 > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.info-02 > .container{position:relative;}
.info-02 .section-tab{
    position:relative; width:100%; height:100%; display:flex; align-items:center;
    padding:1rem 0; transition:background .25s, color .25s;
}
.info-02 .section-tab::before, .info-02 .section-tab.main::after{
    display:none; content:''; position:absolute; top:0; bottom:0; width:50vw;
    transition:background .25s;
}
.info-02 .section-tab::before{right:99%;}
.info-02 .section-tab::after{left:99%;}
.info-02 .section-tab.main::before{display:block;}
.info-02 .section-tab .icon{
    display:flex; align-items:center; justify-content:center;
    width:3.5rem; height:4.5rem; margin:0 1rem 0 0;
}
.info-02 .section-tab .icon img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
.info-02 .section-tab .arrow{
    display:flex; align-items:center; justify-content:center; width:1.75rem; height:1.75rem;
    border-radius:50%; font-size:.875rem; margin:.1875rem 0 0 0;
}
@media screen and (max-width:991.98px){
    .info-02 .section-tab .icon{width:3rem; height:3.5rem;}
}
@media screen and (max-width:575.98px){
    .info-02 .section-tab.main::after{display:block;}
}


/* Info 03 */
.info-03{position:relative; z-index:2;}
.info-03 .info-cards{display:flex; justify-content:center; flex-wrap:wrap;}
.info-03 .info-card{
    position:relative; width:25%; display:flex; align-items:center; height:5.5rem;
    border-bottom:1px solid transparent; border-right:1px solid transparent;
    padding:1rem 1.5rem; transition:color .25s;
}
.info-03 .info-card:nth-child(1),
.info-03 .info-card:nth-child(2),
.info-03 .info-card:nth-child(3),
.info-03 .info-card:nth-child(4){border-top:1px solid transparent;}
.info-03 .info-card:nth-child(1),
.info-03 .info-card:nth-child(5){border-left:1px solid transparent;}
.info-03 .info-card > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; opacity:0; transition:opacity .25s;
}
.info-03 .info-card:hover > .img-bg{opacity:1;}
.info-03 .info-card > .wrapper{position:relative; width:100%; display:flex; align-items:center;}
.info-03 .info-card .text-container{width:calc(100% - 3.5rem); padding:0 .75rem 0 0;}
.info-03 .info-card .icon{
    position:relative; display:flex; align-items:center; justify-content:center;
    width:3.5rem; height:2.5rem;
}
.info-03 .info-card .icon > img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
    transition:opacity .25s;
}
.info-03 .info-card .icon > img.active{position:absolute; opacity:0;}
.info-03 .info-card:hover .icon > img.active{opacity:1;}
.info-03 .info-card:hover .icon > img.inactive{opacity:0;}
.info-03 .info-card .chev{position:absolute; top:.75rem; right:.75rem; font-size:.875rem;}
@media screen and (max-width:1199.98px){
    .info-03 .info-card{padding:1rem;}
    .info-03 .info-card .text-container{width:calc(100% - 3rem);}
    .info-03 .info-card .icon{width:3rem; height:2.25rem;}
}
@media screen and (max-width:991.98px){
    .info-03 .info-card{width:calc(100% / 3); height:5rem;}
    .info-03 .info-card:nth-child(4),
    .info-03 .info-card:nth-child(7){border-left:1px solid transparent;}
    .info-03 .info-card:nth-child(4){border-top:0;}
    .info-03 .info-card:nth-child(5){border-left:0;}
    .info-03 .info-card .chev{top:.625rem; right:.625rem;}
}
@media screen and (max-width:767.98px){
    .info-03 .info-card{width:50%; padding:.75rem; height:4.5rem;}
    .info-03 .info-card:nth-child(4){border-left:0;}
    .info-03 .info-card:nth-child(3),
    .info-03 .info-card:nth-child(4){border-top:0;}
    .info-03 .info-card:nth-child(3),
    .info-03 .info-card:nth-child(5),
    .info-03 .info-card:nth-child(7){border-left:1px solid transparent;}
    .info-03 .info-card .text-container{width:calc(100% - 2.5rem);}
    .info-03 .info-card .icon{width:2.5rem; height:2rem;}
    .info-03 .info-card .text-container br{display:none;}
    .info-03 .info-card .chev{top:.5rem; right:.5rem;}
}
@media screen and (min-width:992px){
    .info-03{position:relative; padding:0; margin:-5.5rem 0; z-index:1;}
}


/* Info 04 */
.info-04{position:relative; padding:10rem 0 20rem 0;}
.info-04 > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:auto 100%;
    background-position:bottom center;
}
.info-04 > .container{position:relative;}
.info-04 .space-l{padding:0 0 0 1.25rem;}
@media screen and (max-width:991.98px){
    .info-04{margin:-22rem 0 0 0; padding:22rem 0 10rem 0;}
    .info-04 .space-l{padding:0 0 0 1rem;}
}
@media screen and (max-width:767.98px){
    .info-04{margin:-24rem 0 0 0; padding:24rem 0 3rem 0;}
    .info-04 .space-l{padding:0 0 0 .75rem;}
}
@media screen and (max-width:575.98px){
    .info-04{padding:24rem 0 2.5rem 0;}
    .info-04 .space-l{padding:0 0 0 .75rem;}
}


/* Paginate */
.paginate{display:flex; align-items:center; justify-content:center; flex-wrap:wrap;}
.paginate > .pages{display:flex; justify-content:center; align-items:center;}
.paginate .page{
    display:flex; align-items:center; justify-content:center;
    border-radius:.25rem; cursor:pointer; font-size:1.3125rem; font-weight:300;
    padding:.125rem 0 0 0; margin:.0625rem .0625rem; width:1.875rem; height:1.875rem;
    transition:background .25s, color .25s, box-shadow .25s;
}
.paginate .page.page-prev, .paginate .page.page-next{font-size:.875rem;}
.paginate .page.page-prev{margin-right:.75rem;}
.paginate .page.page-next{margin-left:.75rem;}
.paginate .btn.btn-action{margin:0 0 0 .5rem;}
@media screen and (max-width:575.98px){
    .paginate > .pages{width:100%;}
    .paginate .btn.btn-action{margin:.75rem 0 0 0;}
}


/* Section 01 */
.section-01 .info-cards{
    display:flex; justify-content:center; flex-wrap:wrap; padding:.25rem;
    position:relative; z-index:1;
}
.section-01 .info-card{width:calc(100% / 6); padding:.25rem;}
.section-01 .info-card .text-wrapper{padding:1rem 0;}
@media screen and (max-width:1199.98px){
    .section-01 .info-card{width:calc(100% / 4);}
}
@media screen and (max-width:991.98px){
    .section-01 .info-card{width:calc(100% / 3);}
}
@media screen and (max-width:575.98px){
    .section-01 .info-card{width:calc(100% / 2);}
}


/* Section 02 */
.section-02 .slide-container{position:relative; width:100%; overflow:hidden;}
.section-02 .slide .wrapper{position:relative; width:100%; padding:40% 0 0 0; overflow:hidden}
.section-02 .slide .wrapper > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.section-02 .dot-container{
    position:absolute; top:0; bottom:0; right:1rem; display:flex; align-items:center;
}
.section-02 .slick-dots{list-style:none; padding:0; margin:0; width:.75rem;}
.section-02 .slick-dots li{padding:0; margin:0;}
.section-02 .slick-dots button{
    position:relative; display:block; width:.3125rem; height:.3125rem;
    padding:0; margin:.5625rem auto; border:0; border-radius:50%; outline:none;
    font-size:0; opacity:1; cursor:pointer; box-shadow:none;
    transition:background .25s, width .25s, height .25s, margin .25s;
}
.section-02 .slick-dots li.slick-active button{
    width:.5625rem; height:.5625rem; margin:.75rem auto;
}
.section-02 .slick-dots button::before{
    content:''; position:absolute; top:50%; left:50%; width:.9375rem; height:.9375rem;
    border-radius:50%; border:1px solid transparent; transform:translate(-50%,-50%);
    opacity:0; transition:opacity .25s;
}
.section-02 .slick-dots li.slick-active button::before{opacity:1;}

.section-02 .slide .img-bg{transform:scale(1.2); transition:transform linear .9s;}
.section-02 .slide.slick-current .img-bg{
    transform:scale(1); transition-duration:14s; transition-delay:.6s;
}
.loading .section-02 .slide.slick-current .img-bg{transform:scale(1.2);}


/* Section 03 */
.section-03{position:relative;}
.section-03 > .hero{
    position:absolute; top:2rem; bottom:2rem; left:0; right:0; overflow:hidden;
    display:flex; align-items:flex-end; justify-content:center;
}
.section-03 > .hero > img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
.section-03 .grids{justify-content:flex-end;}
.section-03 .info-container{
    display:block; width:100%; max-width:31rem; padding:4rem 0 13rem 11rem;
}
@media screen and (max-width:991.98px){
    .section-03 .info-container{max-width:20rem; padding:3rem 0 12rem 0;}
    .section-03 > .hero > img{transform:translateX(-10rem);}
}
@media screen and (max-width:767.98px){
    .section-03 .info-container{padding:2rem 0 10rem 0;}
    .section-03 > .hero > img{transform:translateX(-8rem);}
}
@media screen and (max-width:575.98px){
    .section-03 .info-container{padding:0 0 75% 0; margin:0 auto;}
    .section-03 > .hero > img{transform:translateX(0);}
}


/* Section 04 */
.section-04{overflow:hidden;}
.section-04 .section-tabs{display:flex; width:100%;}
.section-04 .section-tab{
    position:relative; width:calc(70% / 3); display:flex; align-items:center;
    padding:1rem 1.5rem; transition:background .25s, color .25s;
}
.section-04 .section-tab.main{width:30%; padding-left:0;}
.section-04 .section-tab::before, .section-04 .section-tab::after{
    display:none; content:''; position:absolute; top:0; bottom:0; width:50vw;
    transition:background .25s;
}
.section-04 .section-tab::before{right:99%;}
.section-04 .section-tab::after{left:99%;}
.section-04 .section-tab:nth-child(1)::before{display:block;}
.section-04 .section-tab:nth-child(4)::after{display:block;}
.section-04 .section-tab .icon{
    display:flex; align-items:center; justify-content:center; width:2.5rem;
    margin:0 1rem 0 0; font-size:2rem;
}
.section-04 .section-tab.main .icon{
    width:5rem; height:100%; padding:0 1rem 0 0; border-right:1px solid transparent;
}
.section-04 .section-tab.main .icon img{
    display:block; width:auto; max-width:4rem; height:auto; max-height:4rem;
}
@media screen and (max-width:991.98px){
    .section-04 .section-tabs{flex-wrap:wrap;}
    .section-04 .section-tab{width:calc(100% / 3); padding:1rem!important;}
    .section-04 .section-tab.main{width:100%;}
    .section-04 .section-tab:nth-child(1)::after{display:block;}
    .section-04 .section-tab:nth-child(2)::before{display:block;}
    .section-04 .section-tab .icon{width:2rem; margin:0 .75rem 0 0; font-size:1.875rem;}
    .section-04 .section-tab.main .icon{width:4.5rem;}
    .section-04 .section-tab.main .icon img{max-width:3.5rem; max-height:3.5rem;}
}
@media screen and (max-width:767.98px){
    .section-04 .section-tab.main .icon{width:4rem;}
    .section-04 .section-tab.main .icon img{max-width:3rem; max-height:3rem;}
}
@media screen and (max-width:575.98px){
    .section-04 .section-tab{width:100%;}
    .section-04 .section-tab::before, .section-04 .section-tab::after{display:block!important;}
}


/* Section 05 */
.section-05 .slide-container{position:relative; width:100%; margin:-4.25rem 0 0 0;}
.section-05 .slides{width:100%;}
.section-05 .slide{padding:0;}
.section-05 .section-card{
    display:block; position:relative; width:100%; white-space:nowrap; text-align:right;
    border-radius:0 1rem 0 1rem; margin:.75rem 0 1rem 0; padding:1rem 0 1.5rem 0;
    overflow:hidden; transition:margin .25s, padding .25s, border-radius .25s;
}
.section-05 .section-card:hover{margin:0; padding:.5rem 0 3.75rem 0;}
.section-05 .section-card .filter{
    position:absolute; top:0; bottom:0; left:0; right:0; opacity:0; transition:opacity .25s;
}
.section-05 .section-card:hover .filter{opacity:1;}
.section-05 .section-card .text-wrapper{
    position:relative; width:100%; padding:0 .5rem; height:2.1875rem;
}
.section-05 .section-card .icon{
    position:absolute; bottom:.5rem; left:.5rem; width:1rem; height:1rem; border-radius:50%;
    display:flex; align-items:center; justify-content:center; font-size:.625rem;
    transition:left .25s, background .25s, color .25s;
}
.section-05 .section-card:hover .icon{left:calc(100% - 1.5rem);}
.section-05 .section-card .hero{
    position:absolute; bottom:-1.375rem; left:-2.25rem; opacity:0;
    display:block; height:8rem; width:auto; transition:opacity .25s;
}
.section-05 .section-card:hover .hero{opacity:1;}
.section-05 .slide-container{position:relative; width:100%;}
.section-05 .slide-container .arrow-container{
  position:absolute; top:0; bottom:0; left:-1.5rem; right:-1.5rem; pointer-events:none;
  display:flex; align-items:center; justify-content:space-between;
}
.section-05 .slide-container .arrow{
  cursor:pointer; pointer-events:auto; font-size:1.25rem; opacity:1;
  transition:opacity .25s, background .25s, color .25s;
}


/* Section 06 */
.section-06 .section-tabs{position:relative; width:100%; display:flex; flex-wrap:wrap;}
.section-06 .ss-card{
    position:relative; width:50%; display:flex; align-items:center; justify-content:center;
    background-size:cover; background-position:center; overflow:hidden;
}
.section-06 .ss-card .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; opacity:0; transition:opacity .25s;
}
.section-06 .ss-card:hover .img-bg, .section-06 .ss-card.active .img-bg{opacity:1;}
.section-06 .ss-card .text-wrapper{position:relative; text-align:center; padding:2.5rem 0;}
.section-06 .ss-card .hero{
    position:absolute; top:0; bottom:0; display:flex; align-items:center; opacity:0;
    padding:1.25rem 0 0 0; transition:opacity .25s;
}
.section-06 .ss-card:hover .hero, .section-06 .ss-card.active .hero{opacity:1;}
.section-06 .ss-card.card-left .hero{right:-5rem;}
.section-06 .ss-card.card-right .hero{left:-5rem;}
.section-06 .ss-card .hero img{display:block; height:150%; width:auto;}
@media screen and (max-width:1199.98px){
    .section-06 .ss-card .text-wrapper{padding:2rem 0;}
    .section-06 .ss-card .hero img{height:140%;}
    .section-06 .ss-card.card-left .hero{right:-4.5rem;}
    .section-06 .ss-card.card-right .hero{left:-4.5rem;}
}
@media screen and (max-width:991.98px){
    .section-06 .ss-card .text-wrapper{padding:1.5rem 0;}
    .section-06 .ss-card.card-left .hero{right:-3.5rem;}
    .section-06 .ss-card.card-right .hero{left:-3.5rem;}
}
@media screen and (max-width:767.98px){
    .section-06 .ss-card .hero{display:none;}
}
@media screen and (max-width:575.98px){
    .section-06 .ss-card{width:100%;}
}


/* Section 07 */
.section-07{position:relative; margin:-.75rem 0 0 0; z-index:2;}
.section-07 .slide{padding:.75rem 0 0 0;}
.section-07 .slide > .wrapper{
    position:relative; display:block; width:100%; height:100%; padding:1rem .5rem 2.75rem .5rem;
    cursor:pointer; transition:background .25s, color .25s;
}
.section-07 .slide > .wrapper::after{
    content:''; position:absolute; bottom:calc(100% - 1px); left:calc(50% - .75rem);
    width:1.5rem; height:.75rem; clip-path:polygon(50% 0,100% 100%,0 100%);
    opacity:0; transition:opacity .25s;
}
.section-07 .slide:hover > .wrapper::after{opacity:1; transition-delay:.15s;}
.section-07 .slide .img-bg{
    position:absolute; top:0; left:0; right:0; height:0; background-size:cover;
    background-position:center; opacity:0; transition:opacity .25s, height .25s;
}
.section-07 .slide:hover .img-bg{top:unset; bottom:0; height:100%; opacity:1;}
.section-07 .slide .hero{
    position:relative; display:flex; align-items:center; justify-content:center;
    width:100%; height:5rem;
}
.section-07 .slide .hero > img{
    display:block; width:auto; max-width:6.5rem; height:auto; max-height:5rem;
}
.section-07 .slide .text-wrapper{position:relative; min-height:2.1875rem; margin:.75rem 0 0 0;}
.section-07 .slide .icon{
    position:absolute; bottom:.75rem; left:calc(50% - .6875rem); width:1.375rem; height:1.375rem;
    border-radius:50%; display:flex; align-items:center; justify-content:center; font-size:.625rem;
    opacity:0; transition:opacity .25s, background .25s, color .25s;
}
.section-07 .slide:hover .icon{opacity:1;}


/* Section 08 */
.section-08{position:relative; z-index:1;}
.section-08 .grids{--gs:2px;}
.section-08 > .pattern{
    position:absolute; top:0; bottom:0rem; left:2rem; right:0;
    background-size:cover; background-position:center;
}
.section-08.clone > .pattern{
    position:absolute; top:-26rem; bottom:0rem; left:-12rem; right:0;
    background-size:cover; background-position:center;
}
@media screen and (max-width:1199.98px){
    .section-08.clone > .pattern{top:-30rem; bottom:0rem; left:-20rem;}
}
@media screen and (max-width:767.98px){
    .section-08 > .pattern{opacity:0;}
    .section-08.clone > .pattern{opacity:0;}
}



/* Section 09 */
.section-09{position:relative; margin:-4rem 0 0 0;}
.section-09::before{content:''; position:absolute; top:4rem; bottom:0; left:0; right:0;}
.section-09 .section-cards{position:relative; display:flex; border-radius:.5rem; overflow:hidden;}
.section-09 .section-card{
    display:flex; align-items:center; width:25%; height:100%; padding:1.5rem;
    border-right:1px solid transparent; transition:background .25s, color .25s;
}
.section-09 .section-card .icon{
    display:flex; justify-content:center; align-items:center; 
    min-width:4.6875rem; min-height:4.6875rem; border-radius:50%; 
}
.section-09 .section-card .icon img{
    display:block; width:auto; max-width:50%; height:auto; max-height:50%;
}
.section-09 .section-card .text-wrapper{
    display:flex; align-items:center; padding-left:1rem;
}


/* Section 10 */
.section-10{position:relative; z-index:2;}
.section-10 .swiper-container{position:relative; overflow:hidden;}
.section-10 .inner-wrapper{border-radius:.5rem; overflow:hidden;}
.section-10 .swiper-slide:first-child{border-radius:.5rem 0 0 .5rem; overflow:hidden;}
.section-10 .swiper-slide:last-child{border-radius:0 .5rem .5rem 0; overflow:hidden;}
.section-10 .dot-container{
    width:100%; display:flex; align-items:center; justify-content:center;
    margin:0; padding:2.25rem 0 1.25rem 0;
}
.section-10 .swiper-pagination-bullet{
    display:block; font-size:0; width:.6875rem; height:.6875rem; border-radius:50%;
    padding:0; box-shadow:none; border:0; margin:0 .3125rem; outline:none;
    cursor:pointer; opacity:1; transition:width .25s;
}
.section-10 .btns{position:absolute; bottom:0; right:0; width:auto;}
@media screen and (max-width:767.98px){
    .section-10 .dot-container{padding:2.25rem 0 0 0;}
    .section-10 .btns{
        position:relative; bottom:unset; right:unset; width:100%; 
        justify-content:center; margin:1.5rem 0 0 0;
    }
}


/* Section 11 */
.section-11{position:relative; margin:-10rem 0 0 0; padding-top:18rem; overflow:hidden;}
.section-11 > .pattern{
    position:absolute; top:-50rem !important; bottom:0rem; left:0; right:0;
    background-size:cover; background-position:center;
}
.section-11 > .container{position:relative;}
.section-11 .section-card{
    position:relative; display:block; border-radius:.5rem; overflow:hidden; height:100%;
}
.section-11 .section-card .text-container{
    position:absolute; bottom:0; left:0; right:0; padding:.75rem 1rem;
    display:flex; justify-content:center;
}
.section-11 .section-card.main .text-container{justify-content:flex-end;}
@media screen and (max-width:767.98px){
    .section-11{margin:-13rem 0 0 0;}
}
@media screen and (min-width:992px){
    .section-11 .section-card.main .ss-img{padding:0; height:100%;}
}


/* Section 12 */
.section-12 .btns{margin:1.5rem 0 0 0; justify-content:flex-end;}
@media screen and (max-width:991.98px){
    .section-12 .btns{justify-content:center;}
}


/* Section 13 */
.section-13{position:relative; height:100%; min-height:400px; z-index:1;}
.section-13 .slide-container{position:relative; margin:2.5rem 0 0 0;}
.section-13 .slides{overflow:hidden; width:calc(100% + 1rem); margin:0 -.5rem;}
.section-13 .section-card{
    display:flex; flex-direction:column; justify-content:center; height:100%;
    padding:0 .5rem; transition:background .25s, color .25s;
}
.section-13 .section-card .ss-img{border-radius:.5rem; overflow:hidden;}
.section-13 .section-card > .card-footer{
    position:relative; margin:-2rem auto 0 0; border-radius:.5rem;
    width:100%; max-width:calc(100% - 1rem);
}
.section-13 .section-card .text-container{
    padding:.5rem 1rem; width:calc(100% - 3.5rem); min-height:3.9375rem;
    border-radius:.5rem 0 0 .5rem; 
}
.section-13 .section-card .text-container .title{
    display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; overflow:hidden;
}
.section-13 .section-card .icon{
    display:flex; align-items:center; justify-content:center;
    width:3.75rem; height:3.9375rem; border-radius:0 .5rem .5rem 0;
}
.section-13 .section-card .icon img{
    display:block; width:auto; max-width:60%; height:auto; max-height:60%;
}
.section-13 .section-card .more{
    display:flex; align-items:center; justify-content:center; border-radius:1000em;
    padding:0; width:2.5rem; height:1.5rem;
}
.section-13 .dot-container{display:block; margin:3rem 0 0 0;}
.section-13 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.section-13 .slick-dots li{display:block; margin:0 .3125rem;}
.section-13 .slick-dots button{
    display:block; font-size:0; width:1.5rem; height:.5rem; border-radius:1000rem;
    cursor:pointer; padding:0; box-shadow:none; border:0; margin:0; outline:none;
    transition:width .25s;
}
.section-13 .slick-dots li.slick-active button{width:3rem;}
.section-13 .btns{position:absolute; bottom:-1rem; right:0; width:auto;}
@media screen and (max-width:767.98px){
    .section-13 .dot-container{margin:2.5rem 0 0 0;}
    .section-13 .btns{
        position:relative; bottom:unset; right:unset; width:100%; 
        justify-content:center; margin:1.5rem 0 0 0;
    }
}


/* Section 14 */
.section-14 .btns{justify-content:flex-end;}
@media screen and (max-width:991.98px){
    .section-14 .btns{justify-content:center;}
}


/* Section 15 */
.section-15{overflow:hidden;}
.section-15 .blocks{width:100%; display:flex; flex-wrap:wrap;}
.section-15 .block{position:relative; width:60%; padding:3.5rem 2rem 3.5rem 0;}
.section-15 .block > .img-bg{
    position:absolute; top:0; bottom:0; right:0; width:60vw;
    background-size:cover; background-position:center;
}
.section-15 .block > .text-wrapper{position:relative;}
.section-15 .subblocks{position:relative; width:40%;}
.section-15 .subblock{position:relative; width:100%; padding:3.5rem 0 3.5rem 2rem;}
.section-15 .subblock > .img-bg{
    position:absolute; top:0; bottom:0; left:0; width:50vw;
    background-size:cover; background-position:center;
}
.section-15 .subblock > .text-wrapper{position:relative;}
.section-15 .item{display:flex; padding:1.25rem 0; border-bottom:1px solid transparent;}
.section-15 .item .image-container{
    display:flex; align-items:center; justify-content:center; border-radius:.25rem;
    width:3rem; height:3rem; border:2px solid transparent;
}
.section-15 .item .image-container img{
    display:block; width:auto; max-width:60%; height:auto; max-height:60%;
}
.section-15 .item .text-container{width:calc(100% - 3rem); padding:0 0 0 1rem;}
.section-15 .item .card-footer .blocks-icon{display:flex; align-items:center; flex-wrap:wrap;}
.section-15 .item .card-footer .block-icon{
    position:relative; display:flex; align-items:center;
    margin:.5rem .75rem 0 0; padding:0 .75rem 0 0;
}
.section-15 .item .card-footer .block-icon:last-child{margin:.5rem 0 0 0; padding:0;}
.section-15 .item .card-footer .block-icon::after{
    content:''; position:absolute; top:.25rem; bottom:.25rem; right:0; width:1px;
}
.section-15 .item .card-footer .block-icon:last-child::after{display:none;}
.section-15 .item .card-footer .icon{font-size:.8125rem; margin:0 .375rem 0 0;}
@media screen and (max-width:1199.98px){
    .section-15 .block{padding:3rem 2rem 3rem 0;}
    .section-15 .subblock{padding:3rem 0 3rem 2rem;}
}
@media screen and (max-width:991.98px){
    .section-15 .block{padding:2.5rem 2rem 2.5rem 0;}
    .section-15 .subblock{padding:2.5rem 0 2.5rem 2rem;}
}
@media screen and (max-width:767.98px){
    .section-15 .block, .section-15 .subblock{width:100%; padding:2rem 0;}
    .section-15 .block > .img-bg, .section-15 .subblock > .img-bg{
        left:calc((578px - 100vw - 1rem) / 2); right:unset; width:100vw;
    }
}
@media screen and (max-width:575.98px){
    .section-15 .block > .img-bg, .section-15 .subblock > .img-bg{left:-1rem;}
    .section-15 .item .image-container{width:2.75rem; height:2.75rem;}
    .section-15 .item .text-container{width:calc(100% - 2.75rem);}
}


/* Section 17 */
.section-17{position:relative; margin:0 0 -8rem 0; z-index:1;}
.section-17 .text-container{padding:2rem;}
.section-17 .opinion-poll{border-radius:.5rem; overflow:hidden;}
@media screen and (min-width:768px){
    .section-17 .ss-img{padding:0; height:100%;}
}
@media screen and (max-width:991.98px){
    .section-17 .text-container{padding:1.5rem;}
}
@media screen and (max-width:767.98px){
    .section-17 .text-container{padding:1rem;}
}
@media screen and (max-width:575.98px){
    .section-17 fieldset{flex-wrap:wrap;}
    .section-17 .rc-container{width:50%;}
}

/* Section 18 */
.section-18{position:relative; padding-top:15rem;}
.section-18 > .img-bg{
    position:absolute; top:0; left:0; right:0; height:27.5rem; background-size:cover;
    background-position:center;
}
.section-18 > .container{position:relative;}
.section-18 .slide-container{position:relative; margin:1.5rem 0 0 0;}
.section-18 .slick-list.draggable{z-index:3;}
.section-18 .slides{margin:0 -.5rem; width:calc(100% + 1rem);}
.section-18 .slide{padding:1.5625rem .5rem 2rem .5rem !important;}
.section-18 .dot-container{display:block; margin:1rem 0 0 0;}
.section-18 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.section-18 .slick-dots li{display:block; margin:0 .3125rem;}
.section-18 .slick-dots button{
    display:block; font-size:0; width:1.5rem; height:.5rem; border-radius:.25rem;
    cursor:pointer; padding:0; box-shadow:none; border:0; margin:0; outline:none;
    transition:width .25s;
}
.section-18 .slick-dots li.slick-active button{width:3rem;}
.section-18 .btns{position:absolute; bottom:-1rem; right:0; width:auto;}
@media screen and (max-width:767.98px){
    .section-18 .btns{
        position:relative; bottom:unset; right:unset; width:100%; 
        justify-content:center; margin:1.5rem 0 0 0;
    }
}

/* Section 19 */
.section-19 .swiper-container{width:100%; height:24vw; transition:opacity .6s ease;}
.section-19 .swiper-slide{position:relative; border-radius:.5rem; overflow:hidden;}
.section-19 .swiper-slide > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0;
    background-position:center; background-size:cover; background-repeat:no-repeat;
}
.section-19 .swiper-slide .text-container{
    position:absolute; bottom:0; left:0; right:0; padding:1rem; text-align:center;
}
.section-19 .btn-swiper{
    display:flex; justify-content:space-between; width:100%; max-width:9.5rem; margin:0 auto; 
    height:auto; border-radius:1000em; padding:.5rem;
}
.section-19 .btn-swiper .btn{
    cursor:pointer; border-radius:50%; transition:background .25s, color .25s;
}
.section-19 .btn-swiper .btn .icon{
    display:flex; align-items:center; justify-content:center; width:3rem; height:3rem;
}
@media screen and (max-width:1199.98px){
    .section-19 .swiper-container{height:300px;}
}
@media screen and (max-width:991.98px){
    .section-19 .swiper-container{height:250px;}
    .section-19 .btn-swiper{padding:.375rem; max-width:8.5rem;}
    .section-19 .btn-swiper .btn .icon{width:2.75rem; height:2.75rem;}
}
@media screen and (max-width:767.98px){
    .section-19 .swiper-container{height:220px;}
}


/* Section 20 */
.section-20{position:relative; margin:0 0 -3.5rem 0; z-index:1;}
.section-20 .section-card{
    display:flex; width:100%; height:100%; padding:1.5rem 2rem;
    border-radius:.5rem; min-height:7rem; overflow:hidden;
}
.section-20 .section-card .icon{
    display:flex; justify-content:center; align-items:center; border:1px solid transparent;
    width:3rem; height:3rem; border-radius:50%; 
}
.section-20 .section-card .text-container{width:calc(100% - 3rem); padding:0 0 0 1rem;}
@media screen and (max-width:1199.98px){
    .section-20{margin:0 0 -3.25rem 0;}
    .section-20 .section-card{padding:1.25rem 1.5rem; min-height:6.5rem;}
}
@media screen and (max-width:991.98px){
    .section-20{margin:0 0 -3rem 0;}
    .section-20 .section-card{padding:1rem; min-height:6rem;}
}


/* Section 22 */
.section-22{position:relative; height:100%;}
.section-22 > .img-bg{
    position:absolute; top:0; left:0; right:0; height:300px; background-size:cover;
    background-position:center;
}
.section-22 > .container{position:relative;}
.section-22 .slide-container{position:relative; margin:2.5rem 0 0 0;}
.section-22 .slides{overflow:hidden; width:calc(100% + 1rem); margin:0 -.5rem;}
.section-22 .slide{padding:0 .5rem;}
.section-22 .dot-container{display:block; margin:2.5rem 0 0 0;}
.section-22 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.section-22 .slick-dots li{display:block; margin:0 .3125rem;}
.section-22 .slick-dots button{
    display:block; font-size:0; width:.6875rem; height:.6875rem; border-radius:50%;
    padding:0; box-shadow:none; border:0; margin:0; outline:none; cursor:pointer;
    transition:width .25s;
}
.section-22 .btns{position:absolute; bottom:-1rem; right:0; width:auto;}
@media screen and (max-width:767.98px){
    .section-22 .btns{
        position:relative; bottom:unset; right:unset; width:100%; 
        justify-content:center; margin:1.5rem 0 0 0;
    }
}


/* Section 23 */
.section-23 .btns{margin:1.5rem 0 0 0; justify-content:flex-end;}
@media screen and (max-width:991.98px){
    .section-23 .btns{justify-content:center;}
}


/* Section 25 */
.section-25{position:relative;}
.section-25 > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.section-25 > .container{position:relative;}
.section-25 .slide-container{position:relative; margin:2.5rem 0 0 0;}
.section-25 .slides{margin:0 -.5rem;}
.section-25 .slide{padding:0 .5rem;}
.section-25 .dot-container{display:block; margin:2.5rem 0 0 0;}
.section-25 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.section-25 .slick-dots li{display:block; margin:0 .3125rem;}
.section-25 .slick-dots button{
    display:block; font-size:0; width:.6875rem; height:.6875rem; border-radius:50%;
    padding:0; box-shadow:none; border:0; margin:0; outline:none; cursor:pointer;
    transition:width .25s;
}
.section-25 .btns{position:absolute; bottom:-1rem; right:0; width:auto;}
@media screen and (max-width:767.98px){
    .section-25 .btns{
        position:relative; bottom:unset; right:unset; width:100%; 
        justify-content:center; margin:1.5rem 0 0 0;
    }
}


/* Section 26 */
.section-26 .slide-container{position:relative; z-index:2;}
.section-26 .slick-list.draggable{border-radius:.5rem; overflow:hidden;}
.section-26 .dot-container{display:block; margin:2.25rem 0 0 0;}
.section-26 .slick-dots{
    display:flex; width:100%; align-items:center; justify-content:center;
    list-style:none; padding:0; margin:0;
}
.section-26 .slick-dots li{display:block; margin:0 .3125rem;}
.section-26 .slick-dots button{
    display:block; font-size:0; width:.6875rem; height:.6875rem; border-radius:50%;
    padding:0; box-shadow:none; border:0; margin:0; outline:none; cursor:pointer;
    transition:width .25s;
}
.section-26 .btns{position:absolute; bottom:-1rem; right:0; width:auto;}
@media screen and (max-width:767.98px){
    .section-26 .btns{
        position:relative; bottom:unset; right:unset; width:100%; 
        justify-content:center; margin:1.5rem 0 0 0;
    }
}


/* Section 27  */
.section-27 .section-title{display:flex; align-items:center;}
.section-27 .section-title .icon{
    width:2.625rem; height:2.625rem; display:flex; justify-content:center; align-items:center;
}
.section-27 .section-title .icon img{
    display:block; width:auto; max-width:60%; height:auto; max-height:60%;
}


/* Section 28 */
.section-28{overflow:hidden;}
.section-28 .section-cards{width:100%; display:flex; flex-wrap:wrap;}
.section-28 .section-card{width:40%; padding:3.5rem 1rem 3.5rem 0;}
.section-28 .blocks{position:relative; width:60%; display:flex; flex-wrap:wrap;}
.section-28 .blocks > .img-bg{
    position:absolute; top:0; bottom:0; left:0; width:60vw;
    background-size:cover; background-position:center;
}
.section-28 .block{position:relative; width:50%; padding:3.5rem 1rem;}
.section-28 .block.bg-color::before{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0;
}
@media screen and (max-width:991.98px){
    .section-28 .section-card{width:100%; padding:3.5rem 0;}
    .section-28 .blocks{width:100%;}
    .section-28 .block{width:50%; padding:3.5rem 0 3.5rem 1rem;}
    .section-28 .block.bg-color{padding:3.5rem 1rem 3.5rem 0;}
    .section-28 .block.bg-color::before{left:unset; width:50vw;}
    .section-28 .blocks > .img-bg{left:calc(384px - 50vw - 1rem); width:100vw;}
}
@media screen and (max-width:767.98px){
    .section-28 .section-card{padding:3rem 0;}
    .section-28 .block{padding:3rem 0 3rem 1rem;}
    .section-28 .block.bg-color{padding:3rem 1rem 3rem 0;}
    .section-28 .blocks > .img-bg{left:calc(289px - 50vw - 1rem);}
}
@media screen and (max-width:575.98px){
    .section-28 .block, .section-28 .block.bg-color{width:100%; padding:2.5rem 0;}
    .section-28 .blocks > .img-bg{left:-1rem;}
    .section-28 .block.bg-color::before{left:-1rem; right:-1rem; width:100vw;}
}


/* Section 29 */
.section-29{position:relative; overflow:hidden;}
.section-29 .grids{--gs:1.5rem}
.section-29 > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center;
}
.section-29 > .container{position:relative;}
.section-29 .section-tab{
    position:relative; width:100%; height:100%; display:flex; align-items:center;
    padding:1rem 0; transition:background .25s, color .25s;
}
.section-29 .section-tab::before, .section-29 .section-tab.main::after{
    display:none; content:''; position:absolute; top:0; bottom:0; width:50vw;
    transition:background .25s;
}
.section-29 .section-tab::before{right:99%;}
.section-29 .section-tab::after{left:99%;}
.section-29 .section-tab.main::before{display:block;}
.section-29 .section-tab .icon{
    display:flex; align-items:center; justify-content:center;
    width:3.5rem; height:4.5rem; margin:0 1rem 0 0;
}
.section-29 .section-tab .icon img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
.section-29 .section-tab .arrow{
    display:flex; align-items:center; justify-content:center; width:1.75rem; height:1.75rem;
    border-radius:50%; font-size:.875rem; margin:.1875rem 0 0 0;
}
@media screen and (max-width:991.98px){
    .section-29 .section-tab .icon{width:3rem; height:3.5rem;}
}
@media screen and (max-width:575.98px){
    .section-29 .section-tab.main::after{display:block;}
}


/* Section 30 */
.section-30 .swiper-container{position:relative; margin:1.5rem 0 0 0;}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{position:relative; width:100%;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{
    position:relative; display:none; width:100%; padding:0; margin:0;
    transition:opacity .6s, transform .6s;
}
.tab-container .tab-content.fade-out:not(.no-fade){opacity:0; pointer-events:none;}
.tab-container .tab-content.fade-in:not(.no-fade){
    display:block; position:absolute; opacity:0; transform:translateY(1.5rem);
    pointer-events:none;
}
.tab-container .tab-content.active{display:block;}

/* Tabs 01 */
.tab-container .tabs.tabs-01{position:relative; display:flex; justify-content:center;}
.tab-container .tabs.tabs-01::before{
    content:''; position:absolute; bottom:0; left:1rem; right:0; height:3px;
}
.tab-container .tabs.tabs-01 .tab{
    position:relative; width:calc((100% - 3rem) / 5); padding:.5rem 1rem;
    min-height:5.5rem; border-radius:0 1rem 0 1rem; border-top:3px solid transparent;
    transition:width .25s, padding .25s, color .25s, background .25s;
}
.tab-container .tabs.tabs-01 .tab.active{
    width:calc((100% - 3rem) / 5 + 3rem); padding:.5rem 1rem .5rem 4rem;
}
.tab-container .tabs.tabs-01 .tab::before{
    content:''; position:absolute; top:-2px; bottom:0; right:0; width:0;
    border-radius:0 1rem 0 1rem; transition:width .25s;
}
.tab-container .tabs.tabs-01 .tab.active::before{left:0; right:unset; width:100%;}
.tab-container .tabs.tabs-01 .tab::after{
    content:''; position:absolute; top:1rem; bottom:0; right:100%; width:.8px;
    transition:opacity .25s;
}
.tab-container .tabs.tabs-01 .tab.active::after{opacity:0;}
.tab-container .tabs.tabs-01 .tab:first-child:after{display:none;}
.tab-container .tabs.tabs-01 .tab > *{position:relative;}
.tab-container .tabs.tabs-01 .tab .icon{
    position:absolute; top:1rem; left:1rem; width:2rem; opacity:0;
    transition:opacity .25s;
}
.tab-container .tabs.tabs-01 .tab.active .icon{opacity:1;}
.tab-container .tabs.tabs-01 .tab.active .icon > img{
    display:block; width:auto; max-width:1.75rem; height:auto; max-height:1.75rem; margin:0 auto;
}
.tab-container .tabs.tabs-01 .tab .tab-span{font-weight:400;}
.tab-container .tabs.tabs-01 .tab .num{
    position:absolute; top:.5rem; right:.5rem; font-size:1.0625rem;
    font-weight:400; display:block; text-align:center; line-height:1.5625rem;
    width:1.5625rem; height:1.5625rem; border-radius:50%;
}
@media screen and (max-width:1199.98px){
    .tab-container .tabs.tabs-01{flex-wrap:wrap;}
    .tab-container .tabs.tabs-01 .tab,
    .tab-container .tabs.tabs-01 .tab.active{width:calc(100% / 3);}
}
@media screen and (max-width:767.98px){
    .tab-container .tabs.tabs-01{flex-wrap:wrap;}
    .tab-container .tabs.tabs-01 .tab{width:100%; min-height:0;}
    .tab-container .tabs.tabs-01 .tab.active{width:100%;}
    .tab-container .tabs.tabs-01 .tab::after{display:none;}
}

/* Tabs 02 */
.tab-container .tabs.tabs-02{width:100%; display:flex; justify-content:space-between;}
.tab-container .tabs.tabs-02 > .tabs-title{display:flex; align-items:center;}
.tab-container .tabs.tabs-02 > .tabs-title .title{
    position:relative; -webkit-background-clip:text; -webkit-text-fill-color:transparent;
}
.tab-container .tabs.tabs-02 > .tabs-wrapper{display:flex;}
.tab-container .tabs.tabs-02 .tab{
    display:block; position:relative; text-align:center; width:7rem; overflow:hidden;
    padding:1rem .75rem 1rem .75rem; transition:background .25s, color .25s;
}
.tab-container .tabs.tabs-02 .tab > .img-bg{
    position:absolute; top:0; bottom:0; right:0; width:0; transition:width .25s;
    background-size:cover; background-position:center;
}
.tab-container .tabs.tabs-02 .tab:hover > .img-bg,
.tab-container .tabs.tabs-02 .tab.active > .img-bg{left:0; right:unset; width:100%;}
.tab-container .tabs.tabs-02 .tab > .icon{
    position:relative; display:flex; align-items:center; justify-content:center;
    width:100%; height:3rem;
}
.tab-container .tabs.tabs-02 .tab > .icon > img{
    display:block; width:auto; max-width:3.5rem; height:auto; max-height:2.75rem;
    opacity:0; transition:opacity .25s;
}
.tab-container .tabs.tabs-02 .tab > .icon > img.inactive{opacity:1;}
.tab-container .tabs.tabs-02 .tab:hover > .icon > img.inactive,
.tab-container .tabs.tabs-02 .tab.active > .icon > img.inactive{opacity:0;}
.tab-container .tabs.tabs-02 .tab > .icon > img.active{position:absolute; opacity:0;}
.tab-container .tabs.tabs-02 .tab:hover > .icon > img.active,
.tab-container .tabs.tabs-02 .tab.active > .icon > img.active{opacity:1;}
.tab-container .tabs.tabs-02 .tab > p{position:relative; margin:.75rem 0 0 0;}
.tab-container .tabs.tabs-02 .tab > .alert{
    position:absolute; top:.625rem; right:1rem; width:1.4375rem; height:1.4375rem;
    border-radius:50%; display:block; text-align:center; font-size:1.125rem; line-height:1.4375rem;
}
@media screen and (max-width:767.98px){
    .tab-container .tabs.tabs-02{flex-wrap:wrap;}
    .tab-container .tabs.tabs-02 > .tabs-title{
        width:100%; justify-content:center; padding:3rem 0 1.5rem 0; text-align:center;
    }
    .tab-container .tabs.tabs-02 > .tabs-wrapper{width:100%; justify-content:center;}
    .tab-container .tabs.tabs-02 .tab{width:25%;}
}
@media screen and (max-width:575.98px){
    .tab-container .tabs.tabs-02 > .tabs-title{padding:2.5rem 0 1.25rem 0;}
    .tab-container .tabs.tabs-02 .tab{width:calc(100% / 3);}
}

/* Tabs 03 */
.tab-container .tabs.tabs-03{display:flex; justify-content:center; width:100%;}
.tab-container .tabs.tabs-03 > .wrapper{
    display:flex; justify-content:center; flex-wrap:wrap; border-radius:1.625rem;
    padding:.375rem .5rem;
}
.tab-container .tabs.tabs-03 .tab{
    display:block; position:relative; white-space:nowrap; padding:.375rem 1.25rem;
    transition:color .25s; 
}
.tab-container .tabs.tabs-03 .tab::after{
    content:''; position:absolute; top:calc(50% - .125rem); right:-.125rem;
    width:.25rem; height:.25rem; border-radius:50%;
}
.tab-container .tabs.tabs-03 .tab:last-child:after{display:none;}
@media screen and (max-width:991.98px){
    .tab-container .tabs.tabs-03 > .wrapper{padding:.375rem 0;}
}
@media screen and (max-width:575.98px){
    .tab-container .tabs.tabs-03 .tab{width:100%; text-align:center;}
    .tab-container .tabs.tabs-03 .tab::after{display:none;}
}

/* Tabs 04 */
.tab-container .tabs.tabs-04{display:flex; flex-wrap:wrap; width:100%;}
.tab-container .tabs.tabs-04 .tab{
    position:relative; width:100%; padding:.75rem 2rem .75rem 0;
    border-bottom:1px solid transparent;
}
.tab-container .tabs.tabs-04 .tab .alert{
    position:absolute; top:calc(50% - .875rem); right:0; border-radius:50%; font-size:1.125rem;
    display:block; text-align:center; width:1.75rem; height:1.75rem; line-height:1.75rem;
}
@media screen and (max-width:991.98px){
    .tab-container .tabs.tabs-04 .tab{width:50%; padding:.75rem 3rem .75rem 0;}
    .tab-container .tabs.tabs-04 .tab .alert{right:1rem;}
}
@media screen and (max-width:575.98px){
    .tab-container .tabs.tabs-04 .tab{width:100%; padding:.75rem 2rem .75rem 0;}
    .tab-container .tabs.tabs-04 .tab .alert{right:0;}
}

/* Tabs 05 */
.tab-container .tabs.tabs-05{display:flex; justify-content:flex-end; flex-wrap:wrap; width:100%;}
.tab-container .tabs.tabs-05 .tab{
    display:flex; justify-content:center; align-items:center; margin:0 0 0 .5rem;
    border:2px solid transparent;  border-radius:50%; width:2rem; height:2rem;
    font-size:1.25rem; cursor:pointer; transition:all .25s;
}


/* Table Footer */
.table-footer{display:flex; align-items:center; justify-content:center; flex-wrap:wrap;}
@media screen and (min-width:768px){
    .table-footer > .paginate + .btns{margin-left:1.5rem; width:auto;}
}
@media screen and (max-width:767.98px){
    .table-footer > .paginate + .btns{margin-top:1rem; justify-content:center;}
}
