
/* Reset */
html, body, table.table{background:#000000; color:#ffffff;}
img, .img-bg, .icon, .hero{filter:grayscale(1)!important;}


/* Buttons */
.btn.btn-action, .btn.btn-action:focus{
  color:#000000; background:#ffffff; border-color:#ffffff;
}
.btn.btn-action::before{background:#e1e1e1; border-color:#dddddd;}
.btn.btn-action:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btns > .btn-more{color:#ffffff;}
.btns > .btn-more .icon{background:#ffffff; color:#000000;}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea{
  color:#ffffff!important; background:#000000!important; border-color:#ffffff!important;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
input[type=file]:focus, select:focus, textarea:focus{border-color:#ffffff!important;}

input[type=text].fgray, input[type=email].fgray, input[type=password].fgray, input[type=date].fgray, 
input[type=tel].fgray, input[type=number].fgray, input[type=phone].fgray, input[type=submit].fgray, 
input[type=file].fgray, select.fgray, textarea.fgray{background:#000000!important;}
input[type=text].sgray, input[type=email].sgray, input[type=password].sgray, input[type=date].sgray, 
input[type=tel].sgray, input[type=number].sgray, input[type=phone].sgray, input[type=submit].sgray, 
input[type=file].sgray, select.sgray, textarea.sgray{background:#000000!important;}

/* Input Icon */
.input-icon{background:#ffffff;}
.input-icon > .icon{color:#000000;}

/* Radio & Checkbox Container */
.rc-container > label::before{border-color:#ffffff;}
.rc-container > label::after{background:#ffffff;}


/* Page Loader */
.page-loader > .bg > *{background:#ffffff;}
.page-loader .spinner{border-color:rgba(0,0,0,.15); border-top-color:#591768;}
.page-loader .text{color:rgba(0,0,0,.15);}
.page-loader .text .sub{color:#591768;}


/* Super Topnav Style 03 */
nav.stopnav.style-03{border-color:rgba(255,255,255,.3);}
nav.stopnav.style-03 .option-box,
nav.stopnav.style-03 .a-full{border-color:rgba(255,255,255,.3);}
nav.stopnav.style-03 .a-text:hover, nav.stopnav.style-03 .a-text.active{color:#ffffff;}
nav.stopnav.style-03 .a-text::after, nav.stopnav.style-03 .a-img::after{background:#ffffff;}
nav.stopnav.style-03 .a-full:hover{background:#ffffff; color:#000000;}
nav.stopnav.style-03 .a-full.lang{
  background:#000000; color:#ffffff; border-right:1px solid rgba(255,255,255,.3);
}
nav.stopnav.style-03 .a-full.lang:hover,
nav.stopnav.style-03 .a-full.lang.active{background:#ffffff; color:#000000;}
nav.stopnav.style-03 .a-btn{background:#000000; color:#ffffff;}
nav.stopnav.style-03 .option:hover .a-btn{background:#ffffff; color:#000000;}
nav.stopnav.style-03 .a-btn .icon{background:#ffffff; color:#000000;}
nav.stopnav.style-03 .option:hover .a-btn .icon{background:#000000; color:#ffffff;}
nav.stopnav.style-03 .submenu-dropdown{
  border-color:#ffffff; background:rgba(0,0,0,.96); color:#ffffff;
}
nav.stopnav.style-03 .submenu:hover > *:first-child{background:#ffffff; color:#000000;}

/* Super Topnav Style 06 */
nav.stopnav.style-06{border-color:rgba(255,255,255,.3);}
nav.stopnav.style-06 .option-box,
nav.stopnav.style-06 .a-full{border-color:rgba(255,255,255,.3);}
nav.stopnav.style-06 .a-text:hover, nav.stopnav.style-06 .a-text.active{color:#ffffff;}
nav.stopnav.style-06 .a-text::after, nav.stopnav.style-06 .a-img::after{background:#ffffff;}
nav.stopnav.style-06 .a-full:hover{background:#ffffff; color:#000000;}
nav.stopnav.style-06 .a-full.lang{
  background:#000000; color:#ffffff; border-right:1px solid rgba(255,255,255,.3);
}
nav.stopnav.style-06 .a-full.lang:hover,
nav.stopnav.style-06 .a-full.lang.active{background:#ffffff; color:#000000;}
nav.stopnav.style-06 .a-btn{background:#000000; color:#ffffff;}
nav.stopnav.style-06 .option:hover .a-btn{background:#ffffff; color:#000000;}
nav.stopnav.style-06 .a-btn .icon{background:#ffffff; color:#000000;}
nav.stopnav.style-06 .option:hover .a-btn .icon{background:#000000; color:#ffffff;}


/* Topnav */
nav.topnav{background:#000000; border-color:rgba(255,255,255,.3);}
nav.topnav .logo{color:#ffffff;}
nav.topnav .menu > *:first-child::after{background:#ffffff;}
nav.topnav .submenu-dropdown{
  border-color:#ffffff; background:rgba(0,0,0,.96); color:#ffffff;
}
nav.topnav .submenu{border-color:rgba(255,255,255,.3);}
nav.topnav .submenu:hover > *:first-child{background:#ffffff; color:#000000;}
nav.topnav .sidenav-toggle::before{background:#ffffff;}
nav.topnav .hamburger > *{background:#000000;}

/* Topnav Style 01 */
nav.topnav.style-01{border-color:rgba(255,255,255,.3); background:transparent; color:#ffffff;}
nav.topnav.style-01.sticky{background:#000000; color:#ffffff;}
nav.topnav.style-01 .option-detail{border-color:rgba(255,255,255,.3);}
nav.topnav.style-01 .option-detail .set.main{background:#ffffff; color:#000000;}
nav.topnav.style-01 .option-detail .sets > .set-dropdown{
  border-color:#ffffff; background:#000000; color:#ffffff;
}
nav.topnav.style-01 .option-detail .sets > .set-dropdown .set-option:hover{
  background:#ffffff; color:#000000;
}
nav.topnav.style-01 .option{border-color:rgba(255,255,255,.3);}
nav.topnav.style-01 .hamburger > *{background:#ffffff;}
nav.topnav.style-01 .option.sidenav-toggle::before,
nav.topnav.style-01 .option.sidenav-toggle{background:none;}

/* Topnav Style 02 */
nav.topnav.style-02{color:#000000;}
nav.topnav.style-02 .logo{color:#000000;}
nav.topnav.style-02 .topnav-top{color:#ffffff;}
nav.topnav.style-02 .a-text, nav.topnav.style-02 .a-icon,
nav.topnav.style-02 .flags{border-color:rgba(255,255,255,.3);}
nav.topnav.style-02 .menu > *:first-child::before{background:rgba(0,0,0,.15);}
nav.topnav.style-02 .menu.main > *:first-child{background:#000000; color:#ffffff;}
nav.topnav.style-02 .hamburger > *{background:#000000;}

/* Topnav Style 04 */
nav.topnav.style-04{border-color:rgba(255,255,255,.3); background:transparent; color:#ffffff;}
nav.topnav.style-04.sticky{background:#000000; color:#ffffff;}
nav.topnav.style-04 .option-detail .set.main{background:#ffffff; color:#000000;}
nav.topnav.style-04 .hamburger > *{background:#ffffff;}
nav.topnav.style-04 .option.sidenav-toggle::before,
nav.topnav.style-04 .option.sidenav-toggle{background:none;}

/* Topnav Style 06 */
nav.topnav.style-06{background:#000000;}
nav.topnav.style-06 .menu.active > *:first-child{background:#ffffff; color:#000000;}
nav.topnav.style-06 .hamburger > *{background:#000000;}
nav.topnav.style-06 .options .option{border-color:rgba(255,255,255,.3);}


/* Sidenav */
nav.sidenav{background:#000000; border-left:1px solid rgba(255,255,255,.3);}
nav.sidenav .hamburger > *{background:#ffffff;}
nav.sidenav .sidenav-toggle, nav.sidenav .options, 
nav.sidenav .options > .option, nav.sidenav .options > .option-btn,
nav.sidenav .option > .dropdown, nav.sidenav .option > .dropdown > *, nav.sidenav .scroll-wrapper, 
nav.sidenav .menu > *:first-child{border-color:rgba(255,255,255,.3);}
nav.sidenav .submenu > *:first-child{border-color:rgba(255,255,255,.3);}
nav.sidenav .option > .dropdown{background:#000000;}
nav.sidenav .menu > *:first-child{color:#ffffff;}
nav.sidenav .menu:hover > *:first-child{color:#000000; background:#ffffff;}
nav.sidenav .menu:hover .dropdown-toggle > em{color:#000000;}
nav.sidenav .submenu > *:first-child{color:#ffffff; background:#000000;}
nav.sidenav .submenu .submenu > *:first-child{background:#000000; color:#ffffff;}
nav.sidenav .submenu:hover > *:first-child{color:#000000; background:#ffffff;}
nav.sidenav .dropdown-toggle{color:#ffffff;}
nav.topnav .option > .dropdown .flag-wrapper:hover{background:#ffffff;}
nav.sidenav .options > .option-btn:hover > a{color:#ffffff;}


/* Global Search Container */
.global-search-container{color:#ffffff;}
.global-search-container .hamburger > *{background:#ffffff;}


/* Back to Top */
.back-to-top{background:#ffffff; color:#000000; border:1px solid #ffffff;}


/* Footer */
nav.footer{background:#000000; color:#ffffff; border-top:1px solid rgba(255,255,255,.3);}
nav.footer .title-sep::before{background:rgba(255,255,255,.3);}
nav.footer .title-sep .more .icon{background:#ffffff; color:#000000;}

/* Footer Style 01  */
nav.footer.style-01{background:#000000; color:#ffffff; border-top:1px solid #ffffff;}
nav.footer.style-01 .footer-top,
nav.footer.style-01 .footer-middle{border-color:rgba(255,255,255,.3);}
nav.footer.style-01 .list-items > a::before{background:#ffffff;}
nav.footer.style-01 .footer-socials .social{background:#ffffff; color:#000000;}

/* Footer Style 02  */
nav.footer.style-02 .footer-card{border:1px solid rgba(255,255,255,.3); color:#ffffff;}
nav.footer.style-02 .footer-socials .social{background:#ffffff; color:#000000;}
nav.footer.style-02 .count-web > *{
  background-image:linear-gradient(to bottom,rgba(255,255,255,.8),
  rgba(255,255,255,.9),rgba(255,255,255,.8));
  border-color:rgba(255,255,255,.3)!important; color:#000000;
}

/* Footer Style 03 */
nav.footer.style-03 .input-icon{background:#ffffff;}
nav.footer.style-03 .footer-socials .social{background:#ffffff; color:#000000;}
nav.footer.style-03 .footer-bottom{border-top:1px solid rgba(255,255,255,.3);}
nav.footer.style-03 .count-web > *{
  background-image:linear-gradient(to bottom,rgba(255,255,255,.8),
  rgba(255,255,255,.9),rgba(255,255,255,.8));
  border-color:rgba(255,255,255,.3)!important; color:#000000;
}

/* Footer Style 04  */
nav.footer.style-04{background:#000000; color:#ffffff;}
nav.footer.style-04 .footer-socials .social{background:#ffffff; color:#000000;}
nav.footer.style-04 .footer-bottom{border-color:rgba(255,255,255,.3);}

/* Footer Style-05  */
nav.footer.style-05{background:#000000; color:#ffffff;}
nav.footer.style-05 .footer-bottom{border-color:rgba(255,255,255,.15);}

/* Footer Style 06 */
nav.footer.style-06{color:#000000;}
nav.footer.style-06 .input-icon{background:#ffffff;}
nav.footer.style-06 .footer-socials .social{background:#000000; color:#ffffff;}
nav.footer.style-06 .footer-bottom{color:#ffffff; border-top:1px solid rgba(255,255,255,.3);}
nav.footer.style-06 .count-web > *{
  background-image:linear-gradient(to bottom,rgba(0,0,0,.8),
  rgba(0,0,0,.9),rgba(0,0,0,.8));
  border-color:rgba(0,0,0,.3)!important; color:#ffffff;
}


/* Accessibility & Quick Links */
nav.side-panel .panel{border-color:rgba(255,255,255,.3);}
nav.side-panel .icon{background:#000000; color:#ffffff;}
nav.side-panel > .wrapper > .icon{background:#000000;}
nav.side-panel.active > .wrapper > .icon{background:#000000;}
nav.side-panel .panel-row{background:#000000; color:#ffffff;}
nav.side-panel .panel-row:nth-child(even){background:#171717;}
nav.side-panel .panel-row:first-child{background:#000000; color:#ffffff;}
nav.side-panel .option{color:#ffffff; fill:#ffffff;}
nav.side-panel .option:not(.btn-cursor):hover, nav.side-panel .option:not(.btn-cursor).active{
  background:#ffffff; color:#000000; fill:#000000;
}
nav.side-panel .option-row{color:#ffffff;}
nav.side-panel .option-row .icon + *::before{background:#ffffff;}
nav.side-panel .hamburger > *{background:#ffffff;}


/* Special Card */
.ss-card .line-1::before, .ss-card .line-1::after,
.ss-card .line-2::before, .ss-card .line-2::after{background:#ffffff;}

.ss-card .filter{
  background-image:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,.9),
    rgba(0,0,0,.4),rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0),
    rgba(0,0,0,0));
}

/* Special Card 01 */
.ss-card-01 .text-container{border-color:rgba(255,255,255,.3);}
.ss-card-01 .card-footer .date::before{background:#ffffff;}
.ss-card-01 .card-footer .more .icon{background:#ffffff; color:#000000;}

/* Special Card 03 */
.ss-card-03 .icon{background:#000000; color:#ffffff;}

/* Special Card 04 */
.ss-card-04 .text-container{background:#ffffff; color:#000000;}
.ss-card-04:hover .text-container{background:#000000; color:#ffffff;}
.ss-card-04 .card-footer .view .icon{color:#000000;}
.ss-card-04:hover .card-footer .view .icon{color:#ffffff;}

/* Special Card 05 */
.ss-card-05 .text-container{
  background:#ffffff; box-shadow:0px 3px 6px 4px rgba(0,0,0,.04); color:#000000;
}
.ss-card-05 .card-footer{border-color:rgba(0,0,0,.3);}
.ss-card-05 .card-footer .icon{color:#000000;}
.ss-card-05 .card-footer .block::after{background:rgba(0,0,0,.3);}
.ss-card-05 .card-footer .more{background:#000000; color:#ffffff;}

/* Special Card 06 */
.ss-card-06 .text-container{
  background:#ffffff; color:#000000; box-shadow:0px 3px 6px 4px rgba(0,0,0,.04);
}
.ss-card-06 .card-footer .block::after{background:rgba(0,0,0,.3);}
.ss-card-06 .more{background:#000000; color:#ffffff;}
.ss-card-06 .btn.btn-action.btn-08{border-color:#000000!important;}

/* Special Card 07 */
.ss-card-07{
  background:#ffffff; box-shadow:0px 4px 8px 5px rgba(255,255,255,.03); color:#000000;
}
.ss-card-07 .text-container::after{
  background-image:linear-gradient(to bottom right,#000000,#000000);
}
.ss-card-07 .card-footer .icon{color:#000000;}
.ss-card-07 .card-footer .block::after{background:rgba(0,0,0,.3);}
.ss-card-07 .btn-more{background:#000000; color:#ffffff; border-color:#ffffff;}

/* Special Card 08 */
.ss-card-08 .text-container{background:#ffffff; color:#000000;}
.ss-card-08 .socials > .social{
  background:transparent; color:#000000; border-color:#000000;
}
.ss-card-08 .socials > .social:hover{background:#000000; color:#ffffff;}

/* Special Card 09 */
.ss-card-09 .line-1::before, .ss-card-09 .line-1::after,
.ss-card-09 .line-2::before, .ss-card-09 .line-2::after{background:#000000;}
.ss-card-09 .text-container{
  background:#ffffff; color:#000000; border:1px solid #000000;
  box-shadow:0px 3px 6px 4px rgba(255,255,255,.04);
}
.ss-card-09 .card-footer{border-color:rgba(0,0,0,.15);}
.ss-card-09 .card-footer .icon{color:#000000;}
.ss-card-09 .card-footer .block::after{background:rgba(0,0,0,.15);}

/* Special Card 12 */
.ss-card-12{box-shadow:0px 4px 10px 6px rgba(255,255,255,.03);}
.ss-card-12 .text-container{background:#ffffff; color:#000000;}
.ss-card-12 .card-footer{border-color:rgba(0,0,0,.3);}
.ss-card-12 .card-footer .icon{color:#000000;}
.ss-card-12 .card-footer .block::after{background:rgba(0,0,0,.3);}
.ss-card-12 .card-footer .more{background:#000000; color:#ffffff;}

/* Special Card 13 */
.ss-card-13 .line-1::before, .ss-card-13 .line-1::after,
.ss-card-13 .line-2::before, .ss-card-13 .line-2::after{background:#000000;}
.ss-card-13 .text-container{background:#ffffff; color:#000000;}
.ss-card-13 .card-footer{border-color:rgba(0,0,0,.15);}
.ss-card-13 .card-footer .icon{color:#000000;}
.ss-card-13 .card-footer .block::after{background:rgba(0,0,0,.15);}

/* Special Card 14 */
.ss-card-14{color:#ffffff;}
.ss-card-14 .more{background:#000000; color:#ffffff;}
.ss-card-14 .more:hover{background:#ffffff; color:#000000;}

/* Special Card 15 */
.ss-card-15{background:#000000; color:#ffffff; border:1px solid #ffffff;}
.ss-card-15 .rc-container > label::before{border-color:#ffffff;}
.ss-card-15 .rc-container > label::after{background:#ffffff;}

/* Special Card 16 */
.ss-card-16 .line-1::before, .ss-card-16 .line-1::after,
.ss-card-16 .line-2::before, .ss-card-16 .line-2::after{background:#000000;}
.ss-card-16{background:#ffffff; color:#000000;}
.ss-card-16 .card-footer{border-color:rgba(0,0,0,.15);}
.ss-card-16 .icon{color:#000000;}
.ss-card-16 .card-footer .block::after{background:rgba(0,0,0,.15);}

/* Special Card 18 */
.ss-card-18 .line-1::before, .ss-card-18 .line-1::after,
.ss-card-18 .line-2::before, .ss-card-18 .line-2::after{background:#000000;}
.ss-card-18{background:#ffffff; color:#000000;}
.ss-card-18::before{background:rgba(0,0,0,.1);}
.ss-card-18 .more{background:#000000; color:#ffffff;}

/* Special Card 19 */
.ss-card-19 .text-container{background:#ffffff; color:#000000;}

/* Special Card 24 */
.ss-card-24 .icon{background:#ffffff; color:#000000;}

/* Special Card 26 */
.ss-card-26 .line-1::before, .ss-card-26 .line-1::after,
.ss-card-26 .line-2::before, .ss-card-26 .line-2::after{background:#000000;}
.ss-card-26{background:#ffffff; color:#000000;}
.ss-card-26::before{background:rgba(0,0,0,.1);}

/* Special Image */
.ss-img .hover-container{background:rgba(0,0,0,.5);}
.ss-img .icon-float{background:#000000; color:#ffffff;}


/* Special Item 01 */
.ss-item-01{background:#ffffff; color:#000000; border:1px solid #ffffff;}
.ss-item-01 > .icon{background:#000000; color:#ffffff;}


/* Special List */
.ss-list > li::before{background:#000000;}


/* Special Separation */
.ss-sep-01, .ss-sep-02{background:#ffffff;}


/* Special Tags */
.ss-tags > .tag{background:#000000; color:#ffffff; border:1px solid #ffffff;}


/* Special Title 01 */
.ss-title-01{background-image:linear-gradient(to right,#ffffff,#ffffff);}
.ss-title-01::before{background-image:linear-gradient(to right,#ffffff,#ffffff);}

/* Special Title 03 */
.ss-title-03 > .wrapper::before, .ss-title-03 > .wrapper::after{background:#ffffff;}


/* Banner 01 */
.banner-01 .slick-dots button{background:#ffffff;}
.banner-01 .slick-dots li.slick-active button{background:#000000;}
.banner-01 .slick-dots button::before{border-color:#ffffff;}

/* Banner 03 */
.banner-03 .slick-dots button{background:#ffffff;}

/* Banner 04 */
.banner-04 .slick-dots button{background:#ffffff;}


/* Info 01 */
.info-01{background:#f0f0f0;}
.info-01 .slick-dots button{border-color:#000000;}
.info-01 .slick-dots li button:hover,
.info-01 .slick-dots li.slick-active button{background:#000000;}
.info-01 .btns > .btn-more{color:#000000;}
.info-01 .btns > .btn-more .icon{background:#000000; color:#ffffff;}
.info-01 .quote-container{color:#000000;}

/* Info 02 */
.info-02 .section-tab{color:#ffffff;}
.info-02 .section-tab .arrow{background:#ffffff; color:#000000;}
.info-02 .section-tab.main::before, .info-02 .section-tab.main::after,
.info-02 .section-tab.main{background:#000000;}

/* Info 03 */
.info-03 .info-card{
  background:#ffffff; color:#000000; border-color:rgba(0,0,0,.04)!important;
  box-shadow:0px 3px 4px 3px rgba(0,0,0,.02);
}
.info-03 .info-card:hover{color:#ffffff;}
.info-03 .info-card .chev{color:#ffffff;}


/* Paginate */
.paginate .page.page-prev, .paginate .page.page-next,
.paginate .page:hover{background:#ffffff; color:#000000;}
.paginate .page.page-prev:hover, .paginate .page.page-next:hover,
.paginate .page.active{background:#ffffff; color:#000000;}


/* Section 01 */
.section-01 .info-cards{background:#000000; box-shadow:0px 4px 10px 8px rgba(0,0,0,.08);}

/* Section 02 */
.section-02 .slick-dots button{background:#ffffff;}
.section-02 .slick-dots li.slick-active button{background:#000000;}
.section-02 .slick-dots button::before{border-color:#ffffff;}

/* Section 03 */
.section-03{background:#ffffff; color:#000000;}
.section-03 .input-icon{background:#000000;}
.section-03 .input-icon > .icon{color:#ffffff;}
.section-03 input[type=text]{background:#ffffff!important; color:#000000!important;}

/* Section 04 */
.section-04 .section-tab:nth-child(1)::before, .section-04 .section-tab:nth-child(1)::after,
.section-04 .section-tab:nth-child(1){background:#999999!important;}
.section-04 .section-tab:nth-child(2)::before, .section-04 .section-tab:nth-child(2)::after,
.section-04 .section-tab:nth-child(2){background:#e3e2e3; color:#000000;}
.section-04 .section-tab:nth-child(3)::before, .section-04 .section-tab:nth-child(3)::after,
.section-04 .section-tab:nth-child(3){background:#ededed; color:#000000;}
.section-04 .section-tab:nth-child(4)::before, .section-04 .section-tab:nth-child(4)::after,
.section-04 .section-tab:nth-child(4){background:#f6f6f6; color:#000000;}
.section-04 .section-tab.main{color:#ffffff;}
.section-04 .section-tab .icon{color:#000000;}
.section-04 .section-tab:hover::before, .section-04 .section-tab:hover::after,
.section-04 .section-tab:hover{background:#eeeeee;}
.section-04 .section-tab.main .icon{border-color:rgba(255,255,255,.3);}

/* Section 05 */
.section-05 .section-card{
  background:#000000; color:#ffffff; border:1px solid rgba(255,255,255,.3);
}
.section-05 .section-card .icon{background:#ffffff; color:#000000;}
.section-05 .section-card .filter{
  background-image:linear-gradient(to top,rgba(255,255,255,.2),
    rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0));
}
.section-05 .slide-container .arrow{color:#ffffff;}

/* Section 06 */
.section-06 .ss-card .line-1::before, .section-06 .ss-card .line-1::after,
.section-06 .ss-card .line-2::before, .section-06 .ss-card .line-2::after{background:#ffffff;}
.section-06 .ss-card{filter:grayscale(1);}

/* Section 07 */
.section-07 .slide > .wrapper{box-shadow:0px 3px 6px 4px rgba(0,0,0,.04);}
.section-07 .slide > .wrapper{background:#ffffff; color:#000000;}
.section-07 .slide > .wrapper::after{background:#eeeeee;}
.section-07 .slide .icon{background:#000000; color:#ffffff;}

/* Section 08 */
.section-08{box-shadow:rgb(255 255 255/9%) 0px 25px 20px -20px;}

/* Section 09 */
.section-09::before{background:#000000;}
.section-09 .section-card{
  background:#222222; color:#ffffff; border-color:rgba(255,255,255,.2)!important;
}
.section-09 .section-card:hover{background:#000000;}
.section-09 .section-card .icon{background:#000000;}

/* Section 10 */
.section-10 .inner-wrapper{box-shadow:0px 4px 8px 6px rgba(255,255,255,.03);}
.section-10 .swiper-pagination-bullet{background:rgba(255,255,255,.3);}
.section-10 .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#ffffff;}
.section-10 .ss-card-09{
  background:#ffffff; color:#000000; border-right:1px solid rgba(0,0,0,.3)!important;
}
.section-10 .more{background:#000000; color:#ffffff;}


/* Section 11 */
.section-11{background:#000000;}
.section-11 .section-card{color:#ffffff;}

/* Section 13 */
.section-13 .section-card > .card-footer{border:1px solid #ffffff;}
.section-13 .section-card .text-container{background:#ffffff; color:#000000;}
.section-13 .section-card .icon{background:#000000;}
.section-13 .slick-dots button{background:#ffffff;}

/* Section 15 */
.section-15{color:#ffffff;}
.section-15 .item{border-color:rgba(255,255,255,.3);}
.section-15 .item .image-container{border-color:#ffffff;}
.section-15 .item .card-footer .icon{color:#ffffff;}
.section-15 .item .card-footer .block-icon::after{background:rgba(255,255,255,.3);}

/* Section 17 */
.section-17 .opinion-poll{border:1px solid #ffffff;}
.section-17 .text-container{background:#000000; color:#ffffff;}
.section-17 .rc-container > label::before{border-color:#ffffff;}
.section-17 .rc-container > label::after{background:#ffffff;}

/* Section 18 */
.section-18 .title-black{color:#000000;}
.section-18 .slick-dots button{background:rgba(255,255,255,.3);}
.section-18 .slick-dots li.slick-active button{background:#ffffff;}

/* Section 19 */
.section-19 .swiper-slide .text-container{color:#ffffff;}
.section-19 .btn-swiper{
  background:#ffffff; box-shadow:0px 3px 6px 4px rgba(255,255,255,.075);
}
.section-19 .btn-swiper .btn{background:#000000; color:#ffffff;}

/* Section 20 */
.section-20 .section-card{background:#ffffff; color:#000000;}
.section-20 .section-card .icon{border-color:#000000;}

/* Special Card 21 */
.ss-card-21 .text-container{background:#ffffff; color:#000000;}

/* Section 22 */
.section-22 > .img-bg{background:#000000;}
.section-22 .slick-dots button{background:rgba(255,255,255,.3);}
.section-22 .slick-dots li.slick-active button{background:#ffffff;}

/* Section 25 */
.section-25 .slick-dots button{background:rgba(255,255,255,.3);}
.section-25 .slick-dots li.slick-active button{background:#ffffff;}

/* Section 26 */
.section-26 .slick-list.draggable{box-shadow:0px 4px 8px 6px rgba(255,255,255,.03);}
.section-26 .slick-dots button{background:rgba(255,255,255,.3);}
.section-26 .slick-dots li.slick-active button{background:#ffffff;}

/* Section 27 */
.section-27 .section-title .icon{background:#ffffff; color:#000000;}

/* Section 28 */
.section-28 .block.bg-color::before{background:rgba(0,0,0,.7)}
.section-28 .block .btns > .btn-more{color:#ffffff;}
.section-28 .block .btns > .btn-more .icon{background:#ffffff; color:#000000;}

/* Section 29 */
.section-29{border-top:1px solid rgba(255,255,255,.3);}
.section-29 > .img-bg{background:#000000!important;}
.section-29 .section-tab{color:#ffffff;}
.section-29 .section-tab .arrow{color:#ffffff;}
.section-29 .section-tab.main::before, .section-29 .section-tab.main::after,
.section-29 .section-tab.main{background:#000000;}


/* Tabs 01 */
.tab-container .tabs.tabs-01::before,
.tab-container .tabs.tabs-01 .tab::after{background:#ffffff;}
.tab-container .tabs.tabs-01 .tab.active{border-color:rgba(255,255,255,.3); color:#ffffff;}
.tab-container .tabs.tabs-01 .tab::before{
  background-image:linear-gradient(to right,#222222,#444444);
}
.tab-container .tabs.tabs-01 .tab .tab-span{color:#eeeeee;}
.tab-container .tabs.tabs-01 .tab .num{background:#ffffff; color:#000000;}

/* Tabs 02 */
.tab-container .tabs.tabs-02{box-shadow:rgb(255 255 255/9%) 0px 25px 20px -20px;}
.tab-container .tabs.tabs-02 > .tabs-title .title{
  background-image:linear-gradient(to bottom,#ffffff,#ffffff);
}
.tab-container .tabs.tabs-02 .tab:hover,
.tab-container .tabs.tabs-02 .tab.active{color:#ffffff;}
.tab-container .tabs.tabs-02 .tab > .alert{background:#ffffff; color:#000000;}
.tab-container .tabs.tabs-02 .tab .img-bg{background:#333333!important;}

/* Tabs 03 */
.tab-container .tabs.tabs-03 > .wrapper{background:#ffffff;}
.tab-container .tabs.tabs-03 .tab{color:rgba(0,0,0,.5);}
.tab-container .tabs.tabs-03 .tab:hover{color:#000000;}
.tab-container .tabs.tabs-03 .tab.active{color:#000000;}
.tab-container .tabs.tabs-03 .tab::after{background:#000000}

/* Tabs 04 */
.tab-container .tabs.tabs-04 .tab{color:#ffffff; border-color:rgba(255,255,255,.3);}
.tab-container .tabs.tabs-04 .tab .alert{background:#ffffff; color:#000000;}

/* Tabs 05 */
.tab-container .tabs.tabs-05 .tab{border-color:#ffffff; color:#ffffff;}
.tab-container .tabs.tabs-05 .tab:hover,
.tab-container .tabs.tabs-05 .tab.active{background:#ffffff; color:#000000;}
