
/* Reset */
html, body, table.table{color:#000000;}


/* Colors */
.color-p, .h-color-p:hover{color:#591768!important;}
.color-s, .h-color-s:hover{color:#194e84!important;}
.color-t, .h-color-t:hover{color:#f4b510!important;}
.color-white, .h-color-white:hover{color:#ffffff!important;}
.color-black, .h-color-black:hover{color:#000000!important;}
.color-dark, .h-color-dark:hover{color:#222325!important;}
.color-gray, .h-color-gray:hover{color:#696969!important;}
.color-sgray, .h-color-sgray:hover{color:#f0f0f0!important;}
.color-01, .h-color-01:hover{color:#f6df76!important;}
.color-02, .h-color-02:hover{color:#9608b4!important;}
.color-03, .h-color-03:hover{color:#68459b!important;}
.color-04, .h-color-04:hover{color:#f9c816!important;}
.color-05, .h-color-05:hover{color:#d6bf64!important;}
.color-06, .h-color-06:hover{color:#76108f!important;}
.color-07, .h-color-07:hover{color:#4e025f!important;}
.color-08, .h-color-08:hover{color:#663399!important;}
.color-09, .h-color-09:hover{color:#a14ff3!important;}
.color-10, .h-color-10:hover{color:#271148!important;}
.color-11, .h-color-11:hover{color:#81808c!important;}
.color-12, .h-color-11:hover{color:#f2f2f2!important;}
.color-13, .h-color-11:hover{color:#8e8f8f!important;}

.bg-p{background:#591768!important;}
.bg-s{background:#194e84!important;}
.bg-t{background:#f4b510!important;}
.bg-white{background:#ffffff!important;}
.bg-black{background:#000000!important;}
.bg-dark{background:#222325!important;}
.bg-gray{background:#696969!important;}
.bg-sgray{background:#f0f0f0!important;}
.bg-01{background:#f6df76!important;}
.bg-02{background:#9608b4!important;}
.bg-03{background:#68459b!important;}
.bg-04{background:#f9c816!important;}
.bg-05{background:#d6bf64!important;}
.bg-06{background:#76108f!important;}
.bg-07{background:#4e025f!important;}
.bg-08{background:#663399!important;}
.bg-09{background:#a14ff3!important;}
.bg-10{background:#271148!important;}
.bg-11{background:#81808c!important;}
.bg-12{background:#f2f2f2!important;}
.bg-13{background:#8e8f8f!important;}

.bcolor-p{border-color:#591768!important;}
.bcolor-s{border-color:#194e84!important;}
.bcolor-t{border-color:#f4b510!important;}
.bcolor-white{border-color:#ffffff!important;}
.bcolor-black{border-color:#000000!important;}
.bcolor-dark{border-color:#222325!important;}
.bcolor-gray{border-color:#696969!important;}
.bcolor-sgray{border-color:#f0f0f0!important;}
.bcolor-01{border-color:#f6df76!important;}
.bcolor-02{border-color:#9608b4!important;}
.bcolor-03{border-color:#68459b!important;}
.bcolor-04{border-color:#f9c816!important;}
.bcolor-05{border-color:#d6bf64!important;}
.bcolor-06{border-color:#76108f!important;}
.bcolor-07{border-color:#4e025f!important;}
.bcolor-08{border-color:#663399!important;}
.bcolor-09{border-color:#a14ff3!important;}
.bcolor-10{border-color:#271148!important;}
.bcolor-11{border-color:#81808c!important;}
.bcolor-12{border-color:#f2f2f2!important;}
.bcolor-13{border-color:#8e8f8f!important;}


/* Buttons */
.btn.btn-p, .btn.btn-p:focus{color:#ffffff; background:#194e84; border-color:#194e84;}
.btn.btn-p::before{background:#696969; border-color:#696969;}
.btn.btn-p:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-s, .btn.btn-s:focus{color:#ffffff; background:#04adf0; border-color:#04adf0;}
.btn.btn-s::before{background:#696969; border-color:#696969;}
.btn.btn-s:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-inactive, .btn.btn-inactive:focus, .btn.btn-inactive:hover,
.btn.btn-inactive:active{color:#ffffff; background:#e1e1e1; border-color:#e1e1e1;}

.btn.btn-01, .btn.btn-01:focus{color:#ffffff; background:#000033; border-color:#000033;}
.btn.btn-01::before{background:#696969; border-color:#696969;}
.btn.btn-01:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-02, .btn.btn-02:focus{color:#ffffff; background:#d6bf64; border-color:#d6bf64;}
.btn.btn-02::before{background:#663399; border-color:#663399;}
.btn.btn-02:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-03, .btn.btn-03:focus{color:#ffffff; background:#663399; border-color:#663399;}
.btn.btn-03::before{background:#d6bf64; border-color:#d6bf64;}
.btn.btn-03:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-04, .btn.btn-04:focus{color:#ffffff; background:#d6bf64; border-color:#d6bf64;}
.btn.btn-04::before{background:#e6e1ec; border-color:#e6e1ec;}
.btn.btn-04:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-05, .btn.btn-05:focus{color:#ffffff; background:#271148; border-color:#271148;}
.btn.btn-05::before{background:#fd7e14; border-color:#fd7e14;}
.btn.btn-05:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-06, .btn.btn-06:focus{color:#ffffff; background:#271148; border-color:#271148;}
.btn.btn-06::before{background:#d6bf64; border-color:#d6bf64;}
.btn.btn-06:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btn.btn-07, .btn.btn-07:focus{color:#ffffff; background:#663399; border-color:#663399;}
.btn.btn-07::before{background:#fd7e14; border-color:#fd7e14;}
.btn.btn-07:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

.btns > .btn-more:hover{color:#550469;}
.btns > .btn-more .icon{background:#550469; color:#ffffff;}
.btns > .btn-more:hover .icon{background:#f9c816;}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea{
  color:#000000!important; background:#ffffff!important; border-color:#dddddd!important;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus, 
input[type=tel]:focus, input[type=number]:focus, input[type=phone]:focus, input[type=submit]:focus, 
input[type=file]:focus, select:focus, textarea:focus{border-color:#311916!important;}

input[type=text].fgray, input[type=email].fgray, input[type=password].fgray, input[type=date].fgray, 
input[type=tel].fgray, input[type=number].fgray, input[type=phone].fgray, input[type=submit].fgray, 
input[type=file].fgray, select.fgray, textarea.fgray{background:#f8f9fa!important;}
input[type=text].sgray, input[type=email].sgray, input[type=password].sgray, input[type=date].sgray, 
input[type=tel].sgray, input[type=number].sgray, input[type=phone].sgray, input[type=submit].sgray, 
input[type=file].sgray, select.sgray, textarea.sgray{background:#e3e4e6!important;}

/* Input Icon */
.input-icon{background:#242529;}
.input-icon:hover::before{background:#e2c72e;}
.input-icon > .icon{color:#ffffff;}

/* Radio & Checkbox Container */
.rc-container > label::before{border-color:#591768;}
.rc-container > label::after{background:#591768;}


/* Page Loader */
.page-loader > .bg > *{background:#ffffff;}
.page-loader .spinner{border-color:rgba(0,0,0,.15); border-top-color:#591768;}
.page-loader .text{color:rgba(0,0,0,.15);}
.page-loader .text .sub{color:#591768;}


/* Super Topnav */
nav.stopnav.style-03{background:#68459b; color:#ffffff;}
nav.stopnav.style-03 .option-box,
nav.stopnav.style-03 .a-full{border-color:rgba(255,255,255,.3);}
nav.stopnav.style-03 .a-text:hover, nav.stopnav.style-03 .a-text.active{color:#f9c816;}
nav.stopnav.style-03 .a-text::after, nav.stopnav.style-03 .a-img::after{background:#f9c816;}
nav.stopnav.style-03 .a-full:hover{background:#76108f; color:#ffffff;}
nav.stopnav.style-03 .a-full.lang{background:#ffffff; color:#3c3c3c;}
nav.stopnav.style-03 .a-full.lang:hover,
nav.stopnav.style-03 .a-full.lang.active{background:#76108f; color:#ffffff;}
nav.stopnav.style-03 .a-btn{background:#540468; color:#ffffff;}
nav.stopnav.style-03 .a-btn .icon{background:#f9c816; color:#ffffff;}
nav.stopnav.style-03 .submenu-dropdown{
  border-color:#f9c816; background:rgba(104,96,155,.96); color:#ffffff;
}
nav.stopnav.style-03 .submenu:hover > *:first-child{color:#f9c816;}


/* Topnav */
nav.topnav .menu:hover > *:first-child{color:#812a95;}
nav.topnav .menu > *:first-child::after{background:#540467;}
nav.topnav .submenu-dropdown{
  border-color:#f9c816; background:rgba(104,96,155,.96); color:#ffffff;
}
nav.topnav .submenu:hover > *:first-child{color:#f9c816;}

/* Topnav Style 01 */
nav.topnav.style-01{border-color:rgba(255,255,255,.3); color:#ffffff;}
nav.topnav.style-01.sticky{border-color:rgba(0,0,0,.15); background:#ffffff; color:#000000;}
nav.topnav.style-01 .menu:hover > *:first-child{color:#d6bf64;}
nav.topnav.style-01 .menu > *:first-child::after{background:#d6bf64;}
nav.topnav.style-01 .option-detail{border-color:rgba(255,255,255,.3);}
nav.topnav.style-01.sticky .option-detail{border-color:rgba(0,0,0,.15);}
nav.topnav.style-01 .option-detail .set.main{background:#d6bf64; color:#ffffff;}
nav.topnav.style-01 .option-detail .sets > .set-dropdown{
  border-color:#d6bf64; background:rgba(104,96,155,.96); color:#ffffff;
}
nav.topnav.style-01 .option-detail .sets > .set-dropdown .set-option:hover{background:#d6bf64;}
nav.topnav.style-01 .option{border-color:rgba(255,255,255,.3); color:#ffffff;}
nav.topnav.style-01.sticky .option{border-color:rgba(0,0,0,.15); color:#000000;}
nav.topnav.style-01 .option:hover{color:#d6bf64;}
nav.topnav.style-01 .hamburger > *{background:#ffffff;}
nav.topnav.style-01.sticky .hamburger > *{background:#000000;}
nav.topnav.style-01 .hamburger:hover > *{background:#d6bf64;}
nav.topnav.style-01 .option.sidenav-toggle::before,
nav.topnav.style-01 .option.sidenav-toggle{background:none;}

/* Topnav Style-03 */
nav.topnav.style-03{background:#ffffff; border-color:#c7cbd1;}
nav.topnav.style-03 .logo{color:#3c3c3c;}
nav.topnav.style-03 .logo:hover, nav.topnav.style-03 .logo h6{color:#68459b;}
nav.topnav.style-03 .sidenav-toggle::before{background:#76108f;}
nav.topnav.style-03 .sidenav-toggle:hover::before{background:#68459b;}
nav.topnav.style-03 .hamburger > *{background:#ffffff;}

/* Topnav Style 04 */
nav.topnav.style-04{border-color:rgba(255,255,255,.3); color:#ffffff;}
nav.topnav.style-04.sticky{border-color:rgba(0,0,0,.15); background:#ffffff; color:#000000;}
nav.topnav.style-04 .menu:hover > *:first-child{color:#d6bf64;}
nav.topnav.style-04 .menu > *:first-child::after{background:#d6bf64;}
nav.topnav.style-04 .option-detail .set.main{background:#d6bf64; color:#ffffff;}
nav.topnav.style-04 .option{color:#ffffff;}
nav.topnav.style-04.sticky .option{color:#000000;}
nav.topnav.style-04 .option:hover{color:#d6bf64;}
nav.topnav.style-04 .hamburger > *{background:#ffffff;}
nav.topnav.style-04.sticky .hamburger > *{background:#000000;}
nav.topnav.style-04 .hamburger:hover > *{background:#d6bf64;}
nav.topnav.style-04 .option.sidenav-toggle::before,
nav.topnav.style-04 .option.sidenav-toggle{background:none;}


/* Sidenav */
nav.sidenav{background:#ffffff;}
nav.sidenav .hamburger > *{background:#222325;}
nav.sidenav .sidenav-toggle, nav.sidenav .options, 
nav.sidenav .options > .option, nav.sidenav .options > .option-btn,
nav.sidenav .option > .dropdown, nav.sidenav .option > .dropdown > *, nav.sidenav .scroll-wrapper, 
nav.sidenav .menu > *:first-child{border-color:#e1e1e1;}
nav.sidenav .submenu > *:first-child{border-color:rgba(255,255,255,.3);}
nav.sidenav .option > .dropdown{background:#ffffff;}
nav.sidenav .menu > *:first-child{color:#000000;}
nav.sidenav .menu:hover > *:first-child{color:#68459b;}
nav.sidenav .submenu > *:first-child{background:#68459b; color:#ffffff;}
nav.sidenav .submenu .submenu > *:first-child{background:#76108f; color:#232323;}
nav.sidenav .submenu:hover > *:first-child{color:#f9c816;}
nav.sidenav .dropdown-toggle{color:#232323;}
nav.sidenav .option > .dropdown .flag-wrapper:hover{background:#e1e1e1;}
nav.sidenav .options > .option-btn:hover > a{color:#76108f;}


/* Global Search Container */
.global-search-container{color:#68459b;}
.global-search-container .hamburger > *{background:#ffffff;}

/* Back to Top Style-01 */
.back-to-top.style-01{background:#d6bf64; color:#ffffff;}
.back-to-top.style-01:hover{background:#663399;}

/* Back to Top Style-02 */
.back-to-top.style-02{background:#591768; color:#ffffff;}
.back-to-top.style-02:hover{background:#f4b510;}

/* Back to Top Style-04 */
.back-to-top.style-04{background:#d6bf64; color:#ffffff;}
.back-to-top.style-04:hover{background:#663399;}

/* Back to Top Style-05 */
.back-to-top.style-05{background:#d6bf64; color:#ffffff;}
.back-to-top.style-05:hover{background:#663399;}


/* Footer */
nav.footer .title-sep::before{background:#d1d1d1;}
nav.footer .title-sep .more .icon{background:#9608b4; color:#ffffff;}

/* Footer Style 01  */
nav.footer.style-01{background:#191b29; color:#ffffff;}
nav.footer.style-01 .footer-top,
nav.footer.style-01 .footer-middle{border-color:rgba(255,255,255,.1);}
nav.footer.style-01 .list-items > a::before{background:#a14ff3;}
nav.footer.style-01 .footer-socials .social{background:#663399; color:#ffffff;}
nav.footer.style-01 .footer-socials .social::before{background:#d6bf64;}
nav.footer.style-01 .footer-socials 
.social.social-fw::before{background:#1878f1; color:#ffffff;}
nav.footer.style-01 .footer-socials 
.social.social-tw::before{background:#00aeef; color:#ffffff;}
nav.footer.style-01 .footer-socials 
.social.social-ln::before{background:#00b300; color:#ffffff;}
nav.footer.style-01 .footer-socials 
.social.social-yt::before{background:#ff0000; color:#ffffff;}
nav.footer.style-01 .footer-socials .social.social-ig::before{
  background-image:linear-gradient(45deg,#ea9526,#cc2670); color:#ffffff;
}

/* Footer Style 02  */
nav.footer.style-02{background:#ffffff; color:#000000;}
nav.footer.style-02 .footer-bottom{border-color:#b5b5b5;}
nav.footer.style-02 .logo:hover{color:#9608b4;}
nav.footer.style-02 .footer-card{background:#4d2b68; color:#ffffff;}
nav.footer.style-02 .footer-card:hover{background:#f6df76;}
nav.footer.style-02 .footer-socials .social.social-fw{background:#1878f1; color:#ffffff;}
nav.footer.style-02 .footer-socials .social.social-tw{background:#00aeef; color:#ffffff;}
nav.footer.style-02 .footer-socials .social.social-ig{
  background-image:linear-gradient(45deg,#ea9526,#cc2670); color:#ffffff;
}
nav.footer.style-02 .footer-socials .social.social-yt{background:#c0200f; color:#ffffff;}
nav.footer.style-02 .footer-socials .social::before{background:#9608b4;}
nav.footer.style-02 .count-web > *{
  background-image:linear-gradient(to bottom,#222222,#39383d,#222222);
  border-color:#000000!important; color:#ffffff;
}

/* Footer Style 03 */
nav.footer.style-03 .footer-top{background:#ededed;}
nav.footer.style-03 .block.main::before, nav.footer.style-03 .block.main::after,
nav.footer.style-03 .block.main{background:#ffffff;}
nav.footer.style-03 .input-icon{background:#540368;}
nav.footer.style-03 .input-icon:hover::before{background:#4e025f;}
nav.footer.style-03 .footer-socials .social.social-fw{background:#1878f1; color:#ffffff;}
nav.footer.style-03 .footer-socials .social.social-tw{background:#00aeef; color:#ffffff;}
nav.footer.style-03 .footer-socials .social.social-ig{
  background-image:linear-gradient(45deg,#ea9526,#cc2670); color:#ffffff;
}
nav.footer.style-03 .footer-socials .social.social-yt{background:#c0200f; color:#ffffff;}
nav.footer.style-03 .footer-socials .social::before{background:#9608b4;}
nav.footer.style-03 .footer-bottom{background:#f9c816;}
nav.footer.style-03 .count-web > *{
  background-image:linear-gradient(to bottom,#222222,#39383d,#222222);
  border-color:#000000!important; color:#ffffff;
}

/* Footer Style 04  */
nav.footer.style-04{background:#191b29; color:#ffffff;}
nav.footer.style-04 .footer-socials .social{background:#663399; color:#ffffff;}
nav.footer.style-04 .footer-bottom{border-color:rgba(255,255,255,.3);}

/* Footer Style-05  */
nav.footer.style-05{background:#191b29; color:#ffffff;}
nav.footer.style-05 .footer-bottom{border-color:rgba(255,255,255,.1);}


/* Accessibility & Quick Links */
nav.side-panel .icon{background:#591768; color:#ffffff;}
nav.side-panel .panel{box-shadow:0px 4px 8px 5px rgba(0,0,0,.08);}
nav.side-panel > .wrapper > .icon{background:#591768;}
nav.side-panel > .wrapper > .icon:hover{background:#f6df76;}
nav.side-panel.active > .wrapper > .icon{background:#591768;}
nav.side-panel .panel-row{background:#ffffff; color:#000000;}
nav.side-panel .panel-row:nth-child(odd){background:#f2f2f2;}
nav.side-panel .panel-row:first-child{background:#591768; color:#ffffff;}
nav.side-panel .option{color:#000000;}
nav.side-panel .option:not(.btn-cursor):hover, nav.side-panel .option:not(.btn-cursor).active{
  background:#591768; color:#ffffff; fill:#ffffff;
}
nav.side-panel .option-row{color:#000000;}
nav.side-panel .option-row .icon + *::before{background:#591768;}


/* Special Card */
.ss-card .line-1::before, .ss-card .line-1::after,
.ss-card .line-2::before, .ss-card .line-2::after{background:#591768;}

.ss-card .filter.filter-01{
  background-image:linear-gradient(to bottom,rgba(214,99,14,1),rgba(214,99,14,.9),
    rgba(214,99,14,.4),rgba(214,99,14,0),rgba(214,99,14,0),rgba(214,99,14,0),
    rgba(214,99,14,0));
}
.ss-card .filter.filter-02{
  background-image:linear-gradient(to bottom,rgba(19,59,87,1),rgba(19,59,87,.9),
    rgba(19,59,87,.4),rgba(19,59,87,0),rgba(19,59,87,0),rgba(19,59,87,0),
    rgba(19,59,87,0));
}
.ss-card .filter.filter-03{
  background-image:linear-gradient(to bottom,rgba(110,75,137,1),rgba(110,75,137,.9),
    rgba(110,75,137,.4),rgba(110,75,137,0),rgba(110,75,137,0),rgba(110,75,137,0),
    rgba(110,75,137,0));
}
.ss-card .filter.filter-04{
  background-image:linear-gradient(to bottom,rgba(114,190,202,1),rgba(114,190,202,.9),
    rgba(114,190,202,.4),rgba(114,190,202,0),rgba(114,190,202,0),rgba(114,190,202,0),
    rgba(114,190,202,0));
}
.ss-card .filter.filter-05{
  background-image:linear-gradient(to bottom,rgba(86,41,96,1),rgba(86,41,96,.9),
    rgba(86,41,96,.4),rgba(86,41,96,0),rgba(86,41,96,0),rgba(86,41,96,0),
    rgba(86,41,96,0));
}
.ss-card .filter.filter-06{
  background-image:linear-gradient(to bottom,rgba(26,68,124,1),rgba(26,68,124,.9),
    rgba(26,68,124,.4),rgba(26,68,124,0),rgba(26,68,124,0),rgba(26,68,124,0),
    rgba(26,68,124,0));
}

/* Special Card 01 */
.ss-card-01 .text-container{border-color:#c2c2c2;}
.ss-card-01 .card-footer .date::before{background:#6a0e7e;}
.ss-card-01 .card-footer .more .icon{background:#6a0e7e; color:#ffffff;}

/* Special Card 03 */
.ss-card-03 .icon{background:#000000; color:#ffffff;}

/* Special Card 04 */
.ss-card-04 .text-container{background:#ffffff;}
.ss-card-04:hover .text-container{background:#a376e5; color:#ffffff;}
.ss-card-04 .card-footer .view .icon{color:#face30;}
.ss-card-04:hover .card-footer .view .icon{color:#ffffff;}

/* Special Card 05 */
.ss-card-05 .text-container{background:#ffffff; box-shadow:0px 3px 6px 4px rgba(0,0,0,.04);}
.ss-card-05 .card-footer{border-color:#dcdce0;}
.ss-card-05 .card-footer .icon{color:#663399;}
.ss-card-05 .card-footer .block::after{background:#dcdce0;}
.ss-card-05 .card-footer .more{background:#663399; color:#ffffff;}
.ss-card-05 .card-footer .more:hover{background:#d6bf64;}

/* Special Card 06 */
.ss-card-06 .ss-tags > .tag{background:#e6e1ec; color:#271148;}
.ss-card-06 .text-container{background:#ffffff; box-shadow:0px 3px 6px 4px rgba(0,0,0,.04);}
.ss-card-06 .card-footer .icon{color:#663399;}
.ss-card-06 .card-footer .block::after{background:#dcdce0;}
.ss-card-06 .more{background:#663399; color:#ffffff;}
.ss-card-06 .more:hover{background:#d6bf64;}

/* Special Card 07 */
.ss-card-07{background:#ffffff; box-shadow:0px 4px 8px 5px rgba(0,0,0,.03);}
.ss-card-07 .text-container::after{
  background-image:linear-gradient(to bottom right,#68359c,#9657d5);
}
.ss-card-07 .card-footer .icon{color:#663399;}
.ss-card-07 .card-footer .block::after{background:#dcdce0;}
.ss-card-07 .btn-more{
  background-image:linear-gradient(to bottom right,#fe8a12,#ffbe08);
  border-color:#ffffff; color:#ffffff;
}
.ss-card-07 .btn-more:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.ss-card-07 .btn-more:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}

/* Special Card 08 */
.ss-card-08 .text-container{
  background:#663399; color:#ffffff; box-shadow:0px 3px 6px 4px rgba(0,0,0,.04);
}
.ss-card-08 .socials > .social{
  background:#663399; color:#ffffff; border-color:#ffffff;
}
.ss-card-08 .socials > .social:hover{background:#d6bf64; border-color:#d6bf64;}

/* Special Card 09 */
.ss-card-09 .text-container{background:#ffffff; box-shadow:0px 3px 6px 4px rgba(0,0,0,.04);}
.ss-card-09 .card-footer{border-color:rgba(0,0,0,.15);}
.ss-card-09 .card-footer .icon{color:#663399;}
.ss-card-09 .card-footer .block::after{background:rgba(0,0,0,.15);}

/* Special Card 10 */
.ss-card-10 {box-shadow:0px 3px 6px 4px rgba(0,0,0,.04);}
.ss-card-10.ss-card-10-01{background:#a05fe1; color:#ffffff;}
.ss-card-10.ss-card-10-02{background:#663399; color:#ffffff;}
.ss-card-10.ss-card-10-03{background:#271148; color:#ffffff;}

/* Special Card 12 */
.ss-card-12{box-shadow:0px 4px 10px 6px rgba(0,0,0,.03);}
.ss-card-12 .text-container{background:#ffffff;}
.ss-card-12 .card-footer{border-color:#dcdce0;}
.ss-card-12 .card-footer .icon{color:#663399;}
.ss-card-12 .card-footer .block::after{background:#dcdce0;}
.ss-card-12 .card-footer .more{background:#663399; color:#ffffff;}
.ss-card-12 .card-footer .more:hover{background:#d6bf64;}

/* Special Card 13 */
.ss-card-13 .text-container{background:#f2f2f2;}
.ss-card-13 .card-footer{border-color:rgba(0,0,0,.15);}
.ss-card-13 .card-footer .icon{color:#6d2587;}
.ss-card-13 .card-footer .block::after{background:rgba(0,0,0,.15);}

/* Special Card 14 */
.ss-card-14{color:#ffffff;}
.ss-card-14 .more{background:#663399; color:#ffffff;}
.ss-card-14 .more:hover{background:#d6bf64;}

/* Special Card 15 */
.ss-card-15{background:#663399; color:#ffffff;}
.ss-card-15 .title{color:#d6bf64;}
.ss-card-15 .rc-container > label::before{border-color:#ffffff;}
.ss-card-15 .rc-container > label::after{background:#ffffff;}

/* Special Card 16 */
.ss-card-16{background:#ffffff;}
.ss-card-16 .card-footer{border-color:rgba(0,0,0,.15);}
.ss-card-16 .icon{color:#663399;}
.ss-card-16 .card-footer .block::after{background:rgba(0,0,0,.15);}

/* Special Card 18 */
.ss-card-18::before{background:rgba(0,0,0,.1);}
.ss-card-18 .more{background:#e6e1ec; color:#663399;}
.ss-card-18 .more:hover{background:#663399; color:#e6e1ec;}

/* Special Card 19 */
.ss-card-19 .text-container{background:#663399; color:#ffffff;}

/* Special Card 20 */
.ss-card-20{background:#ffffff;}

/* Special Image */
.ss-img .hover-container{background:rgba(249,200,22,.5);}
.ss-img .icon-float{background:#663399; color:#ffffff;}


/* Special List */
.ss-list > li::before{background:#68459b;}


/* Special Separation */
.ss-sep-01{background-image:linear-gradient(to bottom right,#fd7e14,#ffc107);}
.ss-sep-02{background:#8a66ae}


/* Special Tags */
.ss-tags > .tag{background:#68459b; color:#ffffff;}


/* Special Title 01 */
.ss-title-01{background-image:linear-gradient(to right,#9a36b1,#591768);}
.ss-title-01::before{background-image:linear-gradient(to right,#77108e,#4d0f5c);}


/* Banner 01 */
.banner-01 .slick-dots button{background:#ffffff;}
.banner-01 .slick-dots li.slick-active button{background:#8d06aa;}
.banner-01 .slick-dots button::before{border-color:#ffffff;}

/* Banner 03 */
.banner-03 .slick-dots button{background:#ffffff;}
.banner-03 .slick-dots li.slick-active button{background:#d6bf64}

/* Banner 04 */
.banner-04 .slick-dots button{background:#ffffff;}
.banner-04 .slick-dots li.slick-active button{background:#663399}

/* Banner 05 */
.banner-05 .slick-dots button{background:#ffffff;}
.banner-05 .slick-dots li.slick-active button{background:#d6bf64}


/* Info 01 */
.info-01{background:#f0f0f0;}
.info-01 .slick-dots button{border-color:#68459b;}
.info-01 .slick-dots li button:hover,
.info-01 .slick-dots li.slick-active button{background:#68459b;}

/* Info 02 */
.info-02 .section-tab{color:#ffffff;}
.info-02 .section-tab:hover{color:#f9c816;}
.info-02 .section-tab .arrow{background:#f9c816; color:#ffffff;}
.info-02 .section-tab.main::before, .info-02 .section-tab.main::after,
.info-02 .section-tab.main{background:#440254;}


/* Paginate */
.paginate .page.page-prev, .paginate .page.page-next,
.paginate .page:hover{background:#b4b3b5; color:#ffffff;}
.paginate .page.page-prev:hover, .paginate .page.page-next:hover,
.paginate .page.active{background:#4b0763; color:#ffffff;}


/* Section 01 */
.section-01 .info-cards{background:#ffffff; box-shadow:0px 4px 10px 8px rgba(0,0,0,.08);}

/* Section 02 */
.section-02 .slick-dots button{background:#ffffff;}
.section-02 .slick-dots li.slick-active button{background:#8d06aa;}
.section-02 .slick-dots button::before{border-color:#ffffff;}

/* Section 04 */
.section-04 .section-tab:nth-child(1)::before, .section-04 .section-tab:nth-child(1)::after,
.section-04 .section-tab:nth-child(1){background:#9c5ec8!important;}
.section-04 .section-tab:nth-child(2)::before, .section-04 .section-tab:nth-child(2)::after,
.section-04 .section-tab:nth-child(2){background:#e3e2e3;}
.section-04 .section-tab:nth-child(3)::before, .section-04 .section-tab:nth-child(3)::after,
.section-04 .section-tab:nth-child(3){background:#ededed;}
.section-04 .section-tab:nth-child(4)::before, .section-04 .section-tab:nth-child(4)::after,
.section-04 .section-tab:nth-child(4){background:#f6f6f6;}
.section-04 .section-tab.main{color:#ffffff;}
.section-04 .section-tab .icon{color:#833c93;}
.section-04 .section-tab:hover::before, .section-04 .section-tab:hover::after,
.section-04 .section-tab:hover{background:#f6df76;}
.section-04 .section-tab.main .icon{border-color:rgba(255,255,255,.3);}

/* Section 05 */
.section-05 .section-card.type-01{background:#320953; color:#ffffff;}
.section-05 .section-card.type-02{background:#068ed3; color:#ffffff;}
.section-05 .section-card.type-03{background:#363838; color:#ffffff;}
.section-05 .section-card.type-04{background:#71409a; color:#ffffff;}
.section-05 .section-card.type-05{background:#811e97; color:#ffffff;}
.section-05 .section-card.type-06{background:#36075d; color:#ffffff;}
.section-05 .section-card.type-07{background:#d39708; color:#ffffff;}
.section-05 .section-card.type-08{background:#71409a; color:#ffffff;}
.section-05 .section-card .icon{background:#ffffff; color:#000000;}
.section-05 .section-card:hover .icon{background:#000000; color:#ffffff;}
.section-05 .section-card .filter{
  background-image:linear-gradient(to top,rgba(255,255,255,.2),
    rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0));
}
.section-05 .slide-container .arrow{color:#ffffff;}

/* Section 06 */
.section-06 .ss-card .line-1::before, .section-06 .ss-card .line-1::after,
.section-06 .ss-card .line-2::before, .section-06 .ss-card .line-2::after{background:#dcb365;}

/* Section 07 */
.section-07 .slide > .wrapper{box-shadow:0px 3px 6px 4px rgba(0,0,0,.04);}
.section-07 .slide:hover > .wrapper{color:#540467;}
.section-07 .slide > .wrapper::after{background:#eebf15;}
.section-07 .slide .icon{background:#540467; color:#ffffff;}

/* Section 08 */
.section-08{box-shadow:rgb(0 0 0/9%) 0px 25px 20px -20px;}

/* Section 09 */
.section-09::before{background:#f0f0f0;}
.section-09 .section-card{
  background:#271148; color:#ffffff; border-color:rgba(255,255,255,.2)!important;
}
.section-09 .section-card:hover{background:#663399;}
.section-09 .section-card .icon{background:#663399;}

/* Section 10 */
.section-10 .section-card{background:#ffffff; border-right:1px solid #dcdce0!important; }
.section-10 .slide-container{box-shadow:0px 3px 6px 4px rgba(0,0,0,.04);}
.section-10 .section-card .more{background:#e6e1ec; color:#000000;}
.section-10 .slick-dots button{background:#ffffff;}
.section-10 .slick-dots li.slick-active button{background:#d6bf64;}

/* Section 11 */
.section-11{background:#271148;}
.section-11 .section-card{color:#ffffff;}

/* Section 13 */
.section-13 .section-card .text-container{ 
  background-image:linear-gradient(to bottom right,#68359c,#9b5bdb); color:#f1dace;
}
.section-13 .section-card .icon{
  background-image:linear-gradient(to bottom right,#fe8a12,#ffbe08);
}
.section-13 .slick-dots button{background:#e1e1e1;}
.section-13 .slick-dots li.slick-active button{background:#663399;}

/* Section 14 */
.section-14{background:#ffffff;}

/* Section 15 */
.section-15{color:#ffffff;}
.section-15 .item{border-color:rgba(255,255,255,.3);}
.section-15 .item .image-container{border-color:#fea40d;}
.section-15 .item .card-footer .icon{color:#ffffff;}
.section-15 .item .card-footer .block-icon::after{background:rgba(255,255,255,.3);}

/* Section 17 */
.section-17 .text-container{background:#663399; color:#ffffff;}
.section-17 .rc-container > label::before{border-color:#ffffff;}
.section-17 .rc-container > label::after{background:#ffffff;}

/* Section 18 */
.section-18 .slick-dots button{background:#e1e1e1;}
.section-18 .slick-dots li.slick-active button{background:#663399;}

/* Section 19 */
.section-19 .swiper-slide .text-container{color:#ffffff;}
.section-19 .btn-swiper{background:#ffffff; box-shadow:0px 3px 6px 4px rgba(0,0,0,.075);}
.section-19 .btn-swiper .btn{background:#663399; color:#ffffff;}
.section-19 .btn-swiper .btn:hover{background:#271148;}

/* Section 20 */
.section-20 .section-card:nth-child(1){background:#a05fe1; color:#ffffff;}
.section-20 .section-card:nth-child(2){background:#663399; color:#ffffff;}
.section-20 .section-card:nth-child(3){background:#271148; color:#ffffff;}
.section-20 .section-card .icon{border:1px solid #ffffff;}

/* Section 22 */
.section-22 > .img-bg{background:#271148;}
.section-22 .slick-dots button{background:#e6e1ec;}
.section-22 .slick-dots li.slick-active button{background:#d6bf64;}

/* Section 25 */
.section-25 .slick-dots button{background:#e6e1ec;}
.section-25 .slick-dots li.slick-active button{background:#d6bf64;}

/* Section 26 */
.section-26 .slick-list.draggable{box-shadow:0px 4px 8px 6px rgba(0,0,0,.03);}
.section-26 .slick-dots button{background:#e6e1ec;}
.section-26 .slick-dots li.slick-active button{background:#d6bf64;}


/* Tabs 01 */
.tab-container .tabs.tabs-01::before,
.tab-container .tabs.tabs-01 .tab::after{background:#77108e;}
.tab-container .tabs.tabs-01 .tab.active{border-color:#77108e; color:#ffffff;}
.tab-container .tabs.tabs-01 .tab::before{
  background-image:linear-gradient(to right,#4d0f5b,#9a23b4);
}
.tab-container .tabs.tabs-01 .tab .tab-span{color:#ae14d1;}
.tab-container .tabs.tabs-01 .tab.active .tab-title,
.tab-container .tabs.tabs-01 .tab.active .tab-span{color:#f7d04b;}
.tab-container .tabs.tabs-01 .tab .num{background:#6a0e7e; color:#ffffff;}

/* Tabs 02 */
.tab-container .tabs.tabs-02{box-shadow:rgb(0 0 0/9%) 0px 25px 20px -20px;}
.tab-container .tabs.tabs-02 > .tabs-title .title{
  background-image:linear-gradient(to bottom,#ad039a,#76108f);
}
.tab-container .tabs.tabs-02 .tab:hover,
.tab-container .tabs.tabs-02 .tab.active{color:#76108f;}
.tab-container .tabs.tabs-02 .tab > .alert{background:#550469; color:#ffffff;}

/* Tabs 03 */
.tab-container .tabs.tabs-03 > .wrapper{background:#ffffff;}
.tab-container .tabs.tabs-03 .tab{color:#81808c;}
.tab-container .tabs.tabs-03 .tab:hover{color:#663399;}
.tab-container .tabs.tabs-03 .tab.active{color:#663399;}
.tab-container .tabs.tabs-03 .tab::after{background:#663399}
