/* Reset */
html, body{
    padding:0; margin:0; overflow-x:hidden; overflow-y:auto;
    font-size:16px; font-weight:300; line-height:1.12;
    font-family:'DB Heavent', sans-serif;
}
body.loading{height:100vh!important; overflow-y:hidden!important;}

*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;}

a{color:inherit; transition:opacity .25s, color .25s;}
a, a:hover{text-decoration:none;}
a.link{text-decoration:underline;}

img.img{display:block; width:100%; height:auto;}
img.img.sm{max-width:34rem; margin:0 auto;}
.fit{position:absolute; top:0; bottom:0; left:0; right:0;}
.img-fill{background-size:cover; background-position:center; background-repeat:no-repeat;}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], nput[type=file], select, 
textarea, button{font-family:'DB Heavent', sans-serif;}

html.topnav-dropdown-opened, body.topnav-dropdown-opened,
html.global-search-opened, body.global-search-opened{overflow-y:hidden!important;}
@media screen and (max-width:1199.98px){
    html.sidenav-opened, body.sidenav-opened{overflow-y:hidden!important;}
}


/* Section & Container */
.section-padding{padding:4rem 0;}
.container{position:relative; width:100%; max-width:calc(1300px - 2rem); padding:0; margin:0 auto;}
@media screen and (min-width:1600px){
    .container{max-width:calc(1600px - 2rem);}
}
@media screen and (max-width:1299.98px){
    .container{max-width:calc(1200px - 2rem);}
}
@media screen and (max-width:1199.98px){
    .container{max-width:calc(992px - 2rem);}
}
@media screen and (max-width:991.98px){
    .section-padding{padding:3.5rem 0;}
    .container{max-width:calc(768px - 2rem);}
}
@media screen and (max-width:767.98px){
    .section-padding{padding:3rem 0;}
    .container{max-width:calc(578px - 2rem);}
}
@media screen and (max-width:575.98px){
    .section-padding{padding:2.5rem 0;}
    .container{max-width:calc(100% - 2rem);}
}


/* Typography */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, li, label{
    margin:0; font-weight:300; line-height:1.12;
}
h1, .h1{font-size:6.5rem;}
h2, .h2{font-size:5.5rem;}
h3, .h3{font-size:3.25rem;}
h4, .h4{font-size:2.5rem;}
h5, .h5{font-size:2rem;}
h6, .h6{font-size:1.625rem;}
p.lg, .p.lg, li.lg, label.lg{font-size:1.5rem;}
p, .p, li, label{font-size:1.3125rem;}
p.sm, .p.sm, li.sm, label.sm{font-size:1.1875rem;}
p.xs, .p.xs, li.xs, label.xs{font-size:1.0625rem;}
@media screen and (max-width:1199.98px){
    h1, .h1{font-size:6rem;}
    h2, .h2{font-size:5rem;}
    h3, .h3{font-size:3rem;}
    h4, .h4{font-size:2.375rem;}
}
@media screen and (max-width:991.98px){
    h1, .h1{font-size:5.5rem;}
    h2, .h2{font-size:4.5rem;}
    h3, .h3{font-size:2.75rem;}
    h4, .h4{font-size:2.125rem;}
    h5, .h5{font-size:1.875rem;}
    h6, .h6{font-size:1.5625rem;}
    p.lg, .p.lg, li.lg, label.lg{font-size:1.4375rem;}
}
@media screen and (max-width:767.98px){
    h1, .h1{font-size:4.875rem;}
    h2, .h2{font-size:3rem;}
    h3, .h3{font-size:2.5rem;}
    h4, .h4{font-size:2rem;}
    h5, .h5{font-size:1.75rem;}
    h6, .h6{font-size:1.5rem;}
    p.lg, .p.lg, li.lg, label.lg{font-size:1.375rem;}
    p, .p, li, label{font-size:1.25rem;}
}
@media screen and (max-width:575.98px){
    h1, .h1{font-size:4.25rem;}
    h2, .h2{font-size:3.5rem;}
    h3, .h3{font-size:2.25rem;}
    h4, .h4{font-size:1.875rem;}
    h5, .h5{font-size:1.625rem;}
}


/* Buttons */
.btns{
    display:flex; align-items:center; flex-wrap:wrap;
    margin:-.25rem -.125rem 0 -.125rem; width:calc(100% + .25rem);
}
.btns > .btn{margin:.25rem .125rem 0 .125rem;}

.btn.btn-action{
    display:block; font-size:1rem; font-weight:400; outline:none; box-shadow:none;
    white-space:nowrap; border:0 solid transparent; padding:.375rem 1.25rem .25rem 1.25rem;
    text-decoration:none; border-radius:.25rem; min-width:10rem; text-align:center;
    position:relative; overflow:hidden; cursor:pointer; transition:all .5s;
}
.btn.btn-action.btn-inactive{cursor:no-drop;}
.btn.btn-action > *{position:relative;}
.btn.btn-action::before{
    content:''; position:absolute; top:0; bottom:0; right:0; width:0; transition:width .5s;
}
.btn.btn-action:hover::before{left:0; right:unset; width:100%;}

.btn.btn-action.btn-xs{
    font-size:1.0625rem; font-weight:300; padding:.4rem 1rem .275rem 1rem; min-width:8rem;
}


/* Capcha Container */
.capcha-container{width:100%; max-width:18.5rem;}
.capcha-container > img{display:block; width:100%; height:auto;}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], input[type=file], select, textarea,
.form-group .upload-wrapper::before{
    border:1.6px solid transparent; border-radius:.25rem; box-shadow:none!important; width:100%;
    padding:.5625rem .875rem; font-size:1.3125rem; font-weight:300; margin:0; line-height:1.12;
    outline:none!important; transition:border-color .25s, color .25s;
}
select{padding:.59375rem .875rem;}
input[type=file]{padding:.25rem .875rem .25rem .25rem;}

/* input[type=text].md, input[type=email].md, input[type=password].md, input[type=date].md, 
input[type=tel].md, input[type=number].md, input[type=phone].md, input[type=submit].md, 
input[type=file].md, select.md, textarea.md{font-size:1rem; padding:.625rem 1rem; height:auto;}

input[type=text].sm, input[type=email].sm, input[type=password].sm, input[type=date].sm, 
input[type=tel].sm, input[type=number].sm, input[type=phone].sm, input[type=submit].sm, 
input[type=file].sm, select.sm, textarea.sm{font-size:.875rem; padding:.25rem .875rem; height:auto;} */

/* Input Icon */
.input-icon{position:relative; display:flex; border-radius:.25rem; padding:1.6px;}
.input-icon::before{
    content:''; position:absolute; top:0; bottom:0; left:0; width:0; border-radius:.25rem;
    transition:width .25s, background .25s;
}
.input-icon:hover::before{width:100%;}
.input-icon > *{position:relative;}
.input-icon > .icon{
    width:2.8125rem; height:2.8125rem; display:flex; align-items:center; justify-content:center;
    background:transparent; border:0; box-shadow:none; padding:0; margin:0; cursor:pointer;
    font-size:.9375rem;
}


/* Radio & Checkbox Container */
fieldset{padding:0; margin:0; border:0;}
.rc-container{position:relative; width:100%;}
.rc-container > input{position:absolute!important; opacity:0!important;}
.rc-container > label{display:block; width:100%; padding:0 0 0 1.5rem; cursor:pointer;}
.rc-container > label::before, .rc-container > label::after{
    content:''; position:absolute; top:calc(50% - .5rem - 1.5px); left:0;
    width:.625rem; height:.625rem; border-radius:50%; border:3px solid transparent;
    transition:border-color .25s, opacity .25s, background .25s;
}
.rc-container > label::after{opacity:0; z-index:1;}
.rc-container > input:checked + label::after{opacity:1;}
.rc-container > input[type=checkbox] + label::before, 
.rc-container > input[type=checkbox] + label::after{border-radius:0;}


/* Captcha Container */
.captcha-container{width:100%; max-width:17.5rem;}
.captcha-container img{display:block; width:100%; height:auto;}


/* Chart Container */
.chart-container{
    width:100%; max-width:32rem; display:flex; align-items:center; justify-content:space-between;
    flex-wrap:wrap; margin:0 auto;
}
.chart-container.adaptive-01{height:12.875rem;}
.chart-container.adaptive-02{height:17.625rem;}
.chart-container .chart{width:calc(100% - 12rem);}
.chart-container.no-label .chart{width:100%;}
.chart-container .labels{width:12rem;}
.chart-container .label{width:100%; display:flex; align-items:center; margin:.375rem 0;}
.chart-container .label > .dot{
    display:block; width:.75rem; height:.75rem; border-radius:50%; margin:0 .5rem 0 0;
}
.chart-container .label > *:nth-child(2){width:calc(100% - 1.25rem);}
@media screen and (max-width:991.98px){
    .chart-container.adaptive-01{height:11.5rem;}
    .chart-container.adaptive-02{height:15rem;}
}
@media screen and (max-width:767.98px){
    .chart-container.adaptive-01{height:13rem;}
    .chart-container.adaptive-02{height:13rem;}
}
@media screen and (max-width:575.98px){
    .chart-container{justify-content:center;}
    .chart-container .chart{width:100%;}
    .chart-container .labels{margin-top:.25rem;}
}


/* Chat Container */
.chat-container{display:block; width:100%;}
.chat-container .chat-content{
    overflow-x:hidden; overflow-y:auto; max-height:calc(100vh - 10rem); padding:0 .5rem 1.25rem 0;
}
.chat-container .chat-date{
    width:100%; text-align:center; padding:.5rem 0 .25rem 0; font-size:.875rem;
    font-weight:400; opacity:.6;
}
.chat-container .chat{width:100%; display:flex; align-items:flex-end; margin:1rem 0 0 0;}
.chat-container .chat:not(.chat-other){direction:rtl;}
.chat-container .chat > .profile-container{
    display:block; position:relative; width:2.125rem; height:2.125rem; border-radius:50%;
    padding:.0625rem; margin:0 0 0 1rem;
}
.chat-container .chat.chat-other > .profile-container{margin:0 1rem 0 0;}
.chat-container .chat .profile{
    display:block; width:100%; height:100%; border-radius:50%; background-size:cover;
    background-position:center; background-repeat:no-repeat;
}
.chat-container .chat > .text-container{
    width:calc(100% - 8.5rem); display:flex; flex-wrap:wrap;
}
.chat-container .chat:not(.chat-other) > .text-container{
    justify-content:flex-end; text-align:right;
}
.chat-container .chat > .text-container p{width:100%;}
.chat-container .chat .text-wrapper{
    width:auto; max-width:36rem; border-radius:.25rem; padding:.875rem 1rem; margin:0 0 0 auto;
    border:1px solid transparent;
}
.chat-container .chat.chat-other .text-wrapper{margin:0 auto 0 0;}
@media screen and (max-width:767.98px){
    .chat-container .chat > .text-container{width:calc(100% - 5rem);}
    .chat-container .chat .text-wrapper{padding:.75rem;}
}
@media screen and (max-width:575.98px){
    .chat-container .chat > .text-container{width:calc(100% - 2rem);}
}


/* CK Editor */
.ckeditor{display:block; position:relative; width:100%;}
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar{border:0;}
.ck.ck-editor__main>.ck-editor__editable{min-height:260px; outline:none; box-shadow:none;}


/* Date Picker */
.datepicker.datepicker-dropdown{color:#000000!important;}


/* Hamburger */
.hamburger{cursor:pointer;}
.hamburger > *{
    position:relative; width:1.625rem; height:.125rem;
    transform:translateX(.375rem); transition:all .45s;
}
.hamburger > *:nth-child(2){margin:.4375rem 0; width:2rem; transform:none;}
.hamburger.active > *:nth-child(1){
    width:2rem; -webkit-transform:rotate(-45deg)translate(-.4rem, .4rem);
    transform:rotate(-45deg)translate(-.4rem, .4rem);
}
.hamburger.active > *:nth-child(2){opacity:0; transform:translateX(2rem);}
.hamburger.active > *:nth-child(3){
    width:2rem; -webkit-transform:rotate(45deg)translate(-.4rem,-.4rem);
    transform:rotate(45deg)translate(-.4rem, -.4rem);
}


/* List Header */
.list-header{
    position:relative; width:100%; display:flex; align-items:center;
    justify-content:space-between; padding:.125rem 0; margin:0;
}
.list-header > .block{display:block;}
.list-header .option{
    display:inline-block; width:2.25rem; height:2.25rem; text-align:center;
    line-height:2.3125rem; font-size:1.0625rem; margin:0; padding:0;
    border-radius:1000em; border:1px solid transparent;
    transition:color .25s, border-color .25s, background .25s;
}
.list-header .btn-icon{display:inline-block; margin-left:1rem; font-size:.875rem;}
.list-header .btn-icon:first-child{margin-left:0;}
.list-header .btn-icon em{
    display:inline-block; width:1.75rem; height:1.75rem; line-height:1.75rem;
    border-radius:50%; text-align:center; font-size:1.125rem; margin:0 .1875rem 0 0;
}
.list-header.list-header-search .date-wrapper{width:8.75rem;}
@media screen and (max-width:991.98px){
    .list-header.list-header-search{flex-wrap:wrap;}
    .list-header.list-header-search > .block:first-child{width:100%; margin-bottom:.3125rem;}
}
@media screen and (max-width:767.98px){
    .list-header .search-wrapper{width:11rem;}
}
@media screen and (max-width:575.98px){
    .list-header{flex-wrap:wrap; justify-content:center;}
    .list-header > .block{width:100%; text-align:center;}
    .list-header .select-wrapper, .list-header .search-wrapper{
        display:block; width:100%; max-width:18rem; margin:0 auto .3125rem auto;
    }
    .list-header .select-wrapper > *, .list-header .search-wrapper > *{width:100%;}
    .list-header .btn-icon{margin-left:.75rem;}
    .list-header .btn-icon{margin-left:.625rem;}
    .list-header .btn-icon em{margin:0 .125rem 0 0;}
    .list-header.list-header-search > .block:first-child{margin-bottom:0;}
    .list-header.list-header-search > .block{margin-bottom:.3125rem;}
    .list-header.list-header-search .date-wrapper{width:8rem;}
}

/* List Footer */
.list-footer{
    position:relative; width:100%; display:flex; align-items:center;
    justify-content:space-between; padding:.5rem 0 0 0;
}
.list-footer > .block{display:flex; align-items:center; padding:0 0 .5rem 0;}
.list-footer.minisite > .block{padding:.625rem 0 0 0;}
.list-footer.minisite .slot{
    display:flex; align-items:center; margin:0 0 0 1.5rem; white-space:nowrap;
}
.list-footer.minisite .slot:first-child{margin:0;}
.list-footer.minisite .slot .box{
    width:2rem; text-align:center; border-radius:.25rem; padding:.1875rem 0;
}
.list-footer.minisite .slot select{
    display:block; height:1.5rem; line-height:1.5rem; font-size:.875rem; font-weight:500;
    border:0; border-radius:1000em; padding:0 .5rem;
}
@media screen and (max-width:1199.98px){
    .list-footer.minisite .slot{margin:0 0 0 1rem;}
}
@media screen and (max-width:991.98px){
    .list-footer{flex-wrap:wrap;}
    .list-footer > .block{width:100%; justify-content:center;}
}

/* List Control */
.list-control{
    width:100%; display:flex; align-items:center; justify-content:space-between;
    padding:.25rem 0;
}
.list-control > .list-icon{padding:.25rem 1rem; font-size:1.75rem; line-height:1;}
.list-control > .list-btn{
    width:calc(50% - 1.875rem); display:flex; align-items:center; padding:.25rem 0;
}
.list-control > .list-btn:last-child{justify-content:flex-end; text-align:right;}
.list-control > .list-btn .text{width:calc(100% - 2.375rem);}
@media screen and (max-width:991.98px){
    .list-control > .list-btn .text{
        display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
        -webkit-box-orient:vertical; -webkit-line-clamp:2;
    }
}
@media screen and (max-width:575.98px){
    .list-control > .list-icon{display:none;}
    .list-control > .list-btn{width:calc(50% - .25rem);}
}


/* Map Container */
.map-container{display:block; position:relative; height:100%; min-height:20rem;}
.map-container.adaptive{height:auto;}
@media screen and (max-width:767.98px){
    .map-container{min-height:18rem;}
}
@media screen and (max-width:575.98px){
    .map-container{min-height:15rem;}
}


/* Password Level */
.password-level{display:block; width:100%;}
.password-level > .levels{
    width:100%; display:flex; align-items:center; justify-content:space-between;
    margin:.4375rem 0 .3125rem 0;
}
.password-level > .levels > *{
    display:block; width:calc((100% - 1.25rem) / 4); height:.3125rem; transition:background .25s;
}
.password-level > p > span{transition:color .25s;}


/* Popup */
.popup-container{
    display:block; position:fixed; top:0; left:0; width:100%; height:100vh; z-index:100;
    opacity:0; pointer-events:none; background:rgba(0,0,0,.7); transition:opacity .45s;
}
.popup-container.active{opacity:1; pointer-events:all;}
.popup-container > .wrapper{
    position:relative; width:100%; height:100%; padding:1.5rem;; display:flex; align-items:center;
}
.popup-container > .wrapper > .close-filter{
    position:fixed; top:0; bottom:0; left:0; right:0; opacity:0; cursor:pointer;
}
.popup-container .popup-box{
    display:flex; position:relative; width:100%; max-width:52rem; overflow:hidden; margin:0 auto;
}
.popup-container .popup-box > .content-container{
    display:block; width:calc(100% - 3.75rem); padding:1.25rem; border:2px solid transparent;
}
.popup-container .popup-box > .btn-close{
    width:3.5rem; height:3.5rem; line-height:3.5rem; text-align:center;
    font-size:2rem; border:2px solid transparent; border-radius:0 .375rem 0 .375rem;
    display:flex; align-items:center; justify-content:center; transition:background .25s;
}
.popup-container .popup-box .img-container{
    position:relative; width:calc(100% - .5rem); height:100%;
}
.popup-container img.img{max-width:18rem; margin:0 auto;}

.popup-container.simple .popup-box > .content-container{width:100%;}
.popup-container.simple .popup-box > .btn-close{
    position:absolute; top:0; right:0; border-radius:0;
}

.popup-container .slide-container.slide-container-01{overflow:visible;}
.popup-container .slide-container.slide-container-01 img{width:100%;}
.popup-container .slide-container.slide-container-01 .dots{
    position:absolute; top:calc(100% + .125rem); left:0; right:0;
    display:flex; justify-content:center;
}

@media screen and (max-width:991.98px){
    .popup-container .popup-box .img-container{width:100%;}
    .popup-container .slide-container.slide-container-01 .dots{right:unset;}
}
@media screen and (max-width:767.98px){
    .popup-container .popup-box > .content-container{width:calc(100% - 3rem); padding:1rem;}
    .popup-container .popup-box > .btn-close{
        width:3rem; height:3rem; line-height:3.125rem; font-size:2.125rem;
    }
    .popup-container .popup-box .img-container{max-width:21rem; height:15rem;}
}
@media screen and (max-width:575.98px){
    .popup-container > .wrapper{padding:1rem;}
    .popup-container .popup-box > .content-container{width:calc(100% - 2.25rem);}
    .popup-container .popup-box > .btn-close{
        width:2.25rem; height:2.25rem; line-height:2.375rem; font-size:1.625rem;
    }
    .popup-container .popup-box .img-container{max-width:16rem; height:10rem;}
    .popup-container .slide-container.slide-container-01 .dots{
        position:relative; top:unset; left:unset; right:unset;
    }
}
.popup-container.round .popup-box > .content-container{width:100%;}
.popup-container.round .popup-box > .btn-close{position:absolute; top:0; right:0;}
.popup-container.simple .popup-box{display:block;}
.popup-container.simple .popup-box .img-container{width:100%; max-width:100%; height:auto;}
.popup-container.simple .popup-box .img-container > img{display:block; width:100%; height:auto;}


/* Scroll Wrapper */
.scroll-wrapper{width:100%; overflow:hidden;}
.scroll-x-wrapper{width:100%; overflow-x:auto; overflow-y:hidden; padding:0 0 .875rem 0;}
.scroll-y-wrapper{width:100%; overflow-x:hidden; overflow-y:auto; padding:0 .875rem 0 0;}


/* Shortcode */
.shortcode-container{position:relative; z-index:1;}
.shortcode-container .btn.btn-action{width:8rem;}
.shortcode-container > .shortcode-popup{
    position:absolute; top:0; bottom:0; right:0; opacity:0; pointer-events:none;
    width:815px; transition:opacity .25s;
}
.shortcode-container.active > .shortcode-popup{opacity:1; pointer-events:auto;}
.shortcode-container > .shortcode-popup > .wrapper{
    width:100%; display:flex; align-items:flex-start; justify-content:space-between;
}
.shortcode-container .shortcode-content{
    position:relative; width:calc(100% - 9.5rem); border:1px solid transparent;
    transform:translateY(-1.5rem);
}
.shortcode-container .shortcode-content::after{
    content:''; position:absolute; top:calc(50% - .75rem); left:calc(100% - .75rem);
    width:1.5rem; height:1.5rem; border:1px solid transparent; transform:rotate(-135deg);
    clip-path:polygon(0 0, 100% 100%, 0 100%);
}
.shortcode-container textarea{
    display:block; width:100%; height:5.625rem; max-height:5.625rem; border-radius:0;
    border:0; line-height:1; background:transparent; pointer-events:none; padding:1rem;
    font-size:1.375rem; font-size:.9375rem; font-weight:200;
}
.shortcode-container .btn-close{
    position:absolute; top:0; right:0; padding:.375rem .5625rem; font-size:1.25rem;
}
.shortcode-container.sm-right{text-align:right;}
.shortcode-container.sm-right .btn.btn-action{margin-left:auto;}
.shortcode-container.sm-right > .shortcode-popup{width:560px;}

@media screen and (max-width:1299.98px){
    .shortcode-container.sm-right > .shortcode-popup{width:500px;}
}
@media screen and (max-width:1199.98px){
    .shortcode-container.sm-right > .shortcode-popup{width:375px;}
}
@media screen and (max-width:991.98px){
    .shortcode-container > .shortcode-popup{width:584px;}
    .shortcode-container.sm-right > .shortcode-popup{width:430px;}
}
@media screen and (max-width:767.98px){
    .shortcode-container{width:100%;}
    .shortcode-container > .shortcode-popup,
    .shortcode-container.sm-right > .shortcode-popup{width:100%;}
    .shortcode-container > .shortcode-popup > .wrapper{
        flex-wrap:wrap; flex-direction:column-reverse;
    }
    .shortcode-container .shortcode-content{width:100%; transform:none; margin:.5rem 0 0 0;}
    .shortcode-container .shortcode-content::after{display:none;}
}


/* Slide Container */
.slide-container{display:block; position:relative; width:100%;}


/* Special Box */
.ss-box{display:block; width:100%; max-width:30rem; margin:0 auto;}
.ss-box.md{max-width:34rem;}
.ss-box.lg{max-width:38rem;}
.ss-box.xl{max-width:44rem;}
.ss-box.xxl{max-width:54rem;}
.ss-box > .header, .ss-box > .body{
    display:block; position:relative; width:100%; padding:1.25rem 1.75rem;
}
.ss-box > .header{padding:1rem 1.75rem;}
.ss-box > .options{position:absolute; bottom:100%; right:0; display:flex; align-items:center;}
.ss-box > .options > .option{
    display:flex; align-items:center; justify-content:center; font-size:1.1875rem;
    min-width:2.75rem; height:2.75rem; transition:color .25s, background .25s;
}
.ss-box > .options > .option select{border:0; padding-right:.25rem;}
@media screen and (max-width:991.98px){
    .ss-box > .header{padding:1rem 1.5rem;}
    .ss-box > .body{padding:1.125rem 1.5rem;}
}
@media screen and (max-width:767.98px){
    .ss-box > .header{padding:1rem 1rem;}
    .ss-box > .body{padding:1rem 1rem;}
}
@media screen and (max-width:575.98px){
    .ss-box > .options{position:relative; right:unset; flex-wrap:wrap;}
}

/* Special Box Shadow */
.ss-box-shadow{
    position:absolute; top:0; bottom:40%; left:-1rem; right:-1rem; pointer-events:none;
}
.ss-box-shadow.fade-shadow{
    -webkit-mask-image:linear-gradient(to bottom, #000, #000, #000, #000, 
        #000, #000, #000, #000, #000, #000, #000, #000, #000, 
        rgba(0,0,0,.75), rgba(0,0,0,.5), rgba(0,0,0,.25), rgba(0,0,0,0));
}
.ss-box-shadow.lg{bottom:20%;}
.ss-box-shadow.xl{bottom:0;}
.ss-box-shadow.xxl{bottom:-17%;}
.ss-box-shadow::before{
    content:''; display:block; width:calc(100% - 2rem); height:100%; margin:0 1rem;
    box-shadow:0 0 10px 2px rgb(0 0 0 / 15%);
}


/* Special Card */
.ss-card{position:relative; display:block; width:100%;}
.ss-card .text-container .title, .ss-card .text-container .desc{
    display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
    -webkit-box-orient:vertical; transition:color .25s;
}

.ss-card .filter{position:absolute; top:0; bottom:0; left:0; right:0;}

.ss-card .line-1, .ss-card .line-2{pointer-events:none;}
.ss-card .line-1::before, .ss-card .line-1::after,
.ss-card .line-2::before, .ss-card .line-2::after{
    content:''; position:absolute; z-index:1;
}
.ss-card .line-1::before, .ss-card .line-1::after{
    left:50%; height:3px; width:0; transition:left .5s, width .5s;
}
.ss-card .line-1::before{top:0;} .ss-card .line-1::after{bottom:0;}
.ss-card:hover .line-1::before, .ss-card:hover .line-1::after{left:0; width:100%;}
.ss-card .line-2::before, .ss-card .line-2::after{
    top:50%; width:3px; height:0; transition:top .5s, height .5s;
}
.ss-card .line-2::before{left:0;} .ss-card .line-2::after{right:0;}
.ss-card:hover .line-2::before, .ss-card:hover .line-2::after{top:0; height:100%;}

/* Special Card 01 */
.ss-card-01 .ss-img{overflow:hidden; border-radius:.5rem .5rem 0 0;}
.ss-card-01 .text-container{
    padding:1rem; border-radius:0 0 .5rem .5rem; border:1px solid transparent; border-top:0;
}
.ss-card-01 .text-container .title{min-height:3.0625rem; -webkit-line-clamp:2;}
.ss-card-01 .text-container .desc{min-height:2.6875rem; -webkit-line-clamp:2;}
.ss-card-01 .card-footer{
    display:flex; align-items:center; justify-content:space-between;
    flex-wrap:wrap; margin:1rem 0 0 0;
}
.ss-card-01 .card-footer .date, .ss-card-01 .card-footer .more{
    display:flex; align-items:center; margin:.5rem 0 0 0;
}
.ss-card-01 .card-footer .date::before{
    content:''; display:block; width:.3125rem; height:.3125rem;
    border-radius:50%; margin:0 .5rem 0 0;
}
.ss-card-01 .card-footer .more .icon{
    display:flex; align-items:center; justify-content:center; font-size:.6875rem;
    width:1.5rem; height:1.5rem; border-radius:50%; margin:0 0 0 .5rem;
}
@media screen and (max-width:767.98px){
    .ss-card-01 .text-container .title,
    .ss-card-01 .text-container .desc{min-height:0;}
    .ss-card-01 .card-footer{margin:1rem 0 0 0;}
}

/* Special Card 02 */
.ss-card-02{overflow:hidden; border-radius:.25rem;}
.ss-card-02 .ss-img{overflow:hidden; border-radius:.5rem .5rem 0 0;}
.ss-card-02 .text-container{
    position:absolute; top:0; bottom:0; left:0; right:0; padding:1rem;
}
.ss-card-02 .text-container .hero{
    position:absolute; top:2rem; bottom:0; left:2rem; right:0;
    display:flex; align-items:flex-end; justify-content:flex-end;
}
.ss-card-02 .text-container .hero img{
    display:block; width:auto; max-width:100%; height:auto; max-height:100%;
}
.ss-card-02 .text-container .icon{
    position:absolute; bottom:2rem; left:0; right:0; display:flex; justify-content:center;
}
.ss-card-02 .text-container .icon img{display:block; height:3rem; width:auto;}

/* Special Card 03 */
.ss-card-03 .ss-img{padding:120% 0 0 0; overflow:hidden; border-radius:.5rem;}
.ss-card-03 .text-container{position:absolute; top:0; bottom:0; left:0; right:0; padding:.625rem;}
.ss-card-03 .filter{border-radius:.5rem;}
.ss-card-03 .icon{
    position:absolute; bottom:.625rem; right:.625rem;
    display:flex; align-items:center; justify-content:center; font-size:.625rem;
    width:1.25rem; height:1.25rem; border-radius:50%; margin:0 0 0 .5rem;
    transition:background .25s, color .25s;
}


/* Special Image */
.ss-img{display:block; position:relative; width:100%; padding:66% 0 0 0; overflow:hidden;}
.ss-img.horizontal{padding:50% 0 0 0;}
.ss-img.vertical{padding:150% 0 0 0;}
.ss-img.square{padding:100% 0 0 0;}
.ss-img > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; transition:transform .25s, filter .25s;
}
.ss-card:hover .ss-img > .img-bg, .ss-img:hover > .img-bg{transform:scale(1.1);}

.ss-img .hover-container{
    position:absolute; top:0; bottom:0; left:0; right:0; opacity:0; overflow:hidden;
    display:flex; justify-content:center; align-items:center; border:0 solid transparent;
    transition:opacity .25s, border .25s;
}
.ss-img .hover-container.clear{background:transparent!important;}
.ss-card:hover .ss-img .hover-container,
.ss-img:hover .hover-container{opacity:1;}
.ss-img .hover-container .icon{display:block; width:4.5rem;}
.ss-img .hover-container .icon.sm{width:3rem;}
.ss-img .hover-container .icon.xs{width:2.25rem;}
.ss-img .hover-container .icon > img{display:block; width:100%; height:auto;}

.ss-img .hover-container > *{
    opacity:0; transform:translateY(-10rem); transition:opacity .45s, transform .45s;
}
.ss-card:hover .ss-img .hover-container > *,
.ss-img:hover .hover-container > *{opacity:1; transform:none;}
.ss-img .hover-container > *:nth-child(2){transition-delay:.15s;}
.ss-img .hover-container > *:nth-child(3){transition-delay:.30s;}
.ss-img .hover-container > *:nth-child(4){transition-delay:.45s;}
.ss-img .hover-container > *:nth-child(5){transition-delay:.60s;}

@media screen and (max-width:575.98px){
    .ss-img.adaptive-xs{padding:66% 0 0 0; height:unset;}
    .ss-img.horizontal{padding:66% 0 0 0;}
}


/* Special List */
.ss-list, .ss-list ul{width:100%; padding:0; margin:0; list-style:none;}
.ss-list > li{position:relative; padding:.1875rem 0 .1875rem 1rem;}
.ss-list ul > li{padding:.1875rem 0;}
.ss-list > li::before{
    content:''; position:absolute; top:.625rem; left:0;
    width:.375rem; height:.375rem; border-radius:50%;
}
.ss-list ul > li::before{display:none;}


/* Special Tags */
.ss-tags{display:block;}
.ss-tags > .tag{
    display:inline-block; font-size:.8125rem; font-weight:300;
    padding:.3125rem .875rem .25rem .875rem; border-radius:.5rem;
}


/* Special Title 01 */
.ss-title-01{position:relative; -webkit-background-clip:text; -webkit-text-fill-color:transparent;}
.ss-title-01::before{
    content:''; position:absolute; top:calc(50% - .5625rem); right:calc(100% + 1rem);
    width:50vw; height:1.25rem;
}

/* Special Title 02 */
.ss-title-02{display:flex; align-items:center;}
.ss-title-02 .title{white-space:nowrap}
.ss-title-02 .desc{padding:0 0 0 1.5rem;}
@media screen and (max-width:767.98px){
    .ss-title-02{display:block;}
    .ss-title-02 .desc{padding:.25rem 0 0 0;}
}


/* Table */
table.table{width:100%; border-spacing:0; border:0; margin:0;}
table.table th, table.table td{
    vertical-align:middle; border-color:transparent;
    border-left:0!important; border-right:0!important;
}
table.table td{
    padding:.625rem .625rem; font-size:.9375rem; font-weight:300;
    border:0; border-bottom:1px solid transparent;
}
table.table td:first-child{padding:.625rem .625rem .625rem 0;}
table.table tr:last-child > td{border-bottom:0;}
table.table td:last-child{padding:.625rem 0 .625rem .625rem; text-align:right;}

/* Table 01 */
table.table.table-01{border-bottom:3px solid transparent;}
table.table.table-01 th{
    padding:.9375rem .25rem; text-align:center; font-size:.9375rem; font-weight:400;
    border:0; white-space:nowrap;
}
table.table.table-01 td{
    padding:.75rem .5rem; text-align:center; font-size:.9375rem; font-weight:400;
    border:0; border-bottom:1px solid transparent!important;
    transition:background .25s, color .25s;
}
table.table.table-01 td.header{text-align:left; border-top:3px solid transparent!important;}
table.table.table-01 .status{font-size:1rem; text-align:center;}
table.table.table-01 .status.unchecked{opacity:.12;}
table.table.table-01 .icon-file:hover{opacity:.75;}
table.table.table-01 .icon-file > img{display:inline-block; height:1.5625rem; width:auto;}

/* Table Download */
table.table.table-download{border:0;}
table.table.table-download td{padding:.75rem .5rem; border:0;}
table.table.table-download td:nth-child(2){width:100%; padding-left:1.25rem;}
table.table.table-download td:last-child{padding-right:1rem;}
table.table.table-download .download-card{
    display:block; width:4rem; min-height:5rem; height:auto;
    border-left:5px solid transparent; padding:.5rem 0; text-align:center;
}
table.table.table-download .download-card img{
    display:block; width:1.5rem; height:auto; margin:0 auto .25rem auto;
}

/* Table Download 02 */
table.table.table-download-02{border:0;}
table.table.table-download-02 td{
    padding:.75rem .5rem; text-align:left;
    border:0; border-bottom:1px solid transparent!important;
}
table.table.table-download-02 td:first-child{padding-left:0;}
table.table.table-download-02 td:last-child{padding-right:0;}
table.table.table-download-02 td.column-icon{width:2.5rem;}
table.table.table-download-02 td.column-icon .icon p{margin:-.3125rem 0 0 0;}
table.table.table-download-02 td.column-text{min-width:24rem;}
table.table.table-download-02 td.column-btn{text-align:right;}


/* Table Contact */
table.table-contact{width:100%;}
table.table-contact td{vertical-align:top; padding:0 .875rem .375rem 0;}
table.table-contact td:last-child{padding-right:0;}
table.table-contact img{
    display:block; width:auto; max-width:.875rem; height:auto; max-height:.8125rem;
    margin:.1875rem 0 0 0;
}

/* Table Stat */
table.table-stat{width:100%; max-width:4.5rem; border:1px solid transparent; margin:0 auto;}
table.table-stat img{display:block; height:1rem; width:auto; margin:0 auto;}
table.table-stat td{border-bottom:1px solid transparent;}
table.table-stat tr:last-child > td{border-bottom:0;}
table.table-stat td:first-child{padding:.3125rem .25rem;}

/* Table Icon */
table.table.table-icon td{border:0; text-align:left!important; padding:.125rem .375rem;}
table.table.table-icon td:first-child{padding-left:0; width:2.75rem;}
table.table.table-icon td:last-child{padding-right:0;}
table.table.table-icon .icon{
    display:flex; align-items:center; justify-content:center;
    width:2.75rem; height:2.75rem; font-size:1.1875rem;
}
/* Table Icon */
table.table.table-icon .icon{background:#4d2224; color:#ffd000;}

/* Table Sizes */
table.table.table-xl td, table.table.table-xl th{padding:.75rem .625rem;}
table.table.table-xl td:first-child,
table.table.table-xl th:first-child{padding:.75rem .625rem .75rem 0;}
table.table.table-xl td:last-child,
table.table.table-xl th:last-child{padding:.75rem 0 .75rem .625rem;}

table.table.table-lg td, table.table.table-lg th{padding:.6875rem .625rem;}
table.table.table-lg td:first-child,
table.table.table-lg th:first-child{padding:.6875rem .625rem .6875rem 0;}
table.table.table-lg td:last-child,
table.table.table-lg th:last-child{padding:.6875rem 0 .6875rem .625rem;}

table.table.table-sm td, table.table.table-sm th{padding:.4375rem .5625rem;}
table.table.table-sm td:first-child,
table.table.table-sm th:first-child{padding:.4375rem .5625rem .4375rem 0;}
table.table.table-sm td:last-child,
table.table.table-sm th:last-child{padding:.4375rem 0 .4375rem .5625rem;}


/* Toggle Target */
.toggle-target{
    display:block; opacity:0; pointer-events:none; transition:opacity .25s;
    border:1px solid transparent; box-shadow:0 0 16px 8px rgba(0,0,0,.05);
    padding:.5rem; position:absolute; z-index:10;
}
.toggle-target.active{opacity:1; pointer-events:auto;}


/* Upload Container */
.upload-container{
    width:100%; display:flex; align-items:center; justify-content:space-between;
    flex-wrap:wrap; padding:1.25rem 2rem;
}
.upload-container .file-container{display:flex; align-items:center; width:17.5rem;}
.upload-container .file-container .icon-container{width:3rem;}
.upload-container .file-container .text-container{width:calc(100% - 3rem);}
.upload-container .btns{width:6.5rem;}
.upload-container .btns > .btn{width:100%;}
@media screen and (max-width:991.98px){
    .upload-container{padding:1.125rem 1.5rem;}
}
@media screen and (max-width:767.98px){
    .upload-container{padding:1rem;}
}
@media screen and (max-width:575.98px){
    .upload-container{justify-content:center;}
    .upload-container .file-container{width:100%;}
    .upload-container .btns{margin-top:1rem;}
}

.text-center{text-align:center!important;}
.text-left{text-align:left!important;}
.text-right{text-align:right!important;}

/* Utility */
.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-300{font-weight:300!important;}
.fw-400{font-weight:400!important;}
.fw-500{font-weight:500!important;}
.fw-600{font-weight:600!important;}
.fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-900{font-weight:900!important;}

.lh-xl{line-height:1.32;}
.lh-lg{line-height:1.22;}
.lh-nm{line-height:1.12;}
.lh-sm{line-height:1.02;}
.lh-xs{line-height:.92;}
.lh-2xs{line-height:.82;}
.lh-3xs{line-height:.72;}

.op-100{opacity:1!important;} .op-0{opacity:0!important;}
.op-10{opacity:.1!important;} .op-20{opacity:.2!important;} .op-30{opacity:.3!important;}
.op-40{opacity:.4!important;} .op-50{opacity:.5!important;} .op-60{opacity:.6!important;}
.op-70{opacity:.7!important;} .op-80{opacity:.8!important;} .op-90{opacity:.9!important;}

.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-inline{display:inline!important;}
.d-inline-block{display:inline-block!important;}
.d-none{display:none!important;}

.jc-start{justify-content:flex-start!important;}
.jc-center{justify-content:center!important;}
.jc-end{justify-content:flex-end!important;}
.jc-space-between{justify-content:space-between!important;}
.jc-space-evenly{justify-content:space-evenly!important;}
.ai-center{align-items:center!important;}
.ai-start{align-items:flex-start!important;}
.ai-end{align-items:flex-end!important;}
.ai-unset{align-items:unset!important;}
.fw-wrap{flex-wrap:wrap!important;}
.fw-unset{flex-wrap:unset!important;}

.flex-column{flex-direction:column!important;}

.width-auto, .w-auto{width:auto!important;}
.width-full, .w-full{width:100%!important; max-width:100%!important;}
.height-auto, .h-auto{height:auto!important;}
.height-full, .h-full{height:100%!important; max-height:100%!important;}

.ws-nowrap{white-space:nowrap!important;}
.ws-normal{white-space:normal!important;}
.no-br > br{display:none;}

.no-border{border:0!important;}
.no-border-bottom{border-bottom:0!important;}
.border{border:1px solid transparent!important;}
.border-2{border:2px solid transparent!important;}
.border-3{border:3px solid transparent!important;}
.border-4{border:4px solid transparent!important;}
.border-6{border:8px solid transparent!important;}
.border-top-0{border-top:0!important;}
.border-top{border-top:1px solid transparent!important;}
.border-top-2{border-top:2px solid transparent!important;}
.border-top-3{border-top:3px solid transparent!important;}
.border-top-4{border-top:4px solid transparent!important;}
.border-bottom-0{border-bottom:0!important;}
.border-bottom{border-bottom:1px solid transparent!important;}
.border-bottom-2{border-bottom:2px solid transparent!important;}
.border-bottom-3{border-bottom:3px solid transparent!important;}
.border-bottom-4{border-bottom:4px solid transparent!important;}
.border-left-0{border-left:0!important;}
.border-left{border-left:1px solid transparent!important;}
.border-left-2{border-left:2px solid transparent!important;}
.border-left-3{border-left:3px solid transparent!important;}
.border-left-4{border-left:4px solid transparent!important;}
.border-right-0{border-right:0!important;}
.border-right{border-right:1px solid transparent!important;}
.border-right-2{border-right:2px solid transparent!important;}
.border-right-3{border-right:3px solid transparent!important;}
.border-right-4{border-right:4px solid transparent!important;}

.bradius-round{border-radius:.375rem!important;}

.no-bradius{border-radius:0!important;}
.no-padding{padding:0!important;}
.box-shadow{box-shadow:0px 5px 20px 10px rgba(0,0,0,.1);}

.ovf-hidden{overflow:hidden!important;}
.ovf-visible{overflow:visible!important;}
.clear-both{clear:both!important;}

.va-baseline{vertical-align:baseline!important;}
.va-middle{vertical-align:middle!important;}

@media screen and (max-width:1199.98px){
    .lg-no-br > br{display:none;}
}
@media screen and (max-width:991.98px){
    .md-no-br > br{display:none;}
}
@media screen and (max-width:767.98px){
    .sm-no-br > br{display:none;}
}
@media screen and (max-width:575.98px){
    .xs-no-br > br{display:none;}
    .xs-hide{display:none;}
}



/* Spacing */
.p-0{padding:0!important;}
.p-1{padding:.25rem!important;} .p-2{padding:.5rem!important;}
.p-3{padding:.75rem!important;} .p-4{padding:1rem!important;}
.p-5{padding:1.25rem!important;} .p-6{padding:1.5rem!important;}
.pt-0{padding-top:0!important;} 
.pt-1{padding-top:.25rem!important;} .pt-2{padding-top:.5rem!important;} 
.pt-3{padding-top:.75rem!important;} .pt-4{padding-top:1rem!important;}
.pt-5{padding-top:1.25rem!important;} .pt-6{padding-top:1.5rem!important;}
.pr-0{padding-right:0!important;} 
.pr-1{padding-right:.25rem!important;} .pr-2{padding-right:.5rem!important;} 
.pr-3{padding-right:.75rem!important;} .pr-4{padding-right:1rem!important;}
.pr-5{padding-right:1.25rem!important;} .pr-6{padding-right:1.5rem!important;}
.pb-0{padding-bottom:0!important;} 
.pb-1{padding-bottom:.25rem!important;} .pb-2{padding-bottom:.5rem!important;}
.pb-3{padding-bottom:.75rem!important;} .pb-4{padding-bottom:1rem!important;}
.pb-5{padding-bottom:1.25rem!important;} .pb-6{padding-bottom:1.5rem!important;}
.pl-0{padding-left:0!important;} 
.pl-1{padding-left:.25rem!important;} .pl-2{padding-left:.5rem!important;}
.pl-3{padding-left:.75rem!important;} .pl-4{padding-left:1rem!important;}
.pl-5{padding-left:1.25rem!important;} .pl-6{padding-left:1.5rem!important;}

.m-0{margin:0!important;} .m-auto{margin-left:auto!important; margin-right:auto!important;}
.m-1{margin:.25rem!important;} .m-2{margin:.5rem!important;}
.m-3{margin:.75rem!important;} .m-4{margin:1rem!important;}
.m-5{margin:1.25rem!important;} .m-6{margin:1.5rem!important;}
.mt-0{margin-top:0!important;} 
.mt-1{margin-top:.25rem!important;} .mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:.75rem!important;} .mt-4{margin-top:1rem!important;}
.mt-5{margin-top:1.25rem!important;} .mt-6{margin-top:1.5rem!important;}
.mr-0{margin-right:0!important;} 
.mr-1{margin-right:.25rem!important;} .mr-2{margin-right:.5rem!important;}
.mr-3{margin-right:.75rem!important;} .mr-4{margin-right:1rem!important;}
.mr-5{margin-right:1.25rem!important;} .mr-6{margin-right:1.5rem!important;}
.mb-0{margin-bottom:0!important;} 
.mb-1{margin-bottom:.25rem!important;} .mb-2{margin-bottom:.5rem!important;}
.mb-3{margin-bottom:.75rem!important;} .mb-4{margin-bottom:1rem!important;}
.mb-5{margin-bottom:1.25rem!important;} .mb-6{margin-bottom:1.5rem!important;}
.ml-0{margin-left:0!important;} 
.ml-1{margin-left:.25rem!important;} .ml-2{margin-left:.5rem!important;}
.ml-3{margin-left:.75rem!important;} .ml-4{margin-left:1rem!important;}
.ml-5{margin-left:1.25rem!important;} .ml-6{margin-left:1.5rem!important;}


.pos-relative{position:relative!important;}
.pos-absolute{position:absolute!important;}
.pos-fixed{position:fixed!important;}
.pos-sticky{position:sticky!important;}